/* :root {
//     background-color: #555;
//     color: white;
//     font-size: 25vh;
//     font-family: Roboto Light;
// }

body, html {
    margin: 0;
    height: 100%;
}*/

.odometerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.odometer {
    overflow: hidden;
    height: 20px;
    box-shadow: 0 0 0.05rem black inset;
    margin: 0 10px;
    text-align: center;
    color: #333333;
    .digit {
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        transition: margin-top 1.5s ease;
        /*border-right: 1px solid #555;
        padding: 1px 0.2rem;*/
        font-size: 16px;
        color:#fff;
    }
}
