.starRatingsSprite {
  background: url("/img/rating.png") repeat-x;
  background-size: 18px;
  font-size: 0;
  height: 16px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 90px;
}
.starRatingsSpriteRating {
  background: url("/img/rating.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 16px;
  display: block;
  background-size: 18px;
}