
          .nbt-list [data-plugin=ctn]{padding-bottom: 2%!important; border-bottom: 1px solid #dfdfdf !important;}
  
            .story-article {color: #000;}
            .article-section {background: #fff;}
            .news_card{margin:0 0 4%;}
            .news_card h1{font-size:1.8rem;line-height:2.8rem;padding:10px 3% 5px;color:#000; margin:0}
            .news_card .news_card_source{margin:0 3% 10px;display:inline-block;font-size:1.2rem;color:#a0a0a0;}
            .backToBrandwire{padding:10px 3% 0;}
            .backToBrandwire a{color: #999; font: normal 1.1rem/1.4rem arial,sans-serif; text-transform: uppercase; position:relative; display:block; margin-left:12px;}
            .story-article img {max-width: 100%; height: auto;}
            .story-article .story-content{padding:0 4% 20px 4%; font-size: 1.5rem; line-height: 2.8rem; word-wrap:break-word;}
            .story-article .story-content p.inlinetext{margin:0}
            .share_icon{display:none}
            .news_card .enable-read-more {padding: 0 3% 10px;}
            .enable-read-more .first_col {width: 90%; display: inline-block; vertical-align: top;}
            .enable-read-more .second_col{width: 10%; vertical-align:bottom; margin: 0 0 5px; display: inline-block;}
            .enable-read-more .caption, .clone-caption {font-size: 1.4rem; line-height: 2.2rem; max-height: 4.4rem; transition: max-height .4s ease-out; font-weight: normal; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; margin:0}
            .adsForThirdparty {margin:5px 0 0 0}
            .adsForThirdparty img{width:auto; height:auto}

            .story-article .img_wrap {margin: 0 0 2%; position: relative;}
            .story-article .img_wrap .img_caption {margin:0; padding: 10px 0 5px; color: #8d8d8d; font-size: 1.2rem; line-height: 1.6rem;}
            .story-article .news_card .img_wrap{min-height:240px;}

            .mobile_body .story-article .news-card.banner-image{width: auto; margin-top: 4%; border: 0; padding: 0;}

            .mobile_body .briefwidget {min-height: 400px;}


            .yContainer{text-align: right; margin: 0 3% 3px 0; display:block; overflow:hidden;} 
            .yContainer span{display: inline-block; vertical-align:top; text-transform: uppercase; font-size: 12px; line-height: 28px; color: #716f6f; margin: 0 10px 0 0; height: 24px;}
            .yContainer div{width: 120px !important;}
            .story-article .news_card .yContainer, .videolist-container .top-news-content .yContainer, .videoshow-container.box-content .yContainer{padding:8px 3% 2px 0; background: #eaeaea; border-bottom: 1px solid #c6c6c6; margin:0}
            .videoshow-container.box-content .yContainer{margin:10px 0 0 0}
            .box-content .yContainer{background:transparent}
            .master-player-container .yContainer{display:none}


            .recipeArticle .con_review_rate{display:none}
            .recipeArticle .time_calor{font-size: 12px; background-color: #f2f2f2; padding: 10px 0; overflow:hidden; margin:0 0 20px}
            .recipeArticle .time_calor ul{margin:0; padding:0; white-space:nowrap;}
            .recipeArticle .time_calor ul li{display:inline-block; vertical-align:top; width:33%; text-align:center;}
            .recipeArticle .time_calor .txt_innner {display: inline-block; vertical-align: middle; text-align: left; color:#333;}
            .recipeArticle .time_calor ul li i{display:inline-block; vertical-align:top;}
            .recipeArticle .time_calor ul li span {font-size:14px; line-height:12px; font-weight:bold; font-family:arial; display:block; margin-top: 3px;}
            .recipeArticle .time_calor ul li svg{ width:28px; height:28px; display: inline-block; vertical-align: middle; margin-right: 8px; color:#333;}
            .recipe_ingriedient{border-bottom:1px solid #d8d8d8; padding: 0 4% 20px 4%; margin-bottom: 15px}
            .recipe_ingriedient h4{color: #525252; font-size: 2.0rem; margin: 5px 0 20px; text-transform: uppercase;}


            .default-outer-player .default-player{top: 0; width: 100%;}
            .default-outer-player .inlinevideo{position: absolute; margin: auto; bottom: 0; left: 0; right: 0; padding: 10px 3% 5px; color: #fff;}
            .default-outer-player .inlinevideo .text_ellipsis{font-size: 1.2rem; line-height: 1.6rem;}
            
            .tp_icondiv .tp_points {display: inline-block; width: 25px; height: 25px; border-radius: 50%; background-image: linear-gradient(135deg, #3023ae, #cf10ef 102%);}
            .news_card_source {width: 80%; display: inline-block;}
            .news_card .enable-read-more .caption{color: #7d7d7d;}
            .mobile_body .top-article {padding: 3%;}
            .mobile_body .tp-widget-wrapper{min-height:60px;}
            .top-article li {padding: 0 0 0px 15px;font-size: 1.4rem;line-height: 2.2rem;}
            .top-article h3 {font-size: 16px;margin: 0 0 5px;}
            .story-article iframe.amzproduct{height:185px}
            .story-article .story-content [data-plugin=ctn] {width: auto !important; margin: 2% -4% !important; min-height: 100px !important;}
            .article-section .story-article .story-content [ctn-style=ctnbccl] {width: auto !important; margin: 2% -4% !important; height: 120px !important; overflow-y: auto;}
            .article-section .story-article .story-content .top-img-ad{min-height:390px}
            .article-section .story-atf-wrapper {min-height: 250px;}
            .article-section .story-article .adCANContainer {min-height: 850px;}
            .article-section .story-article  .ad1 {min-height: 250px;}
            .article-section .story-article  .ad1:empty {min-height: 0px;}
  
            li.moviereview-listview {margin: 0 3% 4%; padding-bottom: 4%; width:auto;}
            li.moviereview-listview .img_wrap{position:relative; width:35%; vertical-align:top;}
            li.moviereview-listview .img_wrap img{vertical-align:bottom; width: 100%; height: auto;}
            li.moviereview-listview .con_wrap {text-align: left; word-break: break-word; padding: 0 0 0 10px; vertical-align: top; position: relative;}
            li.moviereview-listview .rating{display:none}
            li.moviereview-listview .con_wrap .title{font-size: 1.6rem; line-height: 2.4rem; font-weight: 600; margin: 0 0 5px; display: block;}
            li.moviereview-listview .con_wrap .cast{margin: 0 0 15px;}
            li.moviereview-listview .text_ellipsis{font-size: 1.4rem; line-height: 2.2rem;}
            li.moviereview-listview .des{font-size: 1.4rem; line-height: 2.2rem; display: block;}

            li.moviereview-listview.lead-post{margin:0 0 4%; width: 100%;}
            li.moviereview-listview.lead-post .table_row .poster-bg{position: absolute; object-fit: cover; width: 100%; height:174px;}
            li.moviereview-listview.lead-post .img_wrap{width: auto; text-align: center;}
            li.moviereview-listview.lead-post .img_wrap img{width:auto; max-width: 140px; max-height: 187px; margin: 15px 15px 0; box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1); border: 5px solid #fff;}
            li.moviereview-listview.lead-post .con_wrap{padding:15px 10px 0 0; box-sizing: border-box; width: 100%}

            .moviereview-summaryCard .poster_card{position:relative; height:300px; background:#333;}
            .moviereview-summaryCard h1 {font-size: 1.8rem; line-height: 2.8rem; padding: 15px 0 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-height: 5.6rem;}
            .moviereview-summaryCard .img_wrap{width: 120px; vertical-align: top; text-align: left; position: relative;}
            .moviereview-summaryCard .img_wrap img{border:4px solid #fff; max-width: 120px; max-height: 160px; width:auto;}
            .moviereview-summaryCard .img_wrap .video_icon {border: 0;width: 40px; height: 40px;top: 0; left: 0; margin: auto;}
            .moviereview-summaryCard .con_wrap {text-align: left; word-break: break-word; padding: 0 0 0 10px; vertical-align: top; position: relative; width:100%}
            .moviereview-summaryCard .con_wrap .cast{font-size: 1.8rem; line-height: 2.6rem; max-height: 7.8rem; -webkit-line-clamp: 3;}
            .moviereview-summaryCard .con_wrap .des{font-size: 1.4rem; line-height: 2.0rem; display: block; position: absolute; bottom: 0}
            .moviereview-summaryCard .con_wrap .des span{display: block;}
            .moviereview-summaryCard .con_poster{position: absolute; z-index: 2; background: transparent; padding: 0 3%; left: 0; right: 0; top: 0; bottom: 0; color:#fff}
            .moviereview-summaryCard .rating {margin: 10px 0 0 0;}
            .moviereview-summaryCard .con_review_rate, .listen-on{display:none}
            .moviereview-summaryCard .con_review_rate{height:37px;}
  
            #childrenContainer .wdt_top_section ul li span.table_col.img_wrap{min-height:205px;width:100%;}
            #childrenContainer .wdt_sections ul li span.table_col.img_wrap{min-height:86px;width:100%;}
            #childrenContainer .wdt_top_section .view-horizontal li span.table_col.img_wrap{min-height:112px;width:100%;}
            .mobile_body .videolist .wdt_sections.video ul {padding: 0;}
            .mobile_body .wdt_sections {padding: 0 3%;}
            .mobile_body .wdt_sections .section .top_section h1 span {height: auto;line-height: 2.8rem;padding: 10px 10px 5px 0;display: inline-block;}
            .mobile_body .wdt_sections.video ul li {padding: 0 0 4%;}
            .mobile_body .wdt_sections .section .top_section{margin-left: 5px;margin-right: 5px;}
            .news.news-card.lead.col12.con_ads{min-height:250px;}
            .mobile_body .wdt_top_section, .mobile_body .wdt_next_sections {padding: 2% 0 4%;margin: 0 0 4%;}
            .mobile_body .wdt_top_section .section .top_section, .mobile_body .wdt_next_sections .section .top_section {margin-left: 0;margin-right: 0;margin-bottom: 0;}
            .mobile_body .wdt_top_section .section {height:76px;}
            .videolist .con_social{margin-right: 3%;}
            .videolist .con_social .youtube-iframe{margin-left: auto; padding: 0 0 3% 0;}
            .wdt_top_section .section .top_section .read_more {display:none}
            .mobile_body .L1.videolist .wdt_top_section .lead .img_wrap img{height: calc((100vw - 30px) * 300 / 540);}
            .mobile_body .L2.videolist .wdt_sections .lead .img_wrap img{min-height: calc(100vw * 300 / 540);}
            .mobile_body .wdt_top_section.video .view-horizontal li.vertical .img_wrap img, .mobile_body .wdt_next_sections.video .view-horizontal li.vertical .img_wrap img {width: 200px; height: calc(200px * 300 / 540)}
            .mobile_body .wdt_top_section ul.view-horizontal li.vertical .img_wrap img, .mobile_body .wdt_next_sections ul.view-horizontal li.vertical .img_wrap img{width: 127px; height: calc(127px * 300 / 540)}
  
            .breadcrumb {padding: 10px 4% 5px;background: #fff;}
            .breadcrumb ul {line-height: 1.8rem;}
            .breadcrumb ul li{list-style-type: none;display: inline;}
            .breadcrumb ul li a, .breadcrumb ul li a span {color: #333;text-decoration: none;font-size: 1.1rem;vertical-align: top;line-height: 1.6rem;font-weight: bold;}
            .mobile_body .videoshow-container.hypervideo .top_wdt_video {padding: 0;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_social{width: 100%;height: 45px;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_wrap {margin: 10px 3%;}
            .top_wdt_video .row .col8 .con_wrap .more_items {margin: 0;}
            .mobile_body .videoshow-container .top_wdt_video .section {margin: 10px 0 10px;box-sizing: border-box;}
            #parent_video_show_container{min-height: 200px;width:100%; background-size: contain; background-position: 50%; background-repeat: no-repeat;}
            .breadcrumb ul li span {font-size: 1.1rem;line-height: 1.6rem;vertical-align: top;}
            .videoshow-container .top_wdt_video .section h1 span {line-height: 2.6rem; height: auto;}
            .tpstory_title h1 {display: inline-block;width: 90%;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_wrap .text_ellipsis {font-size: 1.2rem; line-height: 2.2rem;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_wrap {margin: 10px 3%;}
            .mobile_body .videoshow-container.hypervideo .top_wdt_video .row .col8 .con_wrap .more_items {margin: 0;font-family: arial;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_wrap .more_items span {vertical-align: top;font-size: 1.0rem;}
            .mobile_body .videoshow-container .top_wdt_video .enable-read-more .first_col {width: 90%;}
            .enable-read-more .more {max-height: none;}
            #video_show_container{height: 200px;width:100%;}
            #video_show_container .image-container{z-index: 9999;position: absolute;}
            .mobile_body .videoshow-container .nbt-list li:nth-child(2n+2) {margin-left: 4%;}
            .mobile_body .videoshow-container .nbt-list li {background: transparent;width: 48%;min-height: 100px;margin: 0 0 4% 0;padding: 0;display: inline-block;position: relative;box-sizing: border-box;}
            .mobile_body .videoshow-container {background: #fff;overflow: hidden;}
            .mobile_body .videoshow-container .section_videos {padding: 4% 4% 0 !important; margin-bottom: 50px;}
            .mobile_body .videoshow-container .section_videos {margin-bottom: 50px;}
            .mobile_body .videoshow-container .nbt-list li {width: 48% ;margin: 0 0 4% 0;}
            .mobile_body .videoshow-container .nbt-list li .con_wrap {display:block;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_wrap .enable-read-more .caption{-webkit-line-clamp: unset;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_social .yContainer {display: -ms-flexbox;display: flex;float: right;}
            .mobile_body .videoshow-container .tpstory_title .tp_icondiv {vertical-align: top;}
            .mobile_body .videoshow-container .top_wdt_video .section h1 {border-bottom: 0;margin: 0;font-size: 1.6rem;height: auto;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_social {margin: 0 3%;display: block;}
            .card_breaking_news .table {table-layout: fixed;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_social .share_icon {position: initial;display: inline-block;vertical-align: top;width: 35px;height: 35px;margin: 10px 0 0;border-radius: 50%;}
            .mobile_body .videoshow-container .top_wdt_video .row .col12 .section .top_section h3 {margin: 0; padding:0;font-size: 1.8rem; border-bottom: 2px solid #dfdfdf; height: 40px;}
            .mobile_body .videoshow-container .section .top_section {margin: 0 0 4%;}
            .mobile_body .tpstory_title h1 {display: inline-block;width: 90%;}
            .mobile_body .videoshow-container .nbt-list {display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
            .mobile_body .videoshow-container .top_wdt_video .row .col8 .con_social .youtube-iframe {display: -ms-flexbox; display: flex; float: right;}
  
            .lb_container .lb_summaryCard{background:#fff;}
            .mobile_body .lb_container .lb_summaryCard h1 { margin-top: -7px; }
            .mobile_body .lb_container .lb_summaryCard .lb_top_summary {min-height: 120px;}
            .lb_container .lb_summaryCard h1{font-size: 1.6rem; line-height: 2.4rem; padding: 0;}
            .lb_container .lb_summaryCard .source{margin: 0 0 10px; display: block; font-size: 1.1rem;}
            .lb_container .lb_summaryCard .caption{font-size: 1.1rem; display: block; padding: 5px 0 0; line-height: 1.7rem; margin-bottom: 10px;}
            .lb_container .livepost li.livelist{margin:0 0 4%;padding:3%;font-size:1.6rem;line-height:2.8rem;background:#fff;}
            .lb_container .lb_summaryCard .lbimg { float: left; width: 100px; border: 2px solid #fff; margin: 0 15px 10px 0; height: calc(100px * 405 / 540)}
            .lb_container .lb_summaryCard .lb_top_summary{padding: 15px}
  
            .photomazzashow-content{background:#fff;}
            .photomazzashow-content h1{padding:15px 3%;text-align:left;font-size:2.0rem;line-height:3.0rem;color:#000;}
            .photomazzashow-content .pwa-deals{min-height:310px; margin-top: 4%; margin-left: 3%; margin-right: 3%; padding-top: 4%;}
            .photomazzashow-content .inline_app_download{padding: 15px 3%; min-height: 60px; box-sizing: border-box;}
            .photomazzashow-content .tp_icondiv{vertical-align:top;}
            .photo_story li.photo_card{background:#282e34;}
            .photo_story li.photo_card .readmore{display:none}
            .photo_story li.photo_card .photo_des{padding:20px 3%;color:#9e9e9e;}
            .photo_story li.photo_card h2{font-size:2.0rem;line-height:30px;font-weight:normal;margin:0 0 15px;color:#ffffff;}
            .photo_story li.photo_card .caption{font-size:1.6rem;line-height:2.4rem; word-break: break-word;}
            .title_with_tpicon {padding: 15px 3%;}
            .title_with_tpicon h1 {display: inline-block;width: 90%;padding: 0;margin: 0;}
            .photo_story li.photo_card .pagination {position: absolute;top: 3%;}
            .photo_story li.photo_card h2 {font-size: 1.8rem;line-height: 2.8rem;margin: 0 0 10px;}
            .photo_des .photo_con{margin:0}
            .photo_story li.photo_card {position: relative;}
            .photo_story li.photo_card .pagination span {padding: 0 10px;font-size: 1.4rem;line-height: 30px;font-family: arial;display: block;}
            .photo_story li.photo_card .share_icon {position: absolute;bottom: 10px;right: 10px;background: rgba(0, 0, 0, 0.5);box-shadow: none;width: 40px;height: 40px;}
            .share_icon span {padding: 12px;display: block;}
            .photo_story li.photo_card .place_holder {position: relative;background: #e8e8e8;}
            .photo_story li.photo_card .place_holder .adgsplash_float {bottom:0;}
            .photo_story li.photo_card .photo_des .table_col:last-child {width: 10%;vertical-align: bottom;margin: 0 0 20px;}
            .photo_story li.photo_card .photo_des .photo_con .table{margin: 0;}
            .photo_story li.photo_card .readmore {position: relative;}
            .photo_story li.photo_card .caption{font-size:1.6rem;line-height:2.4rem; word-break: break-word;}
            .photo_story li.photo_card .photo_des .caption p {margin: 0}
  
            .briefbox { white-space:normal;}
            .slide_list li{margin:15px auto; width: 100%; overflow: hidden; border: 1px solid #d5d5d5; box-shadow: 0 2px 5px #b8b8b8;white-space:normal;}
            .slide_list li .top_content{position: relative; overflow: hidden;}
            .slide_list li .top_content .share_icon {position: absolute; top: 0px; right: 0px; background: transparent; box-shadow: none; width: 40px; height: 40px;}
            .slide_list li .top_content .counter {padding: 0 6px;left: 5px;position: absolute;background: #000;top: 5px;box-shadow: none;font-size: 1.3rem;color: #ffffff; height:28px; line-height:28px;}
            .slide_list li .top_content .share_icon svg {width: 15px;}
            .slide_list li .top_content .shareModalContainer .social-table svg{width:48px;}
            .slide_list li .top_content .shareModalContainer .socialText{margin-top:5px}
            .slide_list li  .more{font-size: 1.3rem;color: #000; display:block; text-align:right; padding:0 3%;}
            .slide_list li .img_wrap{vertical-align:top}
            .slide_list li .img_wrap img {vertical-align: bottom; width: 100%; height: auto;}
            .slide_list li .con_wrap {color:#000;  margin: auto; bottom: 0; padding: 15px 3% 10px; }
            .slide_list li .text_ellipsis {font-size: 1.6rem; line-height: 2.6rem; margin-bottom:10px; font-weight:bold;}
            .slide_list li .time-caption {font-size: 1.1rem; line-height: 1.2rem; display: inline-block; font-weight: normal;}
            .slide_list li .bottom_content{margin:3%; font-size: 1.4rem; line-height: 2.2rem; min-height:130px}
            .slide_list li .bottom_content ul li{font-size: 1.4rem; line-height: 2.2rem; color:#333333; border: 0;  box-shadow: none; margin: 0 0 0 15px; position: relative; overflow: initial; width: auto; display: block;}
            .slide_list li .bottom_content .wdt_download_app{display:none}
            .slide_list li .bottom_content.app_in_brief{position:relative;}
            .slide_list li .bottom_content.app_in_brief ul li, .slide_list li .bottom_content.app_in_brief ul{color:#cecece}
            .slide_list li .bottom_content.app_in_brief .wdt_download_app{display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; background:#fff; color:#000; font-size:1.8rem; line-height:2.8rem; opacity:.9; text-align:center;}
            .slide_list li .wdt_download_apptooltip{display:block;text-align:center; position:absolute; bottom:40px; left:0; right:0; width:80%; margin:auto; background:#fff; color:#000; font-size:1.8rem; line-height:2.8rem; opacity:.9;}
            .slide_list li .bottom_content.app_in_brief .wdt_download_app b{display:block; margin:20px 0 10px}
            .slide_list li .bottom_content.app_in_brief .btn_app_download{background:#ff0000; font-size:1.6rem; height:30px; line-height:34px; padding:0 20px; border-radius:15px; display: inline-block; color: #fff; cursor:pointer;}
            .slide_list li .btn_app_downloadtooltip{background:#000000; font-size:1.4rem;line-height:20px; padding:8px 20px 5px; border-radius:15px; display: inline-block; color: #fff; cursor:pointer;}
            .briefbox .swipperParentDiv .article-section{ overflow:initial} 
            .landscape-mode{display:none}    
    
            .section-topics.glossary-list .section .top_section {position: relative; margin: 0 3% 4%;}
            .section-topics.glossary-list .section h2, .section-topics.glossary-list .section h1{font-size:1.8rem; margin:0}
            .mobile_body .section-topics.glossary-list{padding:0; background:#fff}
            .mobile_body .section-topics.glossary-list .only-heading .section{padding:0;}
            .mobile_body .section-topics.glossary-list .only-heading .section h1, .mobile_body .section-topics.glossary-list .only-heading .section h1 span:before{border:0;}
            .mobile_body .section-topics.glossary-list .tabs-circle{margin-bottom:0;}
            .mobile_body .section-topics.glossary-list .tabs-circle ul{flex-wrap:nowrap;overflow-x:auto; display: flex;}
            .mobile_body .section-topics.glossary-list .tabs-circle ul li{margin:0 20px 10px 0;border-radius:50%;border:solid 1px #575960;background:#fff;}
            .mobile_body .section-topics.glossary-list .tabs-circle ul li, .mobile_body .section-topics.glossary-list .tabs-circle ul li a{height:42px;width:42px;align-items:center;justify-content:center;text-transform:uppercase;color:#1f81db;font-size:16px;padding:0;display:flex;line-height:normal;flex-shrink:0;overflow:hidden;}
            .mobile_body .section-topics.glossary-list .tabs-circle ul li.active{background:#000;color:#fff;}
            .mobile_body .section-topics.glossary-list .tabs-circle:after{display:none;}
            .mobile_body .section-topics.glossary-list .wdt_glossary{overflow:hidden;clear:both;}
            .mobile_body .section-topics.glossary-list .wdt_glossary .section{padding:0;}
            .mobile_body .section-topics.glossary-list .wdt_glossary .box-item{padding-bottom:0;}
            .mobile_body .section-topics.glossary-list .wdt_glossary .box-item .news-card{margin-bottom:5px;border:0;padding-bottom:5px;}
            .mobile_body .section-topics.glossary-list .wdt_glossary .box-item .news-card .con_wrap .text_ellipsis{font-size:1.4rem;line-height:2.2rem;max-height:4.4rem;-webkit-line-clamp:2;word-break:break-word;}
    
            .photomazzashow-content{background:#fff;}
            .photomazzashow-content h1{padding:15px 3%;text-align:left;font-size:2.0rem;line-height:3.0rem;color:#000;}
            .photomazzashow-content .pwa-deals{min-height:310px; margin-top: 4%; margin-left: 3%; margin-right: 3%; padding-top: 4%;}
            .photomazzashow-content .inline_app_download{padding: 15px 3%; min-height: 60px; box-sizing: border-box;}
            .photomazzashow-content .tp_icondiv{vertical-align:top;}
            .photo_story li.photo_card{background:#282e34;}
            .photo_story li.photo_card .readmore{display:none}
            .photo_story li.photo_card .photo_des{padding:20px 3%;color:#9e9e9e;}
            .photo_story li.photo_card h2{font-size:2.0rem;line-height:30px;font-weight:normal;margin:0 0 15px;color:#ffffff;}
            .photo_story li.photo_card .caption{font-size:1.6rem;line-height:2.4rem; word-break: break-word;}
            .title_with_tpicon {padding: 15px 3%;}
            .title_with_tpicon h1 {display: inline-block;width: 90%;padding: 0;margin: 0;}
            .photo_story li.photo_card .pagination {position: absolute;top: 3%;}
            .photo_story li.photo_card h2 {font-size: 1.8rem;line-height: 2.8rem;margin: 0 0 10px;}
            .photo_des .photo_con{margin:0}
            .photo_story li.photo_card {position: relative;}
            .photo_story li.photo_card .pagination span {padding: 0 10px;font-size: 1.4rem;line-height: 30px;font-family: arial;display: block;}
            .photo_story li.photo_card .share_icon {position: absolute;bottom: 10px;right: 10px;background: rgba(0, 0, 0, 0.5);box-shadow: none;width: 40px;height: 40px;}
            .share_icon span {padding: 12px;display: block;}
            .photo_story li.photo_card .place_holder {position: relative;background: #e8e8e8;}
            .photo_story li.photo_card .place_holder .adgsplash_float {bottom:0;}
            .photo_story li.photo_card .photo_des .table_col:last-child {width: 10%;vertical-align: bottom;margin: 0 0 20px;}
            .photo_story li.photo_card .photo_des .photo_con .table{margin: 0;}
            .photo_story li.photo_card .readmore {position: relative;}
            .photo_story li.photo_card .caption{font-size:1.6rem;line-height:2.4rem; word-break: break-word;}
            .photo_story li.photo_card .photo_des .caption p {margin: 0}
  
            .mobile_body .wdt_top_section .section .top_section h2, .mobile_body .wdt_top_section .section .top_section h1, .mobile_body .wdt_next_sections .section .top_section h2, .mobile_body .wdt_next_sections .section .top_section h1 {border-bottom: 0;}
            .mobile_body .wdt_top_section .section .top_section, .mobile_body .wdt_next_sections .section .top_section {margin-left: 0; margin-right: 0; margin-bottom: 0;}
            .mobile_body .wdt_top_section, .mobile_body .wdt_next_sections {padding: 2% 0 4%; margin: 0 0 4%;}
            .mobile_body .wdt_top_section .news-card.lead .con_wrap {margin-left: 0; margin-right: 0;}
            .news-card.lead .con_wrap .section_name {font-size: 1.3rem; margin-bottom: 5px;}
            .mobile_body .view-horizontal {-ms-flex-wrap: nowrap; flex-wrap: nowrap; overflow-x: auto;}
            .mobile_body .wdt_top_section ul.view-horizontal li.vertical, .mobile_body .wdt_next_sections ul.view-horizontal li.vertical {margin: 0; padding: 0 15px 0 0;}
            .mobile_body .wdt_top_section ul.view-horizontal li.vertical .img_wrap img {width: 140px;}
            .ad1.mrec, .ad1.mrec1, .ad1.mrec2 {min-height: 250px; z-index: 1; margin: auto; padding: 0;}
            .photolist .news-card.lead .img_wrap img{width:100%; height: calc((100vw - 30px) * 0.75)}
            .mobile_body .L2.photolist .wdt_sections .vertical .img_wrap img{width: 154px; height: calc(154px * 405 / 540);}
  
            body.webview .wdt_btn .btn_result.live_updates, body.webview .state_wise_widget, body.webview .top_notification, body.webview .wdt_election_result .share_icon, body.webview .right-open-in-app{display:none}
            .star_candidates_widget .scroll_content{white-space: nowrap; margin: 0 0 1%}
            .star_candidates_widget h2.election_h2{margin-bottom: 5px;}
            .right-open-in-app, .right-open-in-app:hover, .right-open-in-app:visited{color: #fff; font-size: 10px; text-transform: uppercase; display: inline-block; width: 42px; text-align: center; background: #E55E40; border-radius: 2px; padding: 4px 0 3px; font-family: arial; position: absolute; right: 3%; top: 57px; outline:none}
            .right-open-in-app span{display: block; margin-bottom: 1px;}    
            .highcharts-contextbutton{display:none}
            .star-candidates {width:100%; box-sizing:border-box;}
            .star_candidates_widget {background:#e6ecee; padding: 0 10px 20px; box-sizing:border-box; width:100%;}
            .star_candidates_widget .h2WithViewMore {margin: 0 0 10px 10px;}
            .mobile_body .star_candidates_widget .section {padding: 0;}
            .mobile_body .star_candidates_widget .section .top_section {margin:0 0 10px;}
            .mobile_body .star_candidates_widget .section .top_section h2 {font-size:22px; color: #000; background: transparent; padding: 0;}
            .mobile_body .star_candidates_widget .section .top_section h2 span, .star_candidates_widget .section .top_section h2 a {color: #000;}
            .candidate_box {height:100%; box-sizing:border-box; font-weight:bold; border-radius: 5px; box-shadow: 0 0 4px 0 #c8d5d9; background-color: #ffffff; padding: 10px; text-align:center; margin: 2px;}
            .candidate_box .candidate_imgwrap {display:inline-block; position:relative; margin-bottom:10px}
            .candidate_box .candidate_imgwrap img {width:96px; height:96px; border-radius:50%; border:1px solid #e6ecee; padding:8px; box-sizing:border-box; object-fit: cover;}
            .candidate_box .candidate_name {font-size: 0.9rem; display:block; text-align: center; max-width: 100%; overflow:hidden; text-overflow:ellipsis; margin: 0 auto; white-space: nowrap;}
            .candidate_box .constituency {font-size: 0.9rem; color:#8c8c8c; display:block; marging: 5px 0 10px;}
            .candidate_box .party-name {font-size: 0.7rem; color:#8c8c8c; display:inline-block; color:#fff; border-radius:5px; padding: 5px 15px; text-transform:uppercase;}
            .candidatelist {padding: 0 15px;}
            .candidatelist .slide {margin-bottom: 15px; margin-right: 2%; width: 49%; box-sizing: border-box;}
            .candidatelist .slide:nth-child(2n) {margin-right: 0;}
            .mobile_body .result_inner .combinedchartbox {width:100%;box-sizing:border-box;margin-bottom: 0;}
            .mobile_body .result_inner .combinedchartbox .pie-chart {border: 1px solid #eee;}
            .mobile_body .results_container .combinedchartbox .pie-chart {border: none;}
            .tablecount, .graphcount {width:100%;}
            .exitpoll_table_container.col12 {padding:0;}
            .mobile_body .chart-horizontal{white-space: nowrap; overflow: auto;}
            .mobile_body .chart-horizontal .table-chart {display:inline-block; width:90%; margin-right:10px;}
            .mobile_body .result_inner .tbl_txt, .results_container .tbl_txt {background:#e6ecee; padding:10px 0; text-align:center;font-size:1.2rem; margin:0;}
            .result-tbl {display: table; width: 100%; border-collapse: collapse; margin: 20px auto 10px; font-size: 1rem; background: #fff;}
            .result-tbl .tbl_row {display: table-row; text-align: left; color: #333;}
            .result-tbl .tbl_row:nth-child(even) {background-color: #e6ecee;}
            .result-tbl .tbl_row:last-child {background-color: transparent;}
            .result-tbl .tbl_row:last-child .tbl_col {border: none;font-weight: bold;}
            .result-tbl .tbl_row:last-child .tbl_col span {color: #7b7b7b;}
            .result-tbl .tbl_col {display: table-cell;border-bottom: 1px solid #e5e5e5;padding: 5px 2%;font-size: 11px;vertical-align: middle;line-height: 18px;text-transform: uppercase;text-align: center;}
            .result-tbl .tbl_col:first-child {border-left: 1px solid #e5e5e5;}
            .result-tbl .tbl_col:last-child {border-right: 1px solid #e5e5e5;}
            .result-tbl .tbl_col.party_logo {text-align: left;width: 45%;text-transform: uppercase;line-height: 25px;font-weight: bold;}
            .result-tbl .tbl_col.party_logo img {max-width: 32px !important; float: left; margin-right: 6px;}
            .result-tbl .tbl_col.party_logo img[src*="69376388"] {margin-top: 7px;}
            .result-tbl .tbl_heading {font-weight: normal;display: table-row;background-color: #000;text-align: left;line-height: 1.4rem;font-size: 1.3rem;color: #fff;text-transform: uppercase;}
            .result-tbl .tbl_heading .tbl_col {line-height: 24px;font-size: 12px;text-align: center;display: table-cell;vertical-align: middle;text-transform: uppercase;}
            .result-tbl .tbl_heading .tbl_col.first {text-align: left;padding-left: 4%;}
            .nodatawidget { padding: 20px; text-align: center; font-size: 18px; font-weight: bold; color: #666666; box-sizing:border-box; width:100%;}
            .nodatawidget .refresh_btn {position: static; margin-top: 30px;}
            .nodatawidget .refresh_btn a {display: inline-block; background-color: #F44336; padding: 4px 20px 4px 15px; border-radius: 5px; color: #fff;}
            .exitpoll-widget {margin: 0 0 20px;}
            .exitpoll-widget .section {padding: 0; width: 100%; box-sizing: border-box;}
            .exitpoll-widget .section .top_section { margin: 0;}
            .exitpoll-widget .section .top_section h2, .exitpoll-widget .section .top_section h1 {background: #1a1a1a; color: #fff; padding: 0px 10px; font-size: 20px; border: none; box-sizing: border-box;}
            .exitpoll-widget .section .top_section h2 a, .exitpoll-widget .section .top_section h1 a {color:#fff;}
            .exitpoll-widget .section .top_section .read_more {display:none;}
            .el_powerdby {text-align:center;}
            .el_resulttable {display:none;}
            .table-chart {width: 100%;}
            .el_exitpoll {padding: 0 15px;}
            .results_container .switcher {padding-top:10px;}
            .election-hpwidget {background:#fff;}
            .election-hpwidget .election-header-wrapper .assembly-election-header{display:inline-block;background-color:#352f2f;border-radius:4px 0px 0px 4px;position:relative;font-size:1.2rem;line-height:2.2rem;color:#fff;padding-left:10px;margin:10px 10px 0;}
            .election-hpwidget .election-header-wrapper .assembly-election-header span{display:inline-block;background-color:#fc363b;margin-left:7px;padding:0 7px;}
            .statestoggle{display:block; margin:5px 0 0; white-space:nowrap; overflow-x:auto; overflow-y:visible; padding:10px 0;}
            .statestoggle span{border-top:1px solid #c0c2c4;border-bottom:1px solid #c0c2c4;font-size:1rem;height:24px;line-height:22px;color:#333;position:relative;padding:0 15px;display:inline-block; vertical-align:top;}
            .statestoggle span b{font-weight:normal;position:relative;z-index:2;}
            .statestoggle span:last-child::after{display:none;}
            .statestoggle span.active{color:#fff;}
            .election-hpwidget .election-header-wrapper .read_more{display:none;}
            .election-hpwidget .result_inner .election-data-header .section .top_section{margin:0; text-align:center;}
            .election-hpwidget .result_inner .election-data-header .section .top_section h2{background:transparent;font-size:14px;padding:5px 0;}
            .election-hpwidget .result_inner .election-data-header .section .top_section h2 a{color:#000;}
            .election-hpwidget .result_inner .election-data-header .electionsnav{background:#ebeef1;}
            .election-hpwidget .result_inner .election-data-header .electionsnav a{font-size:12px;color:#000;padding:0 10px; display:inline-block; vertical-align:top; height:22px; line-height:22px;}
            .election-hpwidget .result_inner .star-candidates-wrapper{margin-top:10px;}
            .election-hpwidget .result_inner .result-tbl .tbl_heading{background:transparent;color:#000; font-weight:bold;}
            .election-hpwidget .result_inner .result-tbl .tbl_heading .tbl_col{border-left:none !important;border-right:none !important;}
            .election-hpwidget .result_inner .result-tbl .tbl_heading .tbl_col:first-child {padding-left:25px;}
            .election-hpwidget .result_inner .result-tbl .tbl_col:first-child{border-right:1px solid #e5e5e5;}
            .election-hpwidget .result_inner .result-tbl .tbl_row:last-child .tbl_col{border:none;font-size:11px;}
            .election-hpwidget .result_inner .result-tbl .tbl_row:nth-child(even){background:transparent;}
            .result-tbl .tbl_col .partyclr {display: inline-block;border-radius: 2px;padding: 1px 7px;line-height: normal;color: #fff;font-size: 11px;margin-left: 20px;font-weight: normal;}
            .election-as-widget .statestoggle {margin:5px -5px 10px}
            .election-as-widget .statestoggle .states {padding:0 10px;}
            .election-as-widget .statestoggle .states span {border:none;}
            .election-hpwidget .row .col12.ad-count {margin: 10px auto 15px;}
    
            .movieshow .movieshowlft {width:100%;}
            .movieshow {background:#fff;}
            .movieshow .moviewshowcard {background:#282e34;}
            .movieshow .moviewshowcard .mb10 {margin-bottom:10px;}
            .movieshow .moviewshowcard .movieinfo {padding:15px; color:#fff;}
            .movieshow .moviewshowcard .moviemeta {font-size:1.2rem; line-height:1.4rem;}
            .movieshow .moviewshowcard h1 {font-size:1.8rem; line-height:2.4rem; font-weight:bold; margin-bottom:5px;}
            .movieshow .moviewshowcard h1 b {border: 1px solid #fff;border-radius: 50%; width:24px; height:24px; font-size: 12px;vertical-align: top;color: #fff; line-height:24px; text-align:center; display:inline-block; margin-left:5px; font-weight:normal;}
            .movieshow .moviewshowcard .ms_button {border:1px solid #fff; border-radius:15px; height:30px; padding:0 15px; width:auto; margin:5px 0 15px; text-align:center; font-size:1.2rem; background:transparent; color:#fff;}
            .movieshow .moviewshowcard svg {margin-right:5px; vertical-align:middle; width:16px; height:16px;}
            .movieshow .moviewshowcard .ms_poster {margin-top:10px; overflow:hidden;}
            .movieshow .moviewshowcard .ms_poster .ms_posterimg {width: 135px; float:left;}
            .movieshow .moviewshowcard .ms_poster .ms_posterinfo { padding-left:150px; box-sizing:border-box;}
            .movieshow .moviewshowcard .ms_synopsis h3 {font-size:1.4rem; font-weight:bold; margin-bottom:10px;}
            .movieshow .moviewshowcard .ms_trailers {padding-bottom: 15px;}
            .movieshow .moviewshowcard .ms_trailers .section {padding: 0 15px; box-sizing:border-box;}
            .movieshow .moviewshowcard .ms_trailers .section h2 span {font-size: 1.4rem; color:#fff; font-weight:normal;}
            .movieshow .moviewshowcard .ms_trailers .slider ul li .con_wrap .text_ellipsis {color:#fff;}
            .movieshow .adcards {display: flex; justify-content:space-between; margin:10px 0;}
            .movieshow .adcards .box-item {width: 49%;}
            .movieshow .star-candidates {width:100%; box-sizing:border-box;}
            .movieshow .star_candidates_widget {background:#e6ecee; padding:0 10px 20px; box-sizing:border-box; width:100%;}
            .movieshow .star_candidates_widget .h2WithViewMore {margin: 0 0 10px 10px;}
            .movieshow .star_candidates_widget h2 {font-size:22px;}
            .movieshow .slider.candidates-newlist .btnPrev, .movieshow .slider.candidates-newlist .btnNext {top:50%; transform: translateY(-50%);}
            .movieshow .candidate_box {height:100%; box-sizing:border-box; font-weight:bold; border-radius: 5px; box-shadow: 0 0 4px 0 #c8d5d9; background-color: #ffffff; padding: 10px; text-align:center; margin: 2px;}
            .movieshow .candidate_box .candidate_imgwrap {display:inline-block; position:relative; margin-bottom:10px}
            .movieshow .candidate_box .candidate_imgwrap img {width:96px; height:96px; border-radius:50%; border:1px solid #e6ecee; padding:8px; box-sizing:border-box; object-fit: cover;}
            .movieshow .candidate_box .candidate_name {font-size: 1.4rem; display:block; text-align: center; max-width: 100%; overflow:hidden; text-overflow:ellipsis; margin: 0 auto; white-space: nowrap;}
            .movieshow .candidate_box .constituency {font-size: 1.2rem; color:#8c8c8c; display:block; marging: 5px 0 10px;}
            .movieshow .metaitems {display:inline-block; margin-right: 10px;}
            .movieshow .metafirst {display:inline-block; border-right: solid 1px #575757; padding-right:10px; margin-right:10px;}
            .movieshow .dotlist {display:inline-block; padding-left:13px; margin-left:7px;}

            .movieshow .rating {width: 100% !important; padding: 0; text-align: left; margin:15px 0;}
            .movieshow .rating .table_col {width: 50%;}
            .movieshow .rating .txt {font-size: 1.1rem;display:block; color:#fff;margin-top:5px;}
            .movieshow .rating .count {font-size: 1.4rem; display: inline-block; font-family: arial; color:#fff;position: relative; padding-left:25px;}
            .movieshow .rating .count b {font-size: 2.0rem; font-weight: 400;}
            .movieshow .empty-stars {color:#d8d8d8;}
            .movieshow .rating .critic:before {color:#ff001f;}
            .movieshow .rating .ratestar:before {color:#fc0;}
            .movieshow .rating .users:before {color: #00b3ff;}
            .movieshow .short-text {font-size:1.4rem; line-height:2rem;}
            .movieshow .short-text .readMoreText {position:relative; color:#00b3ff; cursor:pointer; margin-left:5px; font-size:1.3rem; display:inline-block;white-space:nowrap;}
            .movieshow .moreitems {position:relative; margin-left:7px;}
            .movieshow .moreitems ul {position:absolute; top:30px; left:0; background:#fff; border-radius:6px;z-index:999;}
            .movieshow .moreitems ul li {border-bottom:solid 1px #dbdbdb; padding: 5px 15px; color:#000; font-size:0.9rem;}
            .movieshow .moreitems ul li:last-child {border:none;}
  
            .table_layout{margin:0 3% 4%;}
            .table_layout table{width:100%;border-collapse:collapse;margin:0 auto;border-spacing:0;border:0;}
            .table_layout table tr td{font-size:1.2rem; font-weight:bold;text-align:center;}
            .table_layout table tr td:first-child{text-align:left;text-transform:uppercase;font-weight:bold;width:45%;}
            .table_layout table tr:first-child th:first-child{text-align:left;text-transform:uppercase;font-weight:bold;width:45%;}
            .table_layout table tr td:first-child img{width:18px; height:18px; margin-right:10px; border-radius: 50%;}
            .table_layout table tr:first-child th{font-size:1.2rem;}
            .table_layout table td, .table_layout table th{padding:10px 5px;}

            .mini_schedule{white-space: nowrap; margin: 0 0 4%; background: #fff; padding: 3% 0 1%;}
            .mini_schedule .wdt_schedule .match_final_status .match_venue{height: 1.5rem;}
            .mini_schedule .wdt_schedule .match_final_status .status_live{position: absolute; left: 0; right: 0; bottom: -1px; width: 30px; margin: auto;}
            .mini_schedule .wdt_schedule{position:relative; overflow:hidden; min-height:112px}
            .mini_schedule .wdt_schedule .match_final_status{max-height:2.8rem; overflow:hidden}
            .mini_schedule .wdt_schedule .teama .teaminfo img, .mini_schedule .wdt_schedule .teamb .teaminfo img{width:35px}
            .wdt_schedule{border-radius:8px; font-family:arial;padding:5px 10px 5px;margin:5px 0 5px 4%;display:inline-block;width:70%;vertical-align:top;min-height:100px;}
            .wdt_schedule:last-child{margin-right:4%;}
            .wdt_schedule .liveScore{margin-top:5px;}
            .wdt_schedule .match_date_venue{font-size:1.0rem;line-height:1.5rem; text-align:center;white-space:normal;text-transform:uppercase;}
            .wdt_schedule .match_date_venue span{display:block; font-weight:bold;line-height:2rem;}
            .wdt_schedule .teama, .wdt_schedule .teamb{width:40%;}
            .wdt_schedule .teama .teaminfo, .wdt_schedule .teamb .teaminfo{overflow:hidden;clear:both;display:block; margin-top:2px}
            .wdt_schedule .teama img{float:left;margin:2px 5px 0 0;width:50px;}
            .wdt_schedule .teama .con_wrap{display:inline-block;vertical-align:top;}
            .wdt_schedule .teamb{text-align:right;}
            .wdt_schedule .teamb .con_wrap{display:inline-block;vertical-align:top;}
            .wdt_schedule .teamb .teaminfo img{float:right;margin:2px 0 0 5px;width:50px; border-radius: initial;}
            .wdt_schedule .teamb .country{text-align: right; display: block; width: auto;}
            .wdt_schedule .country{display:block;font-size:1.2rem;font-weight:bold;line-height:normal;text-transform:uppercase;text-align:left;width:50px;}
            .wdt_schedule .country.btm{width: 50px; clear: both; text-align: center; padding-top: 10px;}
            .wdt_schedule .teama .country.btm{float:left}
            .wdt_schedule .teamb .country.btm{float:right}
            .wdt_schedule .score{font-size:1.4rem;font-weight:bold;display:block;margin:0 0 1px;}
            .wdt_schedule .over{font-size:1.1rem; display:block;}
            .wdt_schedule .match_final_status{font-size:1rem;line-height:1.4rem; text-align:center;white-space:normal;margin-top:10px;text-transform:uppercase;}
            .wdt_schedule .match_final_status .time{margin-right:5px; color:#000;}
            .wdt_schedule .match_final_status .status_live{font-size:10px;display:inline-block;padding:0 7px 0 15px;height:17px;line-height:17px;text-transform:uppercase;border-radius:3px;position:relative;}
            .wdt_schedule .match_final_status .match_venue{font-size:1rem;line-height:1.5rem; overflow: hidden; display: block;}
            .wdt_schedule .versus{width:10%; text-align:center}
            .wdt_schedule .versus span{height: 16px; width: 23px; border-radius: 50%; display: inline-block; font-size: 1rem; text-align: center; padding: 6px 0 0 0; font-weight: bold; margin-top:5px;}
            .wdt_schedule .calendar{display:none}
            .schedule_intro{background: #fff;}  
            .schedule_container{margin: 0 0 4%; background: #fff; padding: 4% 0;}
            .schedule_container .wdt_schedule{display:block;width:auto;margin:0 3% 4%;}
            .schedule_container .wdt_schedule a{display:block}
            .schedule_container .wdt_schedule:last-child{margin-bottom:0;}
            .schedule_container .wdt_schedule .match_final_status{width:97%;}
            .matchNvenue{background: #fff; padding: 0 3% 0; text-align: right;}
            .matchNvenue select {width: 35%; padding: 5px 5px 3px; font-size: 12px; margin-right: 5%; outline: none;}
            .matchNvenue select:last-child{margin:0;}
            .wdt_teams.box-item{padding-bottom:0} 
            .wdt_teams .section .top_section{margin:0 0 4%}
            .wdt_teams ul{display:flex; flex-wrap: wrap;}
            .wdt_teams ul li{text-align:center; width:25%; margin:2% 0}
            .wdt_teams ul li a{display:block}
            .wdt_teams ul li img{width:70%}    
            .wdt_teams ul li .name{display:block; font-size:1.4rem; font-weight:bold; margin:10px 0 0 0;}
            .wdt_teams.hp ul{flex-wrap: nowrap; overflow-x: auto; padding-right: 15px; padding-left: 15px;}
            .wdt_teams.hp ul li{margin-right:15px}  
            .wdt_teams.hp ul li img{width:75px}
            .wdt_venues {background:#fff}
            .wdt_venues ul li.news-card:nth-child(2n+1){padding-right: 5px; padding-left:10px; margin-bottom: 4%;}
            .wdt_venues ul li.news-card:nth-child(2n+2){padding-left: 5px; padding-right:10px; margin-bottom: 4%;}
            .wdt_venues ul li.news-card a{display:block; border:2px solid #282e34; width:100%}
            .wdt_venues ul li.news-card .con_wrap {padding: 7px 10px 6px; background: #282e34; display: block; box-sizing: border-box;}
            .wdt_venues ul li.news-card .con_wrap .text_ellipsis {color: #fff; height: 4.4rem; font-size: 1.2rem; line-height: 2rem; max-height: 4rem; -webkit-line-clamp: 2;}
            .wdt_venues.hp{width:100%;}
            .wdt_venues.hp ul li.news-card.vertical{margin-bottom:0; padding:0}
            .wdt_venues.hp .news-card.vertical .img_wrap{margin:0}
            .wdt_venues.hp .list-slider{width:97%; margin-left:3%}
            .wdt_players .list-slider{width:100%}
            .wdt_players .matchNvenue{width:100%; margin-bottom:4%}
            .wdt_players ul li{border-right: 1px solid #dfdfdf; text-align: center; padding: 10px 10px 0; margin: 5px 3% 5px 0; border-radius: 5px; box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.22);}
            .wdt_players ul li .img_wrap img{border-radius: 50%; overflow: hidden; width: 100px; height:100px; border:1px solid #dfdfdf; padding:5px}
            .wdt_players ul li .con_wrap .text_ellipsis{color:#000; font-size:1.2rem; line-height:2.0rem; max-height:4.0rem; margin-top:10px}
              
            .floating_cube.wdt_schedule{border-radius: 0; box-shadow: none; width: auto; margin: 5px 10px 0; padding: 0; display: block; background: transparent; min-height: 80px;}
            .floating_cube.wdt_schedule .versus span{font-size: 9px; padding-top: 5px; height: 18px; width: 18px; box-sizing: border-box;} 
            .floating_cube.wdt_schedule .wdt_schedule .score{font-size:1.2rem}
            .floating_cube.wdt_schedule .score, .floating_cube.wdt_schedule .over{font-size:12px}
            .floating_cube.wdt_schedule .score.active{color:#00b758}
            .floating_cube.wdt_schedule .teama img, .floating_cube.wdt_schedule .teamb img{width:20px}
            .floating_cube.wdt_schedule .match_date_venue{text-transform: initial; text-align: left; font-weight: bold; font-size: 1.1rem; background: #000; color: #fff;height: 30px; line-height: 32px; margin: -5px -10px 5px; padding: 0 10px;}
            .floating_cube.wdt_schedule .country{font-size:12px;}
            .floating_cube.wdt_schedule .match_final_status{line-height:15px; max-height: 30px; color:#828282; margin-top:2px; font-size:11px}
            .floating_cube.wdt_schedule .match_final_status .status_live{bottom:0}
            .flipbox-wrapper .flipbox-box .flipbox-side{min-height:115px}
            .flipbox-wrapper .flipbox-box .flipbox-side h4.news-txt{padding:8px 10px 0px 9px;}
            .flipbox-wrapper .flipbox-box .flipbox-side h4.news-txt a{font-size: 1.2rem; line-height: 2.0rem; height: 6.0rem; -webkit-line-clamp: 3;}
            .Cube{bottom:100px;left:0}
            #content{height:125px;}
            .cube_player_details .match_final_status{color:#000; font-size: 1rem; line-height: 1.4rem; text-align: center; white-space: normal; margin-top: 10px; text-transform: uppercase;}
            .cube_player_details{margin:5px 10px;}
            .cube_player_details .series-title{text-transform: initial; text-align: left; font-weight: bold; font-size: 1.1rem; background: #000; color: #fff;height: 30px; line-height: 32px; margin: -5px -10px 5px; padding: 0 10px;}
            .cube_player_details .row_player{overflow:hidden; font-size:1.1rem; color:#000; margin-top:10px; font-weight:bold; font-family:arial}
            .cube_player_details .row_player.active{color:#00b758}
            .cube_player_details .row_player .runs{float:right; font-family:arial;}
            
    
          .wdt_budget {position:relative; margin:0 0 4%; background:#fff}
          .wdt_budget .budget_head{text-align:center; display:block; overflow:hidden; background:#000; height:40px; width:100%}
          .wdt_budget .budget_head h3 {font-weight:normal; margin:0}
          .wdt_budget .budget_head h3 a{font-size: 1.6rem; line-height: 40px; color:#fff; display:block}
          .wdt_budget .bdt_top{margin-top:4%}
          .wdt_budget .cheaper_dearer{padding-bottom: 4%; margin: 0;}
          .wdt_budget .wdt_lb_home{margin:0 3%; padding-top:4%; overflow:hidden}
          .wdt_budget .wdt_lb_home h3{height:40px; line-height:40px; background:#ff6161; display:block; text-align:center; margin:0;}
          .wdt_budget .wdt_lb_home h3 a{font-size: 1.6rem; color:#fff; display:block;}
          .wdt_budget .lb-strip .lb-card .con_wrap{border-color:#ffc8c8}
          .wdt_budget .wdt_lb_home .lb-strip .lb-card .con_wrap:after{border-color:#ff0000;}
          .mobile_body .wdt_budget .wdt_lb_home .lb-strip{max-height:200px; overflow: hidden; overflow-y: auto; margin-bottom: 5px;}
          .mobile_body .wdt_budget .view-horizontal .news-card .img_wrap{margin:0}
          .mobile_body .wdt_budget .view-horizontal li.news-card.vertical .img_wrap img {max-height: 100px; width: 306px;}
          .mobile_body .wdt_budget .view-horizontal li.news-card.vertical{margin:0; max-height:100px}
          .mobile_body .wdt_budget .view-horizontal .news-card .con_wrap{display:none}
    
            .section-topics h1 {font-size: 1.6rem; line-height: 2.4rem; margin:0 0 10px}  
            .section-topics .player-stats .con_stats{width:100%; background:#fff}
            .section-topics .player-stats .profile-date {font-size: 12px; line-height:18px; color: #a0a0a0; margin: 5px 0 0; font-family: Arial, Helvetica, sans-serif;}
            .section-topics .player-stats .lead-topics {margin: 0 0 20px; width: 100%;}
            .section-topics .player-stats .lead-topics .news-card.lead {margin: 0; box-sizing: border-box; padding: 10px; box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1); overflow:hidden; min-height:180px;}
            .section-topics .player-stats .lead-topics .news-card.lead .img_wrap {float: left; margin: 0 10px 0 0;}
            .section-topics .player-stats .lead-topics .news-card.lead .img_wrap img {width: 120px;}
            .section-topics .player-stats .shortInfo li {font-size: 14px; line-height: 22px; font-family: Arial, Helvetica, sans-serif; color: #333;}
            .section-topics .player-stats .shortInfo li span {display: inline-block; vertical-align:top; position:relative}
            .section-topics .player-stats .lead-topics .news-card.lead .con_wrap {margin: 0;}
            .section-topics .player-stats .profileInfo{margin:10px 0 0;}
            .section-topics .player-stats .profileInfo li {font-size: 13px; line-height: 19px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 10px;}
            .section-topics .player-stats .profileInfo li .head {font-weight: bold; display:block}
            .section-topics .player-stats .profileInfo li .content {display:block}
            .section-topics .player-stats .profileInfo li:last-child{margin-bottom:0}
            .section-topics .player-stats .txt-wrap .only-txt, .section-topics .player-stats .profileDesc {font-size: 1.45rem; line-height: 2.7rem; display: block;}
            .section-topics .player-stats .enable-read-more .first_col .text_ellipsis {font-size: 1.4rem; line-height: 2.2rem; max-height: 13.2rem; -webkit-line-clamp: 6; overflow: hidden;}
    