@import 'sprite';
/* story-article class starts */
.story-article{
  color: #000;
  word-break: break-word;
  ol{
    padding:3%;
    li{position: relative; font-size: 1.4rem; line-height: 2.8rem; margin: 0 0 10px 15px; list-style: decimal;
    strong{display: block;}
    }
  }
  img{max-width:100%;height:auto;}
  iframe{width:100%;overflow:hidden;}
  .fb-post{overflow:hidden;margin:5% 0; display:block;}
  .ad1 iframe{width:auto}
  .video_icon {width: 41px; height: 41px; @extend .videoicon; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
  .brandwire_disclaimer {
    font-style: italic; font-size: 1.4rem; color: #000; line-height: 2.2rem; margin: 0 0 15px; clear: both;
    a {color: #555; text-decoration: underline;}
  }
  .story-content{
    padding:0 4% 20px 4%; font-size: 1.5rem; line-height: 2.8rem; word-wrap:break-word;
    .default-outer-player.__sast {
      height: 95px;
      .default-player.__sast {
        width: 100% !important;
        height: auto !important;
        cursor: default;
        word-break: initial;
      }
      .image-container {
        background: #000 url("https://static.langimg.com/photo/msid-77014303/audio-default.jpg") no-repeat center 11px;
        width: 100%;
        height: 95px;
        background-size: cover;
        &::before {display: none;}
        img {display: none;}
        .audiotitle {color: #fff; padding-left: 10px; font-size: 1.2rem;}
      }
    }
    a{
      color:#1f81db;
    }
    .tableContainer{
      td{
        a{
          color: #000;
          &:hover{
            color: #1f81db;
          }
        }
      }
    }
    p{margin:0 0 15px;}
    p.inlinetext{margin:0}
    .nic {
      position: relative;
      padding: 3px 5px 0 5px;
      margin-right: 5px;
      cursor: pointer;
      font-weight: bold;
      display: inline-block;
      background: rgba(220,140,141,0.2);
      transition: .25s ease;
      line-height: 25px;
      font-size: 1.5rem;
    }
    .inline_app_download{display: none;}
    [data-plugin="ctn"]{width:auto !important; margin:2% -4% !important;}
    h2{
      font-size: 1.8rem; line-height: 2.6rem; margin: 20px 0 5px;
      &+img{margin-bottom:5px}
    }
    
    /*amazon button*/
    .amz_btn{
      display: inline-block;
      margin: 0 5px;
      a{
        padding: 0 10px;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        height: 25px;
        border-radius: 3px;
        background: #fed20a;
        line-height: 26px;
        font-family: arial;
        display: block;
      }
    }
    .youtube-iframe{
      margin-left: auto; 
      margin-top: 8px;
      iframe{
        overflow: visible;
      }
    }
  }
  .img_wrap {
    .img_caption{
      &:empty{
        display: none;
      }
    }
  }
  /* overrite for election mrec ad*/
  .ad1.mrec{min-height:250px}
  .ad1.mrec iframe, .story-article .ad1.mrec2 iframe{width:auto}

  article {
    /*jobs css start*/
    .jobschema {
      h2, strong{font-size: 16px; line-height: 24px;margin: 20px 0 5px;}
      table{
        border:solid 1px #d3d3d3; margin: 0 0 15px 0; table-layout: fixed; width:100%; border-spacing: 0;
        tr {
          td {
            font-size: 1.4rem; line-height: 2.2rem; color:#333; font-weight: normal;word-break: break-word; width: 50%; border:0; padding: 5px;
            img{max-width: 140px;}
          }
          &:nth-child(2n+1) {
            td{background: #f5f5f5;}
          }
        }
      }
    }
    /*jobs css ends*/
    .videoContainer{
      clear: both;
    }
  }
}
/* story-article class Ends */

.next_article {
  .nxttitle {
    background: #f3f3f3;
    color: #000;
  }
  .nxtlink {
    background: #a0a0a0;
    color: #fff;
  }
}

.read_marker{
    background:#c02; height:0%;width:2px;position:fixed;z-index:100;top:0; display: none;
}

.from-web{
  font-size:20px;
  font-weight:bold;
  margin : 5% 2%;

}

.moviereview-sourceCard {
    .source{
      color: #a0a0a0;
    }
}

.comment_wrap {
  .btn_comment{ background: #ee111c; color: #fff; display: block; margin: 20px auto; width: 80%; text-align: center; height: 40px; line-height: 43px; font-family: $font-family-name, arial, sans-serif; font-size: 1.6rem; border-radius: 4px;}
}

#commentContainer{
  .comment-sidebox{
    visibility: hidden;
    background: #fff;
    bottom: 0;
    transition: all linear .5s;
    position: fixed;
    right: -100%;
    z-index: 9999;
    overflow-y: scroll;
    height: 530px;
    -webkit-overflow-scrolling: touch;
    max-width: 768px;
    margin: 0 auto;
    padding: 5%;
    #commentHolder{
      text-align: center;
    }
  }
  .show-sidebox{
    right: 0;
    visibility: visible;
  }
}

.con_fbapplinks{
  text-align:center; margin:20px 2%;min-height:120px;
  h3{font-size:1.4rem; line-height: 2.4rem;}
  /*enhance UI*/
  .wdt_story_social{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      li{
        margin: 15px 0 0;
        a{
          width: 64px;
          min-height: 80px;
          position: relative;
          display: block;
          label{
            color: #8d8d8d;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            margin: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            b{
              display: block;
              margin-bottom: 3px;
              color: #000;
            }
          }
          .iconcircle{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #f0f0f0;
              box-sizing: border-box;
              overflow: hidden;
              svg {
                width: 24px;
                height: 24px;
                color: #fff;
              }
              &.app-install{
                background: #f0f0f0;
                border:1px solid #dbdbdb;
                &.android{
                  svg{
                    color:#92af00;
                  }
                }
                &.ios{
                  svg{
                    color:#000;
                  }
                }
                svg.mobile{
                  color:#000;
                  height: 20px;
                  width: 20px;
                }
              }
              &.fb-like{
                background: #3a5897;
              }
              &.twitter{
                background: #5ea8dc;
              }
              &.youtube{
                background: #fa1100;
              }
              &.telegram{
                background: #0088cc;
              }
              &.koo{
                background: #f9ce45;
                svg{
                  width: 35px;
                  height: 35px;
                }
              }
          }
        }
      }
    }
  }
}

.article-section{position:relative;width: 100%; background: #fff;}

.inlineshare {
  span.inline-txt{background: #e9e9e9; padding:4px 0 2px}
  .share_icon {
    position: static; display: inline-block; padding: 0; background: #d0021b; line-height: 12px; margin: 0 5px; box-shadow: none; height: 25px; width: 25px;
    span{padding:6px; cursor: pointer;}
    svg{width:11px; color:#fff; height:13px}
  }
}

.box-content.amz, 
.box-content.gudds{margin: 0 1%; border: 0;}
.adCANContainer{
  margin-top:10px;
  [data-plugin="ctn"]{
    padding:0;
  }
}

/*moviereview detail view start*/
.moviereview-sourceCard{
  margin: 15px 0 5px 0;
  .source{display: block; font-size: 1.2rem; line-height: 2rem;}
}
/*moviereview details view end*/

/*table start*/
table.tableContainer {
  width:100%; border-collapse:collapse; margin:15px auto; border-spacing: 0px; border:0;
  tr {
    td, th {
      background: #fff;
      border: solid 1px #d3d3d3;
      color: #000;
      text-align:left; font-size:1.5rem; padding: 10px 10px 8px; line-height: 1.8rem;
    }
    th {
      background: #f5f5f5;
      font-weight: 600;
    }
    
  }
}

.tableContainer {
  margin: 15px 0; overflow-x: scroll; overflow-y: hidden;
  h3 {
    color:#000; margin:0 0 10PX; font-size:1.8rem; text-transform:uppercase;
  }
  table {
    width:100%; border-collapse:collapse; margin:0 auto; border-spacing: 0px; border:0;
    tr {
      td, th {
        text-align:left; 
        font-size:1.2rem; 
        padding: 10px 10px 8px; 
        line-height: 2rem;
        border: solid 1px #d5d5d5;
        color: #000;
      }
      td{
        background: #fff;
        a{
          border-bottom: 1px dotted #000;
          &:hover{
            border-bottom:none;
          }
        }
      }
      th {
        background: #e3e3e3;
        font-weight: 600;
      }
      &:first-child{
        td{
          background: #e3e3e3;
          font-weight: 600;
        }
      }
    }
    &.elec_inl_wdt {
      tr {
        td {
          text-align: center;
          &:first-child {color:#fff;}
          &.NDA {background: linear-gradient(to right, #FFA460, #F06005);}
          &.UPA{background: linear-gradient(to right, #5FB4E5, #0076CC);}
          &.MGB{background: linear-gradient(to right, #00CE7D, #008440);}
          &.OTH{background: linear-gradient(to right, #97A3AA, #5C6569);}
          &.BJP{background:#FF7D1D}
          &.JJP{background:#F7DC10}
          &.INLD{background:#198de2}
          &.OTH{background:#84898B}
          &.INC{background:#0076CC}
          &.SS{background:#FF6634}
          &.NCP{background:#07B2B2}
        }
        &:last-child {
          td{font-weight: bold; color:#000;}
        }
      }
    }
  }
}

/*table end*/

/*horizontal list card for only articleshow start*/
li.nbt-horizontalView{
  .relarticle{
    margin: 0 0 4%;
    .nbt-list{
      white-space: nowrap;
      li.nbt-listview{
        width:230px; margin: 0 10px 0 0; border:0;
        &:last-child{margin: 0}
        .img_wrap{width:105px; float: left;}
        .con_wrap{padding:0 0 0 10px; display: table-cell; white-space: normal;}
        .text_ellipsis{font-size: 1.6rem; line-height: 2.4rem; max-height: 7.2rem; -webkit-line-clamp: 3;}
      }
    }
    span.article-text{font-size: 1.8rem; position: relative; margin-bottom: 10px;}
  }
}
/*horizontallist card for only articleshow end*/

.share_container {
  .share_icon {
    background: #f2f2f2; display: block; box-shadow: none; border-radius: 0 0 0 15px; right: 0; width: 44px; height: 44px; box-shadow:-1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    span{padding:13px 10px 11px 14px; cursor: pointer; display: block;} 
    svg{color:#000; width:15px}
  }
  .share_whatsapp {
    position: fixed; right: 0; bottom: 223px; width: 44px; height: 44px; background: #2bae1c; border-radius: 15px 0px 0px; z-index: 98; display: block; overflow: hidden; box-shadow:-1px -1px 3px 0px rgba(0, 0, 0, 0.5);
    a{display: block; padding: 12px 12px 10px 12px;}
  }
  &.hide2right {
    .share_whatsapp, .share_icon {transition: all .35s ease-in-out; left: -150px;}
  }
}


/*quote*/
.quote{
  position: relative; margin:15px 0; clear: both;
  .start-quote, .end-quote{
    display: block; overflow: hidden; margin:0 0 10px 0;
    &:before {width: 100%; height: 1px; left: 0; top: 15px; margin-top: -1px; position: absolute; content: ""; background: #d3d3d3;}
    b{
      position: relative; height: 30px; width:25px; display: block; background: #fff; left:5%; float: left;
      &:before, &:after {height: 30px; top:0; left:0; width: 11px; z-index: 1; position: absolute; content: ""; background: linear-gradient(135deg, #000000 75%, #ffffff 25%);}
      &:after {left:13px;}
    }
  }
  .end-quote{
    margin:10px 0 0 0;
    &:before {top: auto; bottom: 15px;}
    b {
      left: auto; right:5%; float: right;
      &:before, &:after {left: auto; right: 0; background: linear-gradient(-45deg, #000000 75%, #ffffff 25%);}
      &:after {right: 13px;}
    }
  }
  .quote_txt{font-size: 2.0rem; line-height: 3.0rem; margin:0 0 10px; font-weight: 600;}
  .quote_author{font-size: 1.6rem; line-height: 2.0rem; color: #c8c8c8; text-align: right;}
}

/* Whats up subscription */
.news-on-whatsApp{
  display:block; margin:10px auto 10px;
  background: url(https://eisamay.indiatimes.com/photo/65670957.cms) no-repeat 0 0;height: 74px;display:block; background-size: cover;
  .txt{font-size: 1.6rem; color: #fff; line-height: 2.2rem; text-align: center;}
  .logo{width:130px;}
  .logo b{background: url(https://eisamay.indiatimes.com/photo/65806720.cms) no-repeat 0 0;width: 93px; height: 37px; display: inline-block; color: #fff; font-weight: normal; text-align: left; padding-left: 50px; font-size: 1.6rem; line-height: 4rem;}
  .tbl_col{padding:0 10px 0 5px; height:74px;}
}
.cross_brand_con {
  display: block;
  img {height: 16px; display: inline-block; vertical-align: middle;margin: 0 5px;}
}



/*display none for desktop*/
.desktop_body .story-article .ad1.mrec{display: none !important;}

#docx{
  margin-left:25px; position:relative;
  &:before{content:''; background:url('https://navbharattimes.indiatimes.com/photo/70661346.cms') -6px -63px no-repeat; width:20px; height:25px; position:absolute; left:-25px; top:-5px}
}

#pdf{
  margin-left:30px; position:relative;
  &:before{content:''; background:url('https://navbharattimes.indiatimes.com/photo/70661346.cms') -4px -5px no-repeat; width:22px; height:25px; position:absolute; left:-30px; top:-5px}
}

#xls{
  margin-left:30px; position:relative;
  &:before{content:''; background:url('https://navbharattimes.indiatimes.com/photo/70661346.cms') -4px -34px no-repeat; width:22px; height:25px; position:absolute; left:-30px; top:-5px}
}

#ppt{
  margin-left:30px; position:relative;
  &:before{content:''; background:url('https://navbharattimes.indiatimes.com/photo/70661346.cms') -4px -91px no-repeat; width:22px; height:25px; position:absolute; left:-30px; top:-5px}
}


// For Recipe
.recipeArticle {
  &.articleshow_body {
    .story-article .img_wrap{margin-bottom: 0;}
  }
  .img_caption{display: none}
  h1, .news_card_source{text-align: left}
  h1{position: relative;}
  .recipeStepsTitle{margin: -20px -4.2% 20px; background: #f2f2f2; padding: 10px 4% 5px;font-size: 1.8rem; text-align: center;}
  .story-content{
    font-size: 1.4rem; line-height: 2.8rem;
    strong{font-size: 1.6rem; line-height: 2.4rem;}
  }
  .con_review_rate{margin:-2% 0 0 0; display: block;}
  .rateBox.visible{margin:10px}
  .tabs_circle {
    padding:0;
    .tabs_circle_list {
      li{
        text-align: center; background: #2a2c30; height:34px; line-height: 35px; width: 100%; border-radius: 0; color: #fff; font-family: arial; font-size: 1.2rem; text-transform: uppercase;
        &.btn-rated{
          width: 100%; background: #2a2c30; height:34px; line-height: 35px; color:#fff; border: 0;
        }
        .btn-rated {
          span{
            position: relative; vertical-align: baseline; display: inline-block; color: #2a2c30; overflow: hidden; height: 20px; line-height: 20px; padding:0; margin-top: 5px; font-size: .1px;
            &:before {content: "\2605\2605\2605\2605\2605"; font-size: 22px; letter-spacing: 0px; line-height: 22px; display: inline-block; word-break: normal; top: 0; left: 0; position: initial;}
            &:before{color: #fff;}
            b{
              position: absolute; left: 0; top: 0; height: 100%; overflow: hidden; color: #FFD700; width: 0;
              &:before {content: "\2605\2605\2605\2605\2605"; font-size: 22px; letter-spacing: 0px; line-height: 22px; display: inline-block; word-break: normal; top: 0; left: 0; position: initial;}
            }
          }
        }
        small{display: inline-block;vertical-align: top;margin: 0 10px 0 0;font-size: 1.1rem;}
      }
    }
  }
  .news_card .enable-read-more {
    border-bottom: 1px solid #cfcfcf; padding-bottom: 20px; margin-bottom: 20px;
    .caption{color:#222}
  }
}

.recipe_ingriedient {
  .ingredients_lilsting{
    margin:0; padding:0; list-style:none;
    li{
      font-size:1.6rem; line-height:2.4rem;margin: 0 0 5px 15px; position: relative;
      &:before {content: ''; position: absolute; height: 2px; width: 5px; background: #333; left: -15px; top: 8px;}
    }
  }
  .specialingrs{font-size:1.7rem;display:block;color:#000; margin:15px 0; text-transform: capitalize;}
}
.vegnonveg{border:1px solid #ebebeb;padding:2px;display:inline-block;margin-left:10px;text-indent:-9999px;position:absolute;right:6px;top:6px;}
.veg, .Veg{background-color:#60cb55;width:8px;height:8px;display:block;border-radius:8px;}
.nonveg, .nonVeg, .non-veg, .Non-Veg{background:#f13838;width:8px;height:8px;display:block;border-radius:8px;}

/*apna bazaar for WEB and PWA start*/
.recommended_news .news-card.horizontal.apanaBazaar{
  /* background: #f2f2f2; */
  padding-top: 5px; 
  /* border-bottom:2px solid #fed20a; */
  padding-left: 5px; padding-right: 5px;
  .img_wrap img {
    width: 75px;
  }
  .con_wrap .text_ellipsis{
    font-weight: bold;
  }
}
.mobile_body{
  .recommended_news .news-card.horizontal.apanaBazaar{
    &:last-child{
      padding-top: 5px;
      border-bottom: 2px solid #fed20a;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 4%;
    }
  }
}
/*apna bazaar for WEB and PWA end*/

/*for mobile*/
.mobile_body {
  .story-article .story-content br{content: ''; display: block; height: 1.0rem;}
  /*superhit widget*/
  .wdt_superhit{
    margin: 0 3%;
    .section{
      padding:0;
      h3 {
        margin: 0 0 5px; text-align: center; position: relative; width:100%; border-bottom: 0;
        span{
          font-size: 16px; color: #000; position: relative; z-index: 2; background: #fff; padding: 0 10px; display: inline-block;
          &:before{display: none;}
        }
        &:before {content: ''; background: #d7d7d7; height: 1px; top: 0; bottom: 0; left: 0; right: 0; position: absolute; margin: auto; z-index: 1;}
      }
    }
    .rest-topics{
      padding: 0;
    }
    .news-card {
      &.horizontal{
        background: #fff; margin: 0 0 0 15px; border: 0; padding-bottom: 5px; position: relative;
        &:last-child{
          padding-bottom: 0;
        }
        &:before{
          content: '';
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background: #a9a9a9;
          position: absolute;
          left: -15px;
          top: 10px;
        }
        .img_wrap{
          display: none;
          img{width:90px}
        }
        .con_wrap{
          .text_ellipsis{font-size: 1.4rem; line-height: 2.4rem; max-height: 2.4rem; display: -webkit-box; color: #1f81db; -webkit-line-clamp: 1;}
        }
      }
    }
  }
  
  /*popular_videos*/
  .wdt_popular_videos{
    margin-bottom: 0; padding-bottom: 0;
    min-height: 260px;
    .view-horizontal{margin: 0 3%;}
  }
    
  /*top stories*/
  .top_stories{
    margin:10px 3% 0; background: transparent; overflow: hidden; padding:0;
    .section{
      padding:0;
      h3 {
        margin: 0; text-align: center; position: relative; width:100%; border-bottom: 0;
        span{
          font-size: 16px; color: #000; position: relative; z-index: 2; background: #fff; padding: 0 10px; display: inline-block;
          &:before{display: none;}
        }
        &:before {content: ''; background: #d7d7d7; height: 1px; top: 0; bottom: 0; left: 0; right: 0; position: absolute; margin: auto; z-index: 1;}
      }
    }
    .view-horizontal{
      padding:0;
      li.news-card.vertical{
        position: relative;
        .img_wrap{
          margin: 3px; box-shadow: 0 0 8px 6px rgba(223, 223, 223, 0.5);
          img{width:260px;}
        }
        .con_wrap{
          color:#fff; margin:3px; position: absolute; left: 0; right: 0; bottom: 0; padding: 10px; background: linear-gradient(transparent,rgba(0,0,0,.9));
          .text_ellipsis{color:#fff}
        }
      }
    }
    .top_section{margin:0}
  }

  /*recommended news*/
  .recommended_news{
    margin-bottom: 0;
    .inner-content{margin: 20px 4% 10px; background: transparent; overflow: hidden; box-sizing: border-box; box-shadow: 0 0 8px 6px rgba(223, 223, 223, 0.5);}
    h3 {
      margin: 10px auto; text-align: center; position: relative; border:0;
      span{
        font-size: 16px; color: #000; position: relative; z-index: 2; background: #fff; padding: 0 10px; display: inline-block;
        &:before{border:0}
      }
      &:before {content: ''; background: #d7d7d7; height: 1px; top: 0; bottom: 0; left: 0; right: 0; position: absolute; margin: auto; z-index: 1;}
    }
    .news-card.horizontal{
      width:auto;
      &:last-child{border:0; padding:0}
    }
  }

  .ads-between-story{margin:4% 0}

  .wdt_top_comments{
    margin: 20px 3% 10px;
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
    .cmt_head {
      font-size: 2.0rem;
      font-weight: bold;
      line-height: 2.8rem;
      margin-bottom: 10px;
      position: relative;
      span{
        font-size: 1.6rem;
        color: #000;
        position: relative;
        z-index: 2;
        background: #fff;
        padding: 0 20px;
        display: inline-block;
        font-weight: bold;
      }
      &:before{
        content: '';
        background: #d7d7d7;
        height: 1px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        z-index: 1;
      }
    }
    .cmt_txt {
      color: #555555;
      line-height: 2.8rem;
      font-size: 1.6rem;
    }
    .author_name{
      font-size: 1.2rem;
      color: #9e9e9e;
      font-weight: bold;
      margin-top: 10px;
    }
  }
  .enable-read-more .first_col {width: 90%; display: inline-block; vertical-align: top;}
  .enable-read-more .second_col{width: 10%; vertical-align:bottom; margin: 0 0 5px; display: inline-block;}
  .tpstory_title h4, .tpstory_title h1{display: inline-block; width: 90%;}
  .tpstory_title .tp_icondiv {vertical-align: top;}
  .tp_as_widget {
    border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2; padding: 5px 15px; background: #f2f2f2; margin-top: 5px;
    .tpicon {
      display: inline-block; width: 30px; height: 25px; vertical-align: middle;
      &:before{background-position: -146px -112px;}
    }
    .tptxt {
      font-size: 15px; font-weight: bold; color: #f6bc34; width: calc(100% - 170px); margin:0 10px; display: inline-block; vertical-align: middle;
      span {font-size: 13px; font-weight: normal; color: #333333; display: block; margin-top: 2px;}
    }
    .tpbtn {background-image: linear-gradient(105deg, #3023ae, #cf10ef 102%); border-radius: 15px; font-size: 11px; color: #fffb00; display: inline-block; width: 112px; height: 30px; line-height: 30px; text-align: center; vertical-align: middle; font-family: arial; cursor: pointer;}
  }
  .news_card_source {width: 80%; display: inline-block;}
  .wdt_amz.pwa-deals {
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 4%;
    background: #fff;
    iframe{
      /*height: 310px; change to 400 for all content will visible verical, not horizontal*/
      height: 310px;
      vertical-align: top;
    }
  }
  .ads-center{margin-bottom: 10px; text-align: center;display: block;}
}
.featured-article .adgsplash_float {
  display: none;
}
.title_with_tpwidget {
  position: relative;
  h1 {display: inline-block; width: 80%;}
  .wdt_timespoints {
    width: 90px; position: absolute; right: 0; top: 0;
    &:empty {width: auto;}
  }
}
.title_with_tpicon {
  padding: 15px 3%;
  h1 {display: inline-block; width: 90%; padding: 0; margin: 0;}
}

.story-article .news_card .vdo-caption{font-size: 0.6em;color: #7d7d7d;margin-top: 15px;}
.story-article .news_card .yContainer{background: transparent; border: 0; padding: 8px 0 0 0;}
.mobile_body .story-article .news_card .vdo-caption {padding: 0 10px;}