@import 'sprite';

.box-content h2, .section h2, .section h3, .section h1, .sectionHeading h1 {
  border-bottom: 2px solid $home-section-second-bg;
  span, a{
    color: $color-black;
    &:before{
      border-bottom: 2px solid $home-section-first-bg;
    }
  }
}


.more-btn{
    color: $home-section-more-color;
    /*
    border: solid 1px $home-section-more-border;
    background:$home-section-more-bg;
    */
    border: 1px solid #000;
    background: #000;
    &:focus, &:hover, &:active {
      color: $home-section-more-color;
    }
}

.breadcrumb {
  padding:10px 4% 5px;
  span{
    text-transform: capitalize;
    display:inline-block;
  }
  background: #fff;
  ul{ 
    line-height: 1.8rem;
    li {
      list-style-type: none;display: inline;
      a, a span {
        color: #333; text-decoration:none; font-size: 1.1rem; vertical-align:top; line-height: 1.6rem; font-weight: bold;
      }
      span {
        color: #999; font-size: 1.1rem; vertical-align:top; line-height: 1.6rem;
      }
      &:after {
        color: #333;
      }
      &:after{content:"\002F"; padding: 0 2% 0 2%; font-size: 1.4rem; vertical-align: top; line-height: 1.6rem; font-family: arial;}
      &:last-child {
        &:after{content:""; padding:0;}
      }
    }
  }
}

.tabs_box {
  margin: 0 0 15px;
  .tabs_box_list {
    background: #e9e9e9; white-space: nowrap;
    li {
      background: #e9e9e9; border-right: 1px solid #fff; color: #828282; font-size: 1.5rem; display: inline-block; padding: 0 3%; height: 35px; line-height: 40px; white-space: nowrap; cursor: pointer;
      &.active {
        background: #9c9c9c;
        color: #fff;
      }
      &:last-child{border:0}
    }
  }
}

.story_partition {
  color: $story-partition-color;
  span {
    background: $story-partition-bg-color;
  }
  &:after {
    background: $story-partition-border-color;
  }
}

.keywords_wrap {
  background: #fff;
  border-bottom:1px solid #d0d0d0;
  h3 {
    color: #000;
  }
  a {
    color: #716f6f;
    border: 1px solid #cbcbcb;
    background: #fff;
  }
}

.webtitle{
  color : #a0a0a0;
  a{
    color:#1f81db;
  }
}

.keywords_wrap{
  padding: 15px 0; position: relative; margin: 20px 4% 0;
  h3{font-size:1.6rem; text-align: center; margin:0 0 15px}
  .nowarp_content{white-space: nowrap;}
  a{margin:2px 5px 5px 2px; font-size:1.1rem; border-radius: 20px; padding: 0 20px; height: 31px; line-height: 33px; display: inline-block; white-space: nowrap;}
}

.webtitle{
  margin:20px 4% 0; font-size : 1.0rem; line-height: 1.8rem;
  b{font-weight: 600;}
}

.tabs_container{
  display: none;
  &.active{display: block}
}

.box-content h2, .sectionHeading h1{font-size: 1.8rem; margin:0 3% 4%; padding-top: 3%; font-weight: bold; display: block; height: 40px; position: relative;}
.box-content h2 span,  .sectionHeading h1 span {height: 40px; line-height: 40px; padding: 0 10px 0 0; display: inline-block; position: relative; font-weight: bold;}
.box-content h2 span:before, .sectionHeading span:before {content: ''; position: absolute; bottom: -2px; left: 0; right: 0;}
.box-content h2 .read_more, .sectionHeading h1 .read_more{position: absolute; right: 0; bottom: 10px; font-size: 13px; margin: 0 15px 0 0; color: #000;}
.box-content h2 .read_more:after, .sectionHeading h1 .read_more:after {content: ""; display: block; height: 5px; width: 5px; margin: auto; position: absolute; top: 0; bottom: 0; transform: rotate(45deg); right: -10px; border-top: 1px solid #000; border-right: 1px solid #000;}

.box-content ul.sub-list{
  margin: 0 3% 4%;white-space: nowrap; overflow-x: auto; overflow-y: hidden; position: relative;
  li{
    display: inline-block; vertical-align: top; margin: 0 20px 0 0;
    a{font-size: 1.2rem; color: #6a6a6a; line-height: 2.1rem;}
    &:last-child{margin-right: 0;}
    &.more_sublist{
      position: absolute; right: 0;
      a{
        border:1px solid #da0007; border-radius: 2px; height:15px; width: 15px; display: inline-block; text-indent: -10000px;
        &:after{position: absolute; content: '\002B'; top: 1px; left: 3px; color: #da0007; font-size: 19px; text-indent: initial; font-weight: bold;}
      }
    }
  }
}

.section h3, .section h2, .section h1{font-size: 1.8rem; font-weight: bold; display: block; height: 40px; position: relative;}
.section h3 span, .section h2 span,  .section h1 span {height: 40px; line-height: 40px; padding: 0 10px 0 0; display: inline-block; position: relative; font-weight: bold;}
.section h3 span:before, .section h2 span:before, .section h1 span:before {content: ''; position: absolute; bottom: -2px; left: 0; right: 0;}
.section {
  .top_section{
    position: relative; margin:0 3% 4%;
    .read_more{
      position: absolute; right: 0; bottom: 10px; font-size: 13px; margin: 0 15px 0 0; color: #000; font-weight: normal; z-index: 2;
      &:after {content: ""; display: block; height: 5px; width: 5px; margin: auto; position: absolute; top: 0; bottom: 0; transform: rotate(45deg); right: -10px; border-top: 1px solid #000; border-right: 1px solid #000; }
    }
  }
  ul.sub-list{
    position: relative; white-space: nowrap;
    li{
      display: inline-block; vertical-align: top; margin: 0 25px 5px 0;
      a{font-size: 1.2rem; line-height: 2.1rem; display: block;}
      &:last-child{margin-right: 0;}
    }
  } 
  .sub-section{
    position: relative; margin: 0 3% 10px; overflow: hidden; overflow-x: auto;
    &.hide-extra{height:2.1rem; overflow: hidden;}
    span {
      &.more-sublist {
        position: absolute; top:-3px; right: 0; height: 22px; width: 33px; text-align: center; cursor: pointer;
        b{
          height:5px; width: 5px; display: inline-block; border-radius: 50%; background: #000; margin: 0 10px; position: relative;
          &:before, &:after {content: ''; position: absolute; left:-8px; height:5px; width: 5px; display: inline-block; border-radius: 50%; background: #000;}
          &:after{left:auto; right: -8px;}
        }
      }
    }
  }
}

.story_partition{
  margin: 20px 0px 10px; position: relative; box-sizing: border-box; display: inline-block; width: 100%; text-align: center;
  span {font-size: 1.4rem; line-height: 3rem; padding: 0 15px; position: relative; z-index: 1; box-sizing: border-box; display: inline-block; border-radius: 16px; margin: 0 10px; height: 2.8rem;}
  &:after{width: 100%; height: 1px; left: 0; top:44%; margin-top: 2px; position: absolute; content: "";}
}

.type_icon{position:absolute; bottom:0; right:0; top: 10px; left: 10px; display: inline-block;}
.video_icon{width: 25px; height: 25px; @extend .videoicon;}
.photo_icon{width:25px; height: 21px; @extend .photoglicon;}

.back2top_icon{
  height:50px; width: 50px; position: fixed; bottom: 65px; right:3%; background: rgba(0, 0, 0, 0.7); border-radius: 50%; cursor: pointer;
  &:before{content: ""; display: block; height: 6px; width: 6px; margin: auto; position: absolute; top: 14px; left: 0px; transform: rotate(-45deg); right: 0px; border-top: 2px solid #fff; border-right: 2px solid #fff;}
  &:after{content: "Top"; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; position: absolute; left: 0; right: 0; bottom: 10px; text-align: center; text-transform: uppercase;}
}

 .more_txt{
   font-size: 1.3rem; margin: 0 15px 0 0; color: #000; position: relative; cursor: pointer;
   &:after {content: ""; display: block; height: 5px; width: 5px; margin: auto; position: absolute; top: 0; bottom: 0; transform: rotate(45deg); right: -10px; border-top: 1px solid #000; border-right: 1px solid #000;}
  }

 .trending-bullet a:after{margin:0 5px; content: '|'; font-size: .9rem; vertical-align: top;}
 .trending-bullet a:last-child:after{margin: 0; content: '';}

 .list-trending-topics{
    margin: 0 0 20px;
    h3{font-size: 1.8rem; margin: 0 0 15px; padding-top: 10px; font-weight: bold; display: block; height: 40px; position: relative; border-bottom: 2px solid #dfdfdf; width: 100%;}
    h3 span{height: 40px; line-height: 40px; padding: 0 10px 0 0; display: inline-block; position: relative; font-weight: bold; color: #000;}
    h3 span:before {content: ''; position: absolute; bottom: -2px; left: 0; right: 0; border-bottom: 2px solid #000;}
    .scroll_content{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        .nowarp_content{
          width:100%;
        }
    }
    a{
      display: inline-block;
      margin: 0 0 5px 20px;
      vertical-align: top;
      position: relative;
      width: 30%;
      font-size: 1.2rem;
      line-height: 2.0rem;
      &:before {
          content: '';
          background: #000;
          position: absolute;
          left: -20px;
          top: 9px;
          width: 5px;
          height: 1px;
          display: inline-block;
      }
    }
    &.col12{
      .scroll_content{
        justify-content: normal;
        a{
          width: 20%;
        }
      }
    }
  }

  .list-trending-now{
    margin: 0 0 20px;
    h3{font-size: 1.8rem; margin: 0 0 15px; padding-top: 10px; font-weight: bold; display: block; height: 40px; position: relative; border-bottom: 2px solid #dfdfdf; width: 100%;}
    h3 span{height: 40px; line-height: 40px; padding: 0 10px 0 0; display: inline-block; position: relative; font-weight: bold; color: #000;}
    h3 span:before {content: ''; position: absolute; bottom: -2px; left: 0; right: 0; border-bottom: 2px solid #000;}
    a{
      font-size: 1.1rem; 
      line-height: 1.9rem; 
      padding: 5px 15px 3px; 
      color: #000; 
      display:inline-block; 
      vertical-align: top; 
      border-radius: 15px; 
      margin: 0 10px 10px 0;
      background: #eeeeee;
    }
    .scroll_content{
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 5px;
    }
  }


  /*loader*/
  .wdt_loading {
    right: 0;
    min-height: 200px;
    background: #fff;
    .spinner_circle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 28px;
      width: 28px;
      animation: rotate 0.8s infinite linear;
      border: 8px solid #000;
      border-right-color: transparent;
      border-radius: 50%;
    }
  }


  
/*social share icons*/
.wdt_social_share{
  background: transparent;
  span{
    width:45px; height:35px; display: inline-block; vertical-align: top; margin: 0 0 0 5px; cursor: pointer;
    &.sms{display: none;}
  }
}

/*amazon widget added through iframe*/
.wdt_twogud, .wdt_amz{
  margin-bottom: 20px;
  iframe{width:100%}
}
.read_more_open {
  position: relative; font-size: 13px; margin: 0 15px 15px 0; color: #000; font-weight: normal; float: right;
  &:after {content: ""; display: block; height: 5px; width: 5px; margin: auto; position: absolute; top: 0; bottom: 0; transform: rotate(45deg); right: -10px; border-top: 1px solid #000; border-right: 1px solid #000; }
}

.news-card.horizontal {
  &.con_ads {
    padding: 0 0 3%;
    & > div {
      padding: 0;
    }
  }
}

.brdrtp {
  li {
      &:first-child {
          border-top: 1px solid #dfdfdf;
          padding-top: 3% !important;
      }
  }
}

.slidercomp {
  width: 100%;
  box-sizing: border-box;
  background-color: #282e34;
  margin-bottom: 10px;
  padding-bottom: 10px;
  .section {
    h2 {
      border-bottom: none;
      a {color: #fff;}
      span{
        padding-top: 3px;
        &:before {display: none;}
      }
    }
    .top_section {
      .read_more {
        color: #fff;
        &::after {border-top-color: #fff; border-right-color: #fff;}
      }
    }
  }
  .slider {
    .text_ellipsis {color: #fff;}
  }
}


.experiencepage {
  .data-drawer {margin: 15px auto !important; padding-bottom: 0;}
}

.mobile_body{
  overflow: hidden;
  /*slider next previous removed from mobile*/
  .slider-new {width:100%; box-sizing: border-box; padding: 0 3%;}
  .slider{
    width: auto !important;
    .hidden_layer{
      overflow: hidden;
      overflow-x: auto;
    }
    .btnPrev, .btnNext{display: none;}
    ul{
        li{
            padding:0;
            &.video{
                .img_wrap{
                    a{
                        position: relative;
                        display: block;
                        &:before{
                            @extend .videoicon; 
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width:32px;
                            height: 32px;
                            position: absolute;
                            content: '';
                        }
                    }
                }    
            }
            &.photo{
                .img_wrap{
                    a{
                        position: relative;
                        display: block;
                        &:before{
                            @extend .photoglicon;
                            top:10px;
                            left:10px;
                            width: 32px;
                            height: 26px;
                            position: absolute;
                            content: '';
                        }
                    }
                }    
            }
            .img_wrap{
                display: block;
                position: relative;
            }
            .img_wrap[data-tag]{
                &:after {
                    font-family: arial;
                    font-size: 12px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    padding: 2% 3%;
                    line-height: 12px;
                    background:rgba(0, 0, 0, 0.6);
                    content: attr(data-tag);
                    text-align: center;
                    color: #fff;
                    z-index:10
                }
            }
            .img_wrap[data-tag=""]:after {display:none}
            .con_wrap{
                margin: 10px 0 0;
                padding: 0;
                display: block;
                white-space: normal;
                min-height: 6rem;
                .section_name{
                  font-size: 1.3rem;  
                  color: #1f81db;
                  display: block;
                  margin-bottom: 5px;  
                }
                .text_ellipsis{
                    font-size: 1.2rem;
                    line-height: 2.0rem;
                    max-height: 6.0rem;
                    -webkit-line-clamp: 3;
                }
            }
        }
    }
  }

  .trending_keywords{
    // background: #ebebeb;
    // margin: 0 0 2%;
    // padding: 10px 3% 5px;
    width: 100%;
    position: relative;
    h3{
        color: #000;
        height: 30px;
        line-height: 35px;
        display: inline-block;
        text-align: center;
        font-size: 1.1rem;
        vertical-align: top;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 5px 0 0;
        white-space: nowrap;
    }
    .nowarp_content{
        white-space: nowrap;
        a {
            margin: 2px 5px 5px 2px;
            font-size: 1.1rem;
            border-radius: 20px;
            padding: 0 20px;
            height: 25px;
            line-height: 28px;
            display: inline-block;
            color: #000;
            border: 1px solid #cbcbcb;
            background: #fff;
            font-weight: bold;
        }
    }
  }
  .photo_video_section{
      background: #282e34;
      padding: 2% 0 4%;
      margin: 0 0 4%;
      display: flex;
      width: 100%;
      .section{
          background: transparent;
          .top_section{
            margin: 0;
            h2{
              border-bottom: 0;
              margin: 0;
              span{
                  background: transparent;
                    padding: 0;
                    color: #fff;
                    a{
                      color: #fff;
                    }
                    &:before{
                        border: 0;
                    }
                }
            }
            .read_more{
              display: none;
            }
          }
          .sub-section{
            margin: 0 0 15px;
            .sub-list li a{
              color: #fff;
            }
          }
      }
      ul{
          li.news-card.vertical{
              padding-right: 15px;
              margin-bottom: 0;
              .img_wrap{
                  img{
                      width: 250px;
                  }
              }
              .con_wrap {
                  .section_name{
                    // display: none;
                  }
                  .text_ellipsis{
                      color: #fff;
                  }
              }
          }
      }
      &.video{
          ul{
              li.news-card.vertical{
                  .img_wrap{
                      img{
                          width: 200px;
                      }
                  }
              }
              li.lead{
                  .img_wrap{
                    a{
                      &:before{
                        width: 50px;
                        height: 50px;
                      }
                    }
                  }
                  .con_wrap {
                      margin: 10px 0 0 0;
                      .text_ellipsis{
                          color: #fff;
                      }
                  }
              }
          }
      }
  }

  .section{width:100%; padding: 0 15px; box-sizing: border-box;}
  .view-horizontal{flex-wrap: nowrap; overflow-x: auto;}
  .view-horizontal li.news-card.vertical{padding-right:15px}
  .view-horizontal li.news-card.vertical .img_wrap img{width:200px; max-width: initial;}

  .news-card{
      &.only-info{
        &.video{
              flex-direction: row-reverse;
              .img_wrap{
                  position: relative;
                  width: 10%;
                  a{
                      &:before{
                        top: 9px;
                        right: 0;
                        height: 14px;
                        width: 14px;
                        content: '';
                        position: absolute;
                        @extend .videoicon;
                      }
                  }
              }
              .img_wrap[data-tag]:after {display:none}
              .con_wrap{width:90%; margin-right: auto;}
          }
      }
      
      &.photo{
        .img_wrap{
          position: relative;
          a{
            position: relative;
            display: block;
            &:before{
              content: '';
              position: absolute;
              top:8px;
              left:8px;
              width:25px; 
              height: 21px; 
              @extend .photoglicon;
            }
          }
        }
        &.lead{
          .img_wrap{
            a{
              &:before{
                width:40px;
                height: 32px;
                left:15px;
                top:15px;
              }
            }
          }
        }
        &.vertical{
          .img_wrap{
            a{
              &:before{
                width: 32px;
                height: 26px;
              }
            }
          }
        }
      }
      &.video{
        .img_wrap[data-tag]{
            &:after {
                font-family: arial;
                font-size: 12px;
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 2% 3%;
                line-height: 12px;
                background:rgba(0, 0, 0, 0.6);
                content: attr(data-tag);
                text-align: center;
                color: #fff;
                z-index:10
            }
        }
        .img_wrap[data-tag=""]:after {display:none}
        .img_wrap{
          position: relative;
          a{
            position: relative;
            display: block;
            &:before{
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 25px; 
              height: 25px; 
              @extend .videoicon;
            }
          }
        }
        &.lead{
          .img_wrap{
            a{
              &:before{
                width:40px;
                height: 40px;
              }
            }
          }
        }
        &.vertical{
          .img_wrap{
            a{
              &:before{
                width:32px;
                height: 32px;
              }
            }
          }
        }
      }   
  }

  .trending-bullet{
    text-align: left; border: 0; margin: 0 3% -5px; padding-top: 0; padding-bottom: 0; max-width: 94%;
    .scroll_content{overflow: hidden;}
    h3{
      font-size: 1.8rem; margin: 0 0 10px; padding-top: 3px; font-weight: bold; display: block; height: 40px; position: relative; border-bottom: 2px solid #dfdfdf; width: 100%; text-align: left;
      span{
        height: 40px; line-height: 40px; padding: 0 10px 0 0; display: inline-block; position: relative; font-weight: bold; color: #000;
        &:before {content: ''; position: absolute; bottom: -2px; left: 0; right: 0; border-bottom: 2px solid #000;}
      }
    }
    a{font-size: 1.2rem; line-height: 1.9rem; color: #000; margin: 0 0 5px 0; display: inline; vertical-align: top; font-weight: bold;}
  }

  .list-trending-now{
    margin:0 3% -5px; 
    max-width: 94%;
    h3{
      padding-top: 3px;
    }
    .scroll_content{
      border-bottom:0;
      padding-bottom:0;
    }
  }
  .list-trending-topics{
    margin:0 3%; 
    max-width: 94%;
    .scroll_content{
      display: block;
      a{
        width: 43%;
      }
    }
  }

  /*next article for articleshow*/
  .next_article{
    display: table; width: 100%; margin:20px 0 20px;
    a{display: table-row;}
    .nxttitle{
      padding: 5px 4%; width: 72%; display: table-cell; vertical-align: middle; background: #de4949;
      .text_ellipsis{font-size: 1.5rem; line-height: 2.4rem; color:#fff; max-height: 4.8rem; -webkit-line-clamp: 2;}
    }
    .nxtlink{
      font-size: 1.5rem; line-height: 2.4rem; color:#fff; padding: 10px; width: 28%; display: table-cell; vertical-align: middle; position: relative; text-align:center; background: #000;
    }
  }

  /* open in app button (articleshow and photoshow) */
  .btn_openinapp, 
  .btn_openinapp:visited{ z-index: 2; color: #fff; padding: 0 15px 0 13px; text-decoration: none; font-size: 14px; border-radius: 0 25px 25px 0; background: #AD0000; position: fixed; bottom: 210px; margin: auto; left: 0; font-weight: normal; transition: all 350ms ease-in-out; height:30px; line-height: 32px; white-space: nowrap;}
  .btn_openinapp.modal_openapp{z-index: 1004; }
  .btn_openinapp.float-amz{
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    height: 45px;
    line-height: 47px;
    padding: 0 8px 0 10px;
    span{
      display: inline-block;
      vertical-align: top;
      &.txt{
        text-transform: uppercase;
        color: rgba(255, 166, 0, 0.932);
        font-size: 14px;
        position: relative;
        width: 55px;
        font-weight: bold;
        text-align: left;
        padding: 8px 0 0 2px;
        box-sizing: border-box;
        height: 45px;
        font-family: arial;
        &:after{
          content: '';
          position: absolute;
          top:10px;
          left:0;
          width: 50px;
          height: 12px;
          background: url('https://navbharattimes.indiatimes.com/photo/58606011.cms') no-repeat;
          background-size: contain;
        }
      }
      &.img{
        margin: 4px 0 0 0;
        img{
          width:36px;
          height:36px;
          vertical-align: top;
        }
      }
    }
  }
  .wdt_twogud, .wdt_amz{margin-bottom: 4%;}
  .news-card{
    .wdt_twogud, .wdt_amz{
      width:100%;
      margin-bottom: 0;
    }
  }
  .slidercomp {
    .section {padding: 0;}
    .slider {
      .slider_content {padding-left: 10px;}
    }
  }

  /*city drop down for mobile*/
  .wdt_select_city{
    display: block;
    position: relative;
    z-index: 11;
    background: #ffc000;
    border-radius: 5px;
    padding: 12px;
    margin: 0 3% 4%;
    .sel-city-btn{
        a, span{
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 25px 0 12px;
            height: 35px;
            border-radius: 5px;
            color: #000;
            cursor: pointer;
            position: relative;
            font-weight: normal;
            line-height: normal;
            background: #fff;
            &:before{
                border-bottom: 0;
            }
            &:after{
                content: ""; 
                height: 5px;
                width: 5px;
                margin: auto;
                position: absolute;
                top: -2px;
                bottom: 0;
                transform: rotate(135deg);
                right: 10px;
                border-top: 1px solid #000;
                border-right: 1px solid #000;
            }
            svg{
                width: 12px;
                height: 15px;
                margin-right: 5px;
                color: red;
            }
        }
    }
  }
  .sel-city-content{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    margin: auto;
    z-index: 110;
    transition: all .5s;
    width: 100%;
    height: 100vh;
    .close_icon{
      width: 75px;
      height: 25px;
      left:0;
      top:auto;
      bottom: 150px;
      margin: auto;
      background: #000;
      color: #fff;
      font-size: 12px;
      font-family: arial;
      text-transform: uppercase;
      text-indent: initial;
      padding: 5px 10px 5px 5px;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &:after, &:before{
        left:12px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        height: 10px;
      }
    }
    &.show{
      display: block;
      opacity: 1;
      pointer-events: auto;
    }
    .inner-content{
      box-shadow: 0 0 12px 0 rgba(187, 185, 185, 0.5);
      padding: 10px;
      height: 85vh;
      overflow: hidden;
      overflow-y: auto;
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      width: 90%;
      top: 0;
      bottom: 0;
      background: #fff;
      box-sizing: border-box;
      border-radius: 6px;
      box-shadow: 0 0 4px 3px rgba(39, 36, 36, 0.32);
      margin: auto;
      ul{
          li{
              display: inline-block;
              vertical-align: top;
              width: 50%;
              margin-bottom: 8px;
              border-bottom: 1px solid #e9e9e9;
              padding: 0 5px 8px;
              box-sizing: border-box;
              a, b{
                  color: #000;
                  font-size: 14px;
                  display: block;
                  font-weight: normal;
                  cursor: pointer;
              }
              &.head{
                  margin-top: 20px;
                  width: 100%;
                  padding-bottom: 0;
                  border-bottom: 0;
                  a, b{
                      color: #000;
                      font-size: 16px;
                      display: block;
                      font-weight: bold;
                      cursor: pointer;
                  }
                  &:first-child{
                      margin-top: 0;
                  }
              }
          }
      }
    }
  }
  
}

#wdt_oneLaststep{background:rgba(0, 0, 0, 0.6);position:fixed;width:100%;height:100%;left:0;top:0;overflow:hidden;overflow-y:auto;cursor:default;opacity:0;z-index:-1;transition:all 0.5s;box-sizing:border-box; font-family:arial}
#wdt_oneLaststep.active{opacity:1;z-index:1050;}
#wdt_oneLaststep a{text-decoration:none; color:#5b9ae4}
#wdt_oneLaststep input[type=button], #wdt_oneLaststep input[type=submit]{background:#be281a;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);height:40px;color:#fff;text-transform:uppercase;font-weight:500;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;}
#wdt_oneLaststep input:disabled{opacity:0.4;}
#wdt_oneLaststep .box_oneLaststep{width:85%;background:#fff;overflow:hidden;overflow-y:auto;box-shadow:0 1px 12px 0 rgba(0, 0, 0, 0.3);position:absolute;right:0;top:10%;left:0;margin:auto;border-radius:3px;}
#wdt_oneLaststep .box_oneLaststep .head{background:#f5f5f5;padding:20px 20px 10px;font-size:18px; line-height:28px; position:relative;}
#wdt_oneLaststep .box_oneLaststep .head b{text-transform:uppercase;font-weight:bold;}
#wdt_oneLaststep .box_oneLaststep .txt_content{padding:20px;}
#wdt_oneLaststep .box_oneLaststep .txt_content .txt-info{font-size:16px;line-height:24px;color:#000;}
#wdt_oneLaststep .box_oneLaststep .txt_content .txt-info strong{margin:0 0 10px;display:block;font-weight:bold;}
#wdt_oneLaststep .box_oneLaststep .txt_content .txt-info label{margin:0 0 20px;font-size:16px;line-height:24px;color:#222;}
#wdt_oneLaststep .box_oneLaststep .txt_content input[type=button]{width:55%;margin:20px auto 10px;display:block;line-height:normal;border:0;font-size:14px; outline:none}
#wdt_oneLaststep .box_oneLaststep .txt_content ul li p{font-size:14px;line-height:22px;color:#333; display:flex;}
#wdt_oneLaststep .box_oneLaststep .txt_content ul li p:last-child{margin-bottom:0}
#wdt_oneLaststep .close-btn{ background:none;border:0;font-size:40px; font-weight:normal; line-height:1;color:#7b7b7b;transform:rotate(-45deg);position:absolute;top:-8px;z-index:1; font-family:initial; outline:none;cursor:pointer;}
#wdt_oneLaststep.active .close-btn{top:-4px; right:0;}
#wdt_oneLaststep .box_oneLaststep .checkbox{display:block;margin:20px 0 0;}
#wdt_oneLaststep .box_oneLaststep .checkbox p{margin-bottom:20px;}
#wdt_oneLaststep .box_oneLaststep .checkbox label{cursor:pointer;vertical-align:middle;font-weight:normal;line-height:20px;color: #333;position:relative;}
#wdt_oneLaststep .box_oneLaststep .checkbox input[type=checkbox]{margin:5px 10px 0 0}
#wdt_oneLaststep .box_oneLaststep .checkbox label a{color:#5b9ae4;}


.liveblink_newscard {
  &::after, &::before {
    content: " ";
    position: absolute;
    box-sizing: border-box;
    top: 50%; 
    transform:translateY(-50%); 
    margin-top:-1px;
    border-radius: 50%;
  }
  &::before {
    left: 2px;
    width: 6px;
    height: 6px;
    background-color: red;
  }
  &::after {
      opacity: 0;
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid red;
      background-color: transparent;
      z-index: 1;
      animation: liveblink 2s infinite 1s;
  }
  &.large {
    margin: 8px 0 0 2px;
    &::before {top: 10px; left:4px;}
    &::after {width: 14px; height:14px; border-width: 2px; top: 10px;}
  }
}
@keyframes liveblink {
  0% {
      // -webkit-transform: scale(1);
      opacity: 0
  }
  50% {
      opacity: 1
  }
  to {
      // -webkit-transform: scale(1);
      opacity: 0
  }
}