// .cricplay_schedule{white-space: nowrap; margin-bottom: 4%}

// .wdt_cricplay {
//     border-radius:8px; font-family:arial;padding:5px 0 5px;margin:5px 0 5px 4%;display:inline-block;width:85%;vertical-align:top;min-height:85px; box-shadow:0px 0px 6px #a0a0a0; background:#fff;
//     &:last-child{margin-right:4%;}
//     .top_bar.table{
//         margin-bottom: 10px;
//         .table_col {
//             &:nth-child(1), &:nth-child(3){width:22%; text-align: center}
//             &:nth-child(2){width:56%; text-align: center}
//             &:nth-child(3){vertical-align: top;}
//         }
//     }
//     .counter{font-size: 1.2rem; font-weight: bold; display: block; text-align: center; color:#000;}
//     .match_date_venue{font-size:1.0rem;line-height:1.5rem; text-align:center;white-space:normal;text-transform:uppercase; display: block; text-align: center;color:#5f5f5f;}
//     .powered_by{font-size: .8rem; text-align: center; display: block; margin-bottom: 2px;color:#000;}
//     .cricplay_icon{background-image: url(https://static.#{$image-sitename}.indiatimes.com/img/cricplay_sprite.svg); background-size: 62px 65px; background-position: -5px -7px; width:53px; height:24px; display: inline-block}
//     .game_price{display: block; font-size: 1.2rem; text-align: center; margin-bottom:2px; margin-top:3px; color:#ff9300;}
//     .people_playing{font-size: .8rem; text-align: center; display: block; color:#5f5f5f;}
//     .country{display:inline-block; vertical-align: top; font-size:1.6rem;font-weight:bold;line-height:normal;text-transform:uppercase;text-align:left; margin-top:6px; margin-right: 6px;color:#333;}
//     .teama, .teamb{
//         width:40%; text-align: right;
//         .teaminfo {
//             overflow:hidden;clear:both;display:inline-block; vertical-align: top;
//         }
//         .con_wrap{display:inline-block;vertical-align:top;}
//     }
//     .teama {
//         img{float:left; width:28px;}
//     }
//     .teamb {
//         text-align:left;
//         .teaminfo {
//             img{width:28px; margin:0; border-radius: initial;}
//         }
//         .country{text-align: right; width: auto; margin:6px 0 0 6px}
//     }
//     .score{
//         font-size:1.4rem;font-weight:bold;display:block;margin:0 0 1px;color:#000;
//         &.active {color:#00b758;}
//     }
//     .over{font-size:1.1rem; display:block;color:#666;}
//     .create_team_status{font-size:1.3rem;line-height:2.3rem; text-align:center;white-space:normal;margin-top:15px; font-weight: bold; padding-bottom: 3px;}
//     .versus{
//         width:10%; text-align: center;
//         span{height:18px; display:inline-block;font-size:1rem;text-align:center;padding:7px 0 0 0;}
//     }
//     .btn_block{
//         text-align: center; margin:8px 0 4px;
//         .btn_app_download{font-size: 1.2rem; font-weight: bold; height: 24px; line-height: 26px; padding: 0 10px; display: inline-block; border-radius: 5px; background:#e00000; color:#fff;}
//     }
//     .create_team_status {
//         border-bottom:1px solid #e4e4e4;
//         .win_cash{
//             position: relative;
//             color:#ff0000;
//             i{background-image: url(https://static.#{$image-sitename}.indiatimes.com/img/cricplay_sprite.svg); background-size: 62px 65px; background-position: -24px -36px; width:15px; height:17px; display: inline-block; margin:0 0 0 5px}
//         }
//     }
//     .match_final_status {
//         color:#000;
//         .status_live{
//             background:#00b758;color:#fff;
//             &:after, &:before {
//                 content:''; position:absolute; display:inline-block; border-radius:50%;
//             }
//             &:after{height:5px;width:5px;top:5px;left:5px;border:1px solid #fff;}
//             &:before{height:3px;width:3px;top:7px;left:7px;background:#fff;}
//         }
//         .match_venue{color:#999;}
//     }
//     .versus span{color:#000;}
// }
  
  
  
