@import 'sprite';

.mobile_body{
    .wdt_top_section, .wdt_next_sections{
        padding: 2% 0 4%;
        margin: 0 0 4%;
        .section{
            background: transparent;
            .top_section{
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                h2, h1{
                    border-bottom: 0;
                    span{
                        background: transparent;
                        padding: 0;
                        color: #000;
                        &:before{
                            border: 0;
                        }
                    }
                }
                .read_more{
                    display: none;
                }
            }
            .sub-section{
                margin-left: 0;
                margin-right: 0;
            }
        }
        ul.view-horizontal{
            li.lead{
                .con_wrap{
                    margin:10px 0 0;
                }
            }
            li.vertical{
                /*margin: 0 3% 0 0;*/
                margin: 0;
                padding: 0 15px 0 0; 
                .img_wrap{
                    img{
                        width: 127px;
                    }
                }
            }
        }
        
        &.video{
            background: #282e34;
            .section{
                span, a{
                    color: #fff;
                }
                ul.sub-list{
                    li:first-child{
                        a{
                            position: relative;
                            font-weight: bold;
                                &:after{
                                    position: absolute;
                                    background: #fff;
                                    content: '';
                                    bottom: -4px;
                                    left: 0;
                                    right: 0;
                                    height: 2px;
                                }
                        }
                    }
                }
            }
            .view-horizontal{
                li.vertical{
                    &.video{
                        a{
                            &:before{
                                width:32px;
                                height: 32px;
                            }
                          }
                    }
                }
            }
            .con_wrap {
                margin-left: 0;
                margin-right: 0;
                .text_ellipsis{
                    color: #fff;
                }
            }
        }
    }
    .wdt_top_section{
        background: #eeeeee;
        ul.view-horizontal{
            li.vertical{
                .img_wrap{
                    img{
                        width: 140px;
                    }
                }
                &.photo{
                    a{
                        &:before{
                            width: 32px;
                            height: 26px;
                        }
                      }
                }
            }
        }
        .news-card.lead{
            .con_wrap{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .wdt_next_sections{
        background: #fff;
        padding-top: 0;
        ul.view-horizontal{
            li.vertical{
                &.photo{
                    a{
                        &:before{
                          width:25px; 
                          height: 21px;
                        }
                      }
                }
                &.video{
                    a{
                        &:before{
                            width: 25px; 
                            height: 25px;
                        }
                      }
                }
            }
        }
    }
    .wdt_sections{
        margin-bottom: 4%;
        padding: 0 3%;
        .section{
            h1, h2{
                margin-left:0;
                margin-right:0;
            }
        }
        ul{
            li{
                padding: 0 5px;
            }
        }
        &.video{
            ul{
                padding: 0;
                li{
                    padding: 0 0 4%;
                    .con_wrap{
                        margin-left:3%;
                        margin-right:3%;
                    }
                    .img_wrap{
                        &:before{
                          width:40px;
                          height: 40px;
                        }
                    }
                }
            }
            
        }
        .section{
            .top_section{
                margin-left: 5px;
                margin-right: 5px;
                h1{
                    height: auto;
                    span{
                        height: auto;
                        line-height: 2.8rem;
                        padding: 10px 10px 5px 0;
                    }
                }
            }
        }
    }
    
    /*movie review listing (only for articlelist)*/
    .movielisting{
        .news-card.horizontal{
            border-bottom: 1px solid #dfdfdf;
            padding-bottom: 4%;
            margin-bottom: 4%;
            .img_wrap{
                img{
                    width: 120px;
                }
            }
            .con_wrap{
                width: 100%;
                span{
                    display: block;
                    margin-bottom: 5px;
                    word-break: break-word;
                }
                .title{
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    max-height: 4.8rem;
                    -webkit-line-clamp: 2;
                    font-weight: bold;
                    display: -webkit-box;
                    margin-bottom: 10px;
                }
                .cast{
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    max-height: 6.6rem;
                    display: -webkit-box;
                    /*
                    small{
                        display: inline-block;
                        vertical-align: top;
                        font-weight: bold;
                        margin-right: 5px;
                        font-size: 1.4rem;
                    }
                    */
                }
                .rating{
                    display: block;
                    margin-bottom: 5px;
                    overflow: hidden;
                    b{
                        font-size: 1.2rem;
                        line-height: 2.0rem;
                        font-weight: normal;
                        float: left;
                        width: 45%;
                        margin-right: 3%;
                    }
                    .rating-stars{
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 5px;
                        margin-bottom: 0;
                        .filled-stars.critic{
                            color: #ff001f;
                        }
                        .filled-stars.user {
                            color: #00b3ff;
                        }
                    }
                    .rate_val{
                        display: none;
                        /*
                        vertical-align: top;
                        font-size: 1.6rem;
                        color: #000;
                        font-family: arial;
                        small{
                            color:#727272;
                            font-size: 1.2rem;
                        }
                        */
                    }
                    
                }
                .desc{
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    max-height: 6.6rem;
                    margin-bottom: 10px;
                }
                .des{
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    color:#7f7f7f;
                }
                .time-caption{
                    font-size: 1.2rem;
                    line-height: 2.0rem;
                }
            }
        }
    }

    .al-trending{
        background: #fff;
        padding-bottom: 4%;
        margin-top: -4%;
        .trending_keywords{
            margin: 0;
        }
    }
    .news-card{
        &.horizontal{
            &.al-trending{
                margin-left: 0;
                margin-right: 0;
                margin-top: 4%;
            }
            &.wdt_data_drawer:empty{
                border: 0;
                margin: 0;
                padding: 0;
            }
        }
    }
    .prepetual-data{
        .box-item{
            padding-top: 4%;
        }
    }
    .box-item{
        &.data-after-ads{
            padding-top: 4%;
        }
    }
    /*astro widget in articlelist*/
    .astro_widget.in-AL{
        border-bottom: 1px solid #dfdfdf;
        margin: 0 3% 4%;
        padding-bottom: 4%;
        .news-card.horizontal, .astro_text{
            margin-left: 0;
            margin-right: 0;
        }
        .astro_slider{
            margin:0;
        }
    }
    .L1.articlelist, .L2.articlelist{
        .wdt_data_drawer{
            >div{
                margin: auto;
                .wdt-weather{
                    margin: 0;
                }
            }
        }
        .ad1.mrec, .ad1.mrec1, .ad1.mrec2{
            margin-bottom: 4%;
        }
    }
    .L1.photolist, .L2.photolist{
        .ad1.mrec, .ad1.mrec1, .ad1.mrec2{
            margin-bottom: 4%;
        }
    }
    .L1.videolist, .L2.videolist{
        .ad1.mrec, .ad1.mrec1, .ad1.mrec2{
            margin-bottom: 4%;
        }
        .con_social{
            margin-right: 3%;
            .youtube-iframe{
                margin-left: auto;
                padding: 0 0 3% 0;
            }
        }
    }
    .L2.movielist{
        .ad1.mrec, .ad1.mrec1, .ad1.mrec2{
            margin-bottom: 4%;
        }
    }
    /*webstories for L1 and L2 (photolist)*/
    .L1.photolist, .L2.photolist{
        .news-card{
            &.vertical.webstories{
                .img_wrap{
                    a {
                        position: relative;
                        display: block;
                        &:after {
                          content: '';
                          border-top: 3px #fff dashed;
                          height: 20px;
                          left: 10px;
                          right: 10px;
                          margin: auto;
                          position: absolute;
                          bottom: 0;
                        }
                        &:before {
                            content: '';
                            @extend .webstory_icon;
                            position: absolute;
                            top:auto;
                            left: 0;
                            right: 0;
                            bottom: 30px;
                            margin: auto;
                            width: 25px;
                            height: 22px;
                            background-repeat: no-repeat;
                        }
                        img {
                          border-radius: 8px;
                          overflow: hidden;
                        }
                      }
                  }
            }
        }
    }
    .articlelist{
        .news-card{
            &.lead{
                .img_wrap{
                    img[src*="blogs.navbharattimes"]{
                        max-height: 270px;
                    }
                }
            }
            &.horizontal{
                .img_wrap{
                    img[src*="blogs.navbharattimes"]{
                        max-height: 60px;
                    }
                }
                .con_wrap{
                    .auname{
                        font-size: 1.2rem;
                        line-height: 2rem;
                        font-family: arial;
                        color: #999;
                        display: block;    
                    }
                    .auloc{
                        color: #b9b9b9;
                        font-size: 1.0rem;
                        line-height: 1.4rem;
                        font-family: arial;
                        display: block;
                    }
                }
            }
        }
        /*petrol widget*/
        .pdwidget {
            display: flex;
            margin: 0 3% 2%;
            padding: 0 15px 5px;
            width: 100%;
            white-space: nowrap;
            >a{
                margin: auto;
            }
            .checplist {
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                font-family: arial;
                font-size: 0.85rem;
                text-align: right;
                background: #000;
                color: #fff;
                padding: 4px 5px 2px;
                height: 30px;
                box-sizing: border-box;
                .tdate {
                    margin: 0 0 0 4px;
                }
                .cp {
                    padding-top: 2px;
                    font-weight: bold;
                }
            }
            .pd, .pp {
                display: inline-block;
                vertical-align: top;
                padding: 0 5px;
                background: #fff;
                color: #333;
                height: 28px;
                line-height: 29px;
                border:1px solid #d6d6d6;
                border-right:0;
                svg{
                    display: inline-block;
                    vertical-align: top;
                    margin: 6px 5px 0 0;
                }
            }
        
            .pd h3, .pp h3 {
                display: inline-block;
                margin: 0 10px 0 0;
                font-size: 1.1rem;
                font-weight: bold;
                vertical-align: top;
                line-height: 31px;
                color:#000;
            }
        
            .pd span, .pp span {
                font-weight: bold;
                font-size: 1.1rem;
                font-family: arial;
                color: #000;
                vertical-align: top;
            }
        }
        .etiFrams{
            .box-item{
                padding: 0;
                text-align: center;
                iframe{
                    vertical-align:top;
                }
                &.market{
                    background: #fdf6e6;
                }
                &.quote{
                    background: #e6ecee;
                }
            }
        }
        .top_atf{
            padding: 10px 3% 4%;
            background: #fff;
            position: relative;
            .caption.more{
                -webkit-line-clamp: unset;
                max-height: none;
                transition: max-height .4s ease-in;
            }
            .caption{
                font-size: 1.4rem; 
                line-height: 2.2rem;
                max-height: 4.4rem;
            }
            
            .rdmore {
                cursor: pointer;
                font-size: 1.4rem;
                color:#1f81db;
                padding: 5px;
                background: #fff;
                position: absolute;
                right: 3px;
                bottom: 10px;
            }
        }
        .btf_con{
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin: 0 0 4%;
            padding: 4% 3% 4%;
            background: #FFF;
        }
    }
    /*webstories image crop for listing pages (a hack)*/
    .news-card.horizontal.webstories.midthumb{
        .img_wrap{
            a{
                display: block;
                max-height: 60px;
                overflow: hidden;
            }
        }
    }
}

