@import 'sprite';
.moviereview-summaryCard {
  h1 {
    color: #ffdc00;
  }
  .con_wrap {
    .cast {
      color: #fff;
    }
    .des {
      color: #999;
    }
  }
  .rating {
    .critic, .users {
      color: #fff;
    }
    .critic:before {
      color: #ff001f;
    }
    .users:before {
      color: #00b3ff;
    }
    .ratestar:before{
      color:#ffcc00
    }
    .count {
      color: #fff;
    }
  }
}

.listen-on {
  background: #e1e1e1;
  a {
    color: #7b7b7b;
  }
}

.rateBox {
  .rate_con {
    background: #f5f5f5;
    border: 1px solid #e6e6e6;
  }
  h3{
    color: #000;
  }
  .rangeslider {
    &::-webkit-slider-thumb {
      background: #00b3ff;
    }
    &::-moz-range-thumb {
      background: #4CAF50;
    }
  }
}

.tabs_circle {
  background: #fff;
  .tabs_circle_list {
    li {
      border: 1px solid #333;
      background: #fff;
      color: #333;
    }
    li.active{
      border: 1px solid #333;
      background: #333;
      color: #fff;
    }
    li.btn-rated{
      border:1px solid #e1e1e1;
      background:#f5f5f5;
      color: #333;
      span:before {
         color: #00b3ff;
      }
    }
  }
}

.moviereview-summaryCard .img_wrap{width: 120px; vertical-align: top; text-align: left; position: relative;}
.moviereview-summaryCard .img_wrap img{border:4px solid #fff; max-width: 120px; max-height: 160px; width:auto;}
.moviereview-summaryCard .img_wrap .video_icon {width: 40px; height: 40px;@extend .videoicon; top: 50%;left: 50%;transform: translate(-50%, -50%); margin: auto; animation:initial}
.moviereview-summaryCard .table .con_wrap {text-align: left; word-break: break-word; padding: 0 0 0 10px; vertical-align: top; position: relative; width:100%}
.moviereview-summaryCard .table .con_wrap .cast{font-size: 1.6rem; line-height: 2.4rem; max-height: 7.2rem; -webkit-line-clamp: 3;}
.moviereview-summaryCard .table .con_wrap .des{font-size: 1.4rem; line-height: 2.0rem; display: block; position: absolute; bottom: 0}
.moviereview-summaryCard .table .con_wrap .des span{display: block;}
.moviereview-summaryCard .rating{width: 30%; text-align: left; padding: 15px 0 10px 10px; box-sizing: border-box;}
.moviereview-summaryCard .rating .table_col{text-align:center; width: 50%}
.moviereview-summaryCard .rating .txt{font-size: 1.4rem; display:inline-block;}
.moviereview-summaryCard .rating .count{font-size: 1.6rem; display:block; font-family: arial}
.moviereview-summaryCard .rating .count b{font-size: 2.6rem; font-weight: normal;}
.moviereview-summaryCard .rating .rating-status{color: #ea0000; font-size: 1.2rem;display: block;margin-top: 5px;}
.moviereview-summaryCard .rating h3{display: block; font-size: 1.1rem; font-weight: normal; margin-bottom: 5px; line-height: 1.8rem; height: 2rem;}
.moviereview-summaryCard .con_poster{position: absolute; z-index: 2; background-image: linear-gradient(to bottom, #1a0c01 30%, #995420 167%); left: 0; right: 0; top: 0; bottom: 0;}
.moviereview-summaryCard .bg_poster{display:none; position: absolute; width:100%; object-fit: cover; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; height: 288px}

/*gaana widget*/
.listen-on{height: 50px; line-height: 55px; padding: 0 3%; font-size: 1.6rem; text-align: center; display: block;}
.listen-on a{font-weight: 600;}
.listen-on img{display: inline-block; vertical-align: middle; width: 105px;}

.moviereview-summaryCard .con_review_rate{display: block;}
.con_review_rate{margin: 15px 0; overflow: hidden;}
.rateBox {display: flex;}
.rateBox .head{background: #666666; width: 10%; position: relative;}
.rateBox .head b{font-size: 14px; color: #fff; font-weight: bold; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 20px; text-align: center;}
.rateBox .rate_con{padding:15px 10px 10px; text-align: left; margin-left: 1%; width: 39%; box-sizing: border-box;}
.rateBox .rate_con .btn-submit{background: #000; border-radius: 15px; font-size: 12px; height: 27px; line-height: 28px; color: #fff; padding: 0 12px; border: 0; cursor: pointer; outline: none; margin: 2px 0 0 5px; float: right; text-transform: uppercase;}
.rateBox .star-and-value{display: inline-block; vertical-align: top; white-space: nowrap; font-family: arial;}
.rateBox h3{margin: 0 0 10px; padding: 0; font-size: 1.2rem; font-weight: normal;}
.rateBox .ratespan{font-size: 16px; display: inline-block; width: 20%; height: 30px; line-height: 35px; margin: 0 0 0 5px; color: #000; vertical-align: top}
.rateBox .ratespan small{color:#727272; font-size: 14px;}
.rateBox .rangeslider {-webkit-appearance: none; width: 70%; height: 5px;}
.rateBox .rangeslider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 15px; height: 15px; border-radius: 15px; cursor: pointer;}
.rateBox .rangeslider::-moz-range-thumb {width: 25px; height: 25px; cursor: pointer;}

.rateBox .star-and-value .rating-stars{margin:5px 0 0 0; height: 22px; line-height: 22px; vertical-align: middle;}
.rateBox .star-and-value .filled-stars:before, .rateBox .star-and-value  .empty-stars:before{font-size:23px; line-height: 23px;}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
  .rateBox .star-and-value .filled-stars:before, .rateBox .star-and-value  .empty-stars:before{font-size: 18px; line-height: 18px;}
}

@supports (-webkit-hyphens:none) {
  .rateBox .star-and-value .filled-stars:before, .rateBox .star-and-value  .empty-stars:before{font-size: 18px; line-height: 18px;}
}

.rateBox .star-and-value  .empty-stars .starcontainer{width:100px;}
.rateBox .star-and-value  .empty-stars .starcontainer .star{width:20px; height:20px; border:1px solid}

/*circle tabs start*/
.tabs_circle{text-align: center;}
.tabs_circle .tabs_circle_list{white-space: nowrap;}
.tabs_circle .tabs_circle_list li{font-size: 1.4rem; display: inline-block; border-radius: 20px; height: 35px; line-height: 40px; margin: 0 10px 0 0; white-space: nowrap; cursor: pointer; width: 45%; vertical-align: top; text-align:center}
.tabs_circle .tabs_circle_list li:last-child{margin: 0}
.tabs_circle .btn-rated span{font-size: 1.6rem; display: block; font-family: arial; position: relative; height: 35px; line-height: 35px; padding-left: 10px}
.tabs_circle .btn-rated span b {font-size: 2.2rem; font-weight: normal;}
.tabs_circle .btn-rated span:before{content: "\2605"; font-size: 25px; line-height: 30px; position: absolute; top: 2px; left: 6px;}


/* custom-checkbox */
.custom-checkbox {display: inline-block; position: relative; margin-left: 25px; cursor: pointer; vertical-align: top; top:-5px}
.custom-checkbox input {position: absolute; opacity: 0; cursor: pointer;}
.custom-checkbox .checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; border: 2px solid #c3c3c3; border-radius: 50%;}
.custom-checkbox .checkmark:after {left: 9px; top: 5px; width: 5px; height: 10px; border: solid #c3c3c3; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); content: ''; position: absolute;}
.custom-checkbox input:checked ~ .checkmark, .custom-checkbox input:checked ~ .checkmark:after {border-color: #33ba00;}

.mobile_body{
  .moviereview-summaryCard .rating{width: 100%; padding: 0; text-align: center;}
  .moviereview-summaryCard .rating .critic, .moviereview-summaryCard .rating .users{position: relative;}
  .moviereview-summaryCard .rating .critic:before{content: "\2605"; font-size: 20px; line-height: 30px; position: absolute; top: -8px; left: -25px}
  .moviereview-summaryCard .rating .users:before{content: "\2605"; font-size: 20px; line-height: 30px; position: absolute; top: -8px; left: -25px}
  .moviereview-summaryCard .con_review_rate {margin: 15px 4%;}
  .rateBox {max-height: 0; transition: max-height 0.4s ease-out; display: flex;}
  .rateBox.visible {max-height: 1000px; transition: max-height 1s ease-in; display: block; margin-top: 15px;}
  .rateBox .rate_con{padding:15px; margin: 0;}
  .rateBox .star-and-value {min-height: 40px;}
  .rateBox h3 {margin: 0 0 15px; padding: 0; font-size: 1.6rem; font-weight: bold;}
  .rateBox .ratespan {font-size: 2.4rem; font-weight: 700; border-left: 1px solid #d3d3d3; margin: 0 0 0 10px; padding-left: 10px;}
  .rateBox .rate_con .btn-submit{margin: -3px 0 0 5px;}
}

.desktop_body{
  .moviereview-summaryCard{
    .img_wrap{
      width: 237px;
      img {
        max-width: 237px;
        max-height: 313px;
        width: auto;
      }
    }
    .poster_card{
      height: auto;
      .con_poster{
        position: initial;
        background: transparent;
        .mvlabel{
          color:#000;
          font-size: 1.2rem;
          font-weight: bold;
          margin-left: 2px;
        }
      }
    }
    .con_wrap {
      /*
      h1.movie-name{
        font-size: 1.6rem;
        line-height: 2.4rem;
        max-height: 4.8rem;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        padding: 0;
      }
      */
      .moviereview-sourceCard {
        margin: 5px 0 5px 0;
      }
      .des{
        position: initial;
        color: #000;
        font-size: 1.2rem;
        line-height: 2.0rem;
        span{
          display: block;
          margin-bottom: 5px;
          b{
            width: 30%;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
      .wdt_social_share{
        float: none;
        width: auto;
        padding: 0 0 10px;
        margin: 0 0 10px;
        border-bottom: 1px solid #c3c3c3;
        span.comments, span.email{
          float: left;
        }
      }
      .cast{
        color: #000;
        font-size: 1.2rem;
        line-height: 2.0rem;
        max-height: 6.0rem;
        margin-bottom: 5px;
        b{
          width: 30%;
          display: inline-block;
          vertical-align: top;
        }
        .items{
          display: inline-block;
          vertical-align: top;
          width: 70%;
        }
      }
      .btn_rate{
        font-size: 1.0rem;
        display: inline-block;
        border-radius: 20px;
        height: 30px;
        line-height: 32px;
        margin: 0 10px 0 0;
        padding: 0 15px;
        white-space: nowrap;
        cursor: pointer;
        vertical-align: top;
        text-align: center;
        border: 1px solid #333;
        background: #fff;
        color: #333;
      }
    }
    .rating{
      background: #f0f0f0;
      .critic, .users, .count{
        color: #000;
      }
    }
    .listen-on{
      margin-top: 15px;
    }
  }
}

