@import 'sprite';

.mail_icon{width:44px; height: 44px; display: inline-block; color: #fff;}

.wdt_newsLetter{padding: 4% 4% 3%; margin-bottom:4%; background-color: #0055ad; background-image: linear-gradient(to right, #0055ad , #01adc7); color: #fff;}
.wdt_newsLetter .head {margin: 0 0 10px;}
.wdt_newsLetter .head .mail_icon{vertical-align: top;}
.wdt_newsLetter .head h3{font-size: 1.6rem; line-height: 2.4rem; display: inline-block; vertical-align: top; margin: 0 0 0 15px; width: 78%;}

.wdt_newsLetter .input_txt{display: flex; margin: 0 0 15px;}
.wdt_newsLetter .input_txt input[type='text']{background: #fff; color: #333; font-size: 1.2rem; height: 33px; padding: 0 10px; width: 55%;}
.wdt_newsLetter .input_txt input[type='submit']{background: #00458d; color: #fff; font-size: 1.1rem; height: 35px; border: 0; outline: none; width: 40%;-webkit-appearance: none; cursor: pointer;}
.wdt_newsLetter .error_msg{display: block; color:#fed20a; font-size: 1.4rem; margin: 0 0 10px;}    
.wdt_newsLetter .bottom_caption{font-size: 1.3rem; line-height: 2.1rem;}

.wdt_newsLetter .pnlsuccess{display: none; text-align: center;}
.wdt_newsLetter .pnlsuccess .mail_icon{width: 66px; height: 66px;}
.wdt_newsLetter .pnlsuccess h4{font-size: 2.2rem; margin:10px 0}
.wdt_newsLetter .pnlsuccess .message_txt{display: block; font-size: 1.6rem; line-height: 2.4rem;}