@import 'sprite';

.top_notification {
  background: #fff;
  border-bottom: 1px solid #c6c6c6;
  h3 {
    color: #AD0000;
  }
  .con_wrap {
    color: #000;
    a {
      color: #000;
    }
  }
  .close_icon {
    &:before, &:after {
      background: #ccc;
    }
  }
}
.notification_popup {
  display: block;
  background: #fff;
  position: fixed;
  z-index: 9999;
  margin: auto;
  width: 400px;
  padding: 15px 17px 19px 15px;
  border-radius: 4px;
  box-shadow: 0 3px 9px 12px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  h4 {
    color: #000000;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .logoWrap{
    overflow: hidden;
    margin: 0 0 10px 0;
    img{
      width: 50px;
      height: 50px;
      float:left;
      margin-right: 20px;;
    }
}
  .btn{
    font-size: 1rem;
    padding:0px 15px;
    display: block;
    float: right;
    height: 25px;
    line-height: 28px;
    cursor: pointer;
    border-radius: 4px;
  }
  .allow{
    background: #c00000;
    color: #fff;
  }
  .later{
    background: #e8e8e8;
    color: #000;
    margin-right: 20px;
  }
  .con_wrap {
    color: #000;
    a {
      color: #000;
    }
  }
  .close_icon {
    &:before, &:after {
      background: #ccc;
    }
  }
  &.mobile {
    width: 94%;
    max-width: 350px;
    h4 {font-size: 1.2rem; line-height: 2rem;}
    .btn {font-size: 1.2rem; height: 25px; line-height: 28px;}
  }
}


.top_notification{padding: 4% 3%; margin:2% 0 4%; position: relative;}
.top_notification h3{font-size: 1.4rem; line-height: 2.2rem; margin:0 20px 5px 0}
.top_notification .text_ellipsis{font-size: 1.3rem; line-height: 2.0rem; max-height: 4.0rem;}
.top_notification .table .btn_wrap{width:25%; text-align: right; vertical-align: bottom;}
.top_notification .table .btn_wrap .button{width: auto; max-width: 80%; white-space: nowrap; overflow: hidden; padding: 0 8%;}
.top_notification .close_icon{top:0; right: 0; width:30px; height:30px; margin: 0px;}
.top_notification .close_icon:before, .top_notification .close_icon:after{width: 1px; height:16px; left:14px; top:6px}
.minitv_icon{padding:0 0 0 30px; position: relative;}

.minitv-in-list.top_notification .img_wrap {position: relative; width: 32%; vertical-align: top; display: table-cell;}
.minitv-in-list.top_notification .img_wrap .strip{width: 75px; height: 18px; font-size: 10px; font-weight: bold; background-color: #df2027; text-transform: uppercase; color: #fff; text-align: center; line-height: 19px; position: absolute; right: -10px; bottom: -6px; border-radius: 3px; z-index: 2; font-family: Arial, Helvetica, sans-serif} 
.minitv-in-list.top_notification .img_wrap .strip:after{content: ''; position: absolute; top: -8px; right: 2px; z-index: 1; width: 0; height: 0; border-style: solid; border-width: 8px 0 0 8px; border-color: transparent transparent transparent #830000;}

.minitv-in-list.top_notification .img_wrap img {vertical-align: bottom; width: 100%; height: auto;}
.minitv-in-list.top_notification .con_wrap {text-align: left; word-break: break-word; padding: 0 0 0 10px; vertical-align: top; position: relative; font-weight: 600;}
.minitv-in-list.top_notification .minitv_icon{padding:0;}
.minitv-in-list.top_notification h3{font-size: 1.6rem; line-height: 2.4rem; max-height: 4.8rem; color:#000; font-weight: normal}

/*Breaking news*/
.card_breaking_news{background: #000;position: relative; margin: 0 0 2%; height: 45px}
.card_breaking_news.hideBnews {display:none;}
.card_breaking_news .table{table-layout: fixed;}
.card_breaking_news .head_wrap{background: #d0021b; font-size: 1.2rem; color: #fff; text-transform: uppercase; text-align: center; line-height: 1.5rem;}
.card_breaking_news .con_wrap{width: 70%; overflow: hidden;}
.card_breaking_news .con_wrap .bnew_text{color: #fff;font-size: 1.2rem; line-height: 3.5rem; white-space: nowrap; overflow: hidden; display: inline-block; vertical-align: top; padding:8px 0; position: relative; left:0; height:45px; box-sizing: border-box;}
.card_breaking_news .con_wrap .bnew_text a{color:#88bcec}
.card_breaking_news .btn_wrap{background: #454545;width: 8%; position: relative;}
.card_breaking_news .btn_wrap .close_icon{bottom: 0; margin: auto; right: 1px;}
.card_breaking_news .close_icon:before, .card_breaking_news .close_icon:after{width: 1px; height:16px; color: #fff;}

.card_breaking_news .con_wrap .bnew_text{line-height: 3.0rem;}
.card_breaking_news .trending_keywords h3{color:#fff; display: none;}
.card_breaking_news .trending_keywords{display: inline-block; vertical-align: top; width: auto;}
.card_breaking_news .trending_keywords .nowarp_content a{color:#000; border:0; margin-bottom: 0;}

.card_breaking_news .head_wrap.wap{width:4%; background: transparent;}
.card_breaking_news .con_wrap.wap{width:88%}

.enable_marquee {
  padding-left: 41%;
  -moz-animation: scroll-left 15s linear infinite;
  -webkit-animation: scroll-left 15s linear infinite;
  animation: scroll-left 15s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(0);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}