.paytm_wrapper{margin: 15px 3%}
._paytmsponsored{
    border: solid 1px #fff;
    h3{
        margin: 10px 0; font-size: 1.6rem;
        img{float: right;}
        overflow: hidden;
    }
    ._paytm_card{
        margin-bottom: 10px; border: solid 1px #ebebeb !important; padding: 10px;
        .prod_img{width:55px;}
        .des{
            h4{font-size:1.6rem;}
            .cashback{font-size: 1.2rem; color: #ed4734;}
        }
        .items .tbl_col:first-child{
            vertical-align: top; text-align: left;
            img{width: auto; max-width: 55px; max-height: 72px;}
        }
        ._paytm_price{
            font-size: 1.25rem; margin: 10px 0 0;
            .old-price{color: #7b7b7b; text-decoration: line-through; font-family: arial; text-decoration-color: #d0021b; display: inline-block; margin-right: 10px;}
            .main-price{font-weight: 600;}
            .btn-buy{display:block; padding: 3px 10px 0px; background: #f6d74a; font-size: 1.3rem; float: right;}
        }
    }
    ._paytm_card:last-child{margin-bottom: 0}
}

/*amazon widget start*/
.wdt_amazon._paytmsponsored {
    h3 {
      font-size: 1.8rem;
      margin-bottom: 5px;
      img {
        margin-top: 2px;
      }
    }
    ul {
      white-space: nowrap;
      overflow-x: auto;
      padding-right: 5px;
    }
    ._paytm_card {
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 0 5px #b8b8b8;
      width:133px;
      margin: 5px;
      padding: 5px;
      min-height: 210px;
      word-break: break-word;
      white-space: normal;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
    }
    .tbl .tbl_col {
      display: block;
    }
    ._paytm_card {
      .prod_img {
        margin: auto;
      }
      .des .heading .text_ellipsis {
        font-size: 1.4rem;
        line-height: 2.0rem;
        max-height: 4.0rem;
        color: #000000;
        font-weight: bold;
      }
      .items .tbl_col:first-child {
        text-align: center;
      }
      .prod_img {
        width: auto;
        height: 110px;
      }
      .items .tbl_col:first-child img {
        max-width: 100%;
        max-height: 100px;
      }
      ._paytm_price {
        .main-price {
          color: #df2027;
          font-family: arial;
          font-size: 1.6rem;
        }
        .btn-buy {
          padding: 0 10px 0px;
          font-size: 1.4rem;
          float: none;
          color: #000;
          font-weight: bold;
          height: 28px;
          border-radius: 3px;
          background: #fed20a;
          line-height: 32px;
          display: inline-block;
          margin-top: 5px;
        }
        margin-top: 5px;
      }
    }
  }
/*amazon widget end*/

._paytmsponsored.wdt_superhit {
  background: #e4e4e4;
  padding: 10px 3% 10px;
  h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 5px;
  }
  ul {
    padding: 0;
    li {
      width: 70%;
      white-space: normal;
      margin-right: 10px;
      max-width: 280px;
      vertical-align: top;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
      border-color: #cbcbcb !important;
      background: #fff;
      margin-bottom: 5px;
    }
  }
  ._paytm_card {
    &:last-child {
      margin-right: 0;
    }
    .prod_img {
      width: 105px;
      padding-right: 10px;
      img {
        width: 105px;
        max-width: 105px;
      }
    }
    .items {
      .tbl_col:first-child img {
        max-width: 105px;
        max-height: initial;
      }
      .text_ellipsis {
        font-size: 1.4rem;
        line-height: 2.2rem;
        max-height: 6.6rem;
        -webkit-line-clamp: 3;
      }
    }
  }
}


._paytmsponsored.wdt_amazon.amz_strip ._paytm_card{padding: 0; width: 200px; min-height: 255px; border: 0}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .prod_img{height: 165px}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .items .tbl_col:first-child img{max-height: 165px;}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .amz_strip_txt{padding:5% 3% 0; width: 94%}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .amz_strip_txt .tbl_col{display: table-cell}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .amz_strip_txt .lft{width:67%; vertical-align: top; padding:3px 3% 0 0}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .amz_strip_txt .rgt{width:30%; vertical-align: top; text-align: center;}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .amz_strip_txt .text_ellipsis{font-size: 1.4rem; line-height: 1.8rem; max-height: 3.6rem; font-weight: bold; text-align:left}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .amz_strip_txt .main-price{color: #777; font-size: 1.2rem; line-height: 1.6rem; max-height: 3.2rem; text-align: left; margin:5px 0 0 0}
._paytmsponsored.wdt_amazon.amz_strip ._paytm_card .amz_strip_txt .btn-buy{color: #999; border: 1px solid #999; min-width: 60px; height: 26px; line-height: 29px; padding: 0 4px; text-align: center; font-size: 1.1rem; border-radius: 5px; display: block; margin-top: 8px; cursor: pointer; white-space: nowrap; max-width: 55px; overflow: hidden;}

