@import 'sprite';

.searchHeader{padding:10px 15px; background: #fff; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);	position: fixed; top:0px; z-index: 9;}
.searchList{list-style: none;	padding: 0px;	margin:0px;	display: flex;}
.searchList li{display: inline-block;}
.searchIcon{width: 100%;}
.searchIcon input{width:100%; border:none; font-size:1.6rem; padding: 4px 0 2px; color:#a7a7a7}

.voiceSearchButton{
	display: none;
	/*background: url("/img/mic.png") no-repeat;*/
	width:32px;
	height: 26px;
	margin-top:-5px;
}
