@import 'sprite';

.mobile_body{
    .section-topics{
        background: #fff;
        overflow: hidden;
        .section{
            h1{
                margin: 0;
            }
        }
        .lead-topics{
            .news-card {
                margin: 0 0 5px;
                .con_wrap {
                    h3{
                        .text_ellipsis{
                            font-size: 2.0rem;
                            line-height: 2.8rem;
                            max-height: 5.6rem;
                            margin-bottom: 10px;
                        }
                    }
                    .enable-read-more{
                        .first_col{
                            width: 100%;
                            .text_ellipsis{
                                font-size: 1.4rem;
                                line-height: 2.2rem;
                                max-height: 13.2rem;
                                overflow: hidden;
                                &.more{
                                    max-height: initial;
                                    -webkit-line-clamp: initial;
                                }
                            }
                        }
                        .second_col{
                            width: 100%;
                            .more_txt{
                                margin-top: 15px;
                                float: right;
                                height: 20px;
                                width: 40px;
                                text-align: center;
                                &:after {
                                    top: -2px;
                                    right: -8px;
                                }
                                &:before {
                                    content:'More';
                                }
                                &.collapse{
                                    &:after {
                                        top: -4px;
                                        -ms-transform: rotate(135deg);
                                        transform: rotate(135deg);
                                        right: -8px;
                                    }
                                    &:before {
                                        content:'Less';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .rest-topics{
            .news-card{
                &.horizontal-lead{
                    margin-bottom: 25px;
                    .img_wrap img {
                        width: 119px;
                    }
                }
                &.horizontal{
                    padding-left: 0;
                    padding-right: 0;
                    flex-wrap: nowrap;
                    flex: auto;
                }
                &.vertical{
                    padding: 0 5px;
                }
            }
        }
        .box-item{
            &.photos{
                margin-bottom: 4%;
                padding: 0 3%;
                .news-card{
                    &.vertical{
                        padding: 0 5px;
                    }
                }
            }
            &.videos{
                .news-card{
                    &.lead{
                        .con_wrap{
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .date{
            font-size: 1.1rem;
            color: #7d7d7d;
            margin: 0 3% 0;
            max-width: 94%;
        }
        .no-data-found{
            text-align: center;
            .nodata_txt_icon{
                display: inline-block;
                text-align: center;
                margin: 100px auto 150px;
                b{
                    display: inline-block;
                    @extend .include-desktop-sprite;
                    height: 77px;
                    width: 77px;
                    background-position: -7px -169px;
                }
                span{
                    font-size: 22px;
                    color:#c4c4c4;
                    font-weight: bold;
                    display: block;
                    margin: 10px 0 0 0;
                }
            }
        }
        .tabs-circle{margin: 4% 3%; text-align: center; position: relative;}
        .tabs-circle:after{content: ''; position: absolute; top: 0; bottom: 0; margin: auto; height: 1px; background: #b9b9b9; left: 0; right: 0; z-index: -1;}
        .tabs-circle ul{display: flex;}
        .tabs-circle ul li.active{background: #3f3f41; border-color: #3f3f41; color: #fff;font-size: 1.2rem;}
        .tabs-circle ul li:first-child{text-transform: uppercase;}
        .tabs-circle ul li:last-child{margin-right: 0;}
        .tabs-circle ul li{margin-right: 1%; width:24%; height: 30px; line-height: 33px; background: #f0f0f1; text-align: center;}
        .tabs-circle ul li span{font-size: 1.2rem; display: block; padding: 0 3%; cursor: pointer;}

        /*player details and candidate details*/
        .player-stats{
            .con_stats{
                ol{
                    padding:3%;
                    li{position: relative; font-size: 1.6rem; line-height: 2.4rem; margin: 0 0 10px 15px; list-style: decimal;}
                }
            }
            .profileDesc, .only-txt{
                img{
                    max-width: 100%;
                }
                a{
                    color: #1f81db;
                }
                .nic {
                    position: relative;
                    padding: 3px 5px 0;
                    margin-right: 5px;
                    cursor: pointer;
                    font-weight: 700;
                    display: inline-block;
                    background: rgba(220,140,141,.2);
                    transition: .25s ease;
                    line-height: 25px;
                    font-size: 1.5rem;
                }   
            }
            .shortInfo{
                li{
                    span{
                        &:after{
                            content: '|';
                            margin:0 5px;
                        }
                        &:last-child{
                            &:after{
                                content: '';
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .enable-read-more{
                margin: 10px 3%;
                .first_col{
                    width: 100%;
                    .text_ellipsis{
                        &.more{
                            max-height: initial;
                            -webkit-line-clamp: initial;
                        }
                    }
                }
                .second_col{
                    width: 100%;
                    .more_txt{
                        margin-top: 15px;
                        float: right;
                        height: 20px;
                        width: 170px;
                        text-align: right;
                        text-transform: capitalize;
                        color: #00b56f;
                        padding-right: 5px;
                        &:after {
                            top: -2px;
                            right: -8px;
                        }
                        &:before {
                            content:'View complete profile';
                        }
                        &.collapse{
                            &:after {
                                top: -4px;
                                -ms-transform: rotate(135deg);
                                transform: rotate(135deg);
                                right: -8px;
                            }
                            &:before {
                                content:'View Less profile';
                            }
                        }
                    }
                }
            }
            .section.tableHeading{
                cursor: pointer;
                padding:0;
                .minus{
                    text-align: center;
                    margin: 0;
                    cursor:pointer;
                    &:after {
                        content: '-';
                        font-size: 30px;
                        font-weight: bold;
                        border: 0;
                        transform: initial;
                        height: 25px;
                        width: 25px;
                        position: initial;
                    }
                }
                .plus{
                    text-align: center;
                    margin: 0;
                    cursor:pointer;
                    &:after {
                        content: '+';
                        font-size: 30px;
                        font-weight: bold;
                        border: 0;
                        transform: initial;
                        height: 25px;
                        width: 25px;
                        position: initial;
                    }
                }
            }
            .info_table{
                margin:0 0 4%; overflow-x: auto;
                transition: max-height 0.50s ease-in;
                max-height: 500px;
                &.collapse{
                    max-height: 0px;
                    overflow: hidden;
                    margin: 0 0  2%;
                    transition: max-height 0.60s ease-out;
                }
            }
            .info_table table{width:100%;border-collapse:collapse;margin:0 auto;border-spacing:0;border:0;}
            .info_table table tr th{}
            .info_table table tr td{font-size:1.2rem; font-weight:bold;text-align:center;}
            .info_table table tr td:first-child{text-align:left;text-transform:uppercase;font-weight:bold;}
            .info_table table tr:first-child th:first-child{text-align:left;text-transform:uppercase;font-weight:bold;}
            .info_table table tr:first-child th{font-size:1.1rem; background: #595959; color: #fff;}
            .info_table table td, .info_table table th{padding:10px 5px; border: 1px solid #b0b0b0;white-space: nowrap;}
        } 
    }
}
