html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
ul,
li {
  list-style: none;
}

table,
tr,
td {
  vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*
@font-face {
	font-family: 'Noto Sans';
	src: url('https://static.nbt.indiatimes.com/fonts/NotoSansDevanagari-Regular.eot');
	src: url('https://static.nbt.indiatimes.com/fonts/NotoSansDevanagari-Regular.eot?#iefix') format('embedded-opentype'),
	url('https://static.nbt.indiatimes.com/fonts/NotoSansDevanagari-Regular.woff2') format('woff2'),
	url('https://static.nbt.indiatimes.com/fonts/NotoSansDevanagari-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}
*/

video {
  background-size: cover;
  line-height: 0;
  vertical-align: top;
}

/*common css start*/

/*
html {-webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%}

@media (max-width: 319px) {
  html {font-size: 56.25%;}
}

@media (min-width: 320px) and (max-width: 359px) {
  html {font-size: 62.5%;}
}

@media (min-width: 360px) and (-webkit-min-device-pixel-ratio : 3 ), (min--moz-device-pixel-ratio : 3 ), (-o-min-device-pixel-ratio : 3/1 ), (min-device-pixel-ratio : 3 ) {
  html {font-size: 62.5%;}
}

@media (min-width: 360px) and (-webkit-max-device-pixel-ratio : 2.9 ), (max--moz-device-pixel-ratio : 2.9 ), (-o-max-device-pixel-ratio : 2.9/1 ), (max-device-pixel-ratio : 2.9 ) {
  html {font-size: 68.75%;}
}
*/

body {
  margin: 0;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #000;
  margin: auto;
}
/* body {margin: 0; padding: 0; font-family: 'Mukta', sans-serif; font-size: 1.6rem; background: #e4e4e4; color: #000; max-width: 768px; margin: auto;} */

img {
  border: 0;
  vertical-align: bottom;
}
a img {
  border: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  outline: none;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}
.clearfix {
  clear: both;
}
form,
input,
select {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
button {
  border:0;
  outline: none;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
input[type="text"],
textarea {
  border: 1px solid #d5d5d5;
  color: #ebebeb;
}

.hide {
  display: none;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader-anim {
  border: 5px solid #c5c5c5;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  border-top: 5px solid red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.box {
  padding: 2.5%;
  margin: 20px 0 10px 0;
  position: relative;
  word-wrap: break-word;
}
.font-bold {
  font-weight: 600;
}
.font-regular {
  font-weight: normal;
}

.close_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 0;
  min-width: initial;
  padding: 0;
  text-indent: -9000px;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
  z-index: 10;
}
.close_icon:before,
.close_icon:after {
  position: absolute;
  left: 6px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #9b9b9b;
}
.close_icon:before {
  transform: rotate(45deg);
}
.close_icon:after {
  transform: rotate(-45deg);
}

.table {
  display: table;
  width: 100%;
}
.table .table_row {
  display: table-row;
  vertical-align: middle;
}
.table .table_col {
  display: table-cell;
  vertical-align: middle;
}

.button {
  border: 1px solid #ad0000;
  font-size: 1.3rem;
  height: 22px;
  line-height: 23px;
  padding: 0 5%;
  border-radius: 3px;
  font-family: "NotoSans Regular", Arial, Helvetica, sans-serif;
  color: #ad0000;
  background: transparent;
}
div[role="button"] {
  outline: none;
}

.scroll_content {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  height: auto;
}

.text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* autoprefixer: off */
  -webkit-box-orient: vertical; /* autoprefixer: on */
  -webkit-line-clamp: 2;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 94%;
}

body.offline .video img,
body.offline .videoview img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
body.offline .blur-div {
  animation-duration: initial;
}

.flt_left {
  float: left;
}
.flt_right {
  float: right;
}
/*button ripple*/
.btn_ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.btn_ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
.btn_ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
@keyframes ripple-circle {
  0% {
    box-shadow: 0 0 0 0 rgba(#f2f2f2, 0.3), 0 0 0 5px rgba(#f2f2f2, 0.3), 0 0 0 10px rgba(#f2f2f2, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(#f2f2f2, 0.3), 0 0 0 10px rgba(#f2f2f2, 0.3), 0 0 0 15px rgba(#f2f2f2, 0);
  }
}
.pos_fixed {
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
}
.more-btn {
  display: block;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  padding: 7px 10px 5px;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  font-weight: 600;
  appearance: none;
  border-radius: 0;
  border-radius: 20px;
}
.share_icon {
  position: fixed;
  right: 3%;
  bottom: 180px;
  background: #000;
  border-radius: 50%;
  z-index: 98;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
  display: block;
  width: 46px;
  height: 46px;
}
.share_icon span {
  padding: 12px;
  display: block;
}
.share_icon span svg {
  vertical-align: top;
}
.share_icon .whatsapp_rect_color {
  fill: #2bae1c;
}
/*common css end*/
/*critical css override start*/
.header .search,
.header .top_drawer,
.header .app_download {
  display: block;
}
/*critical css override end*/

.responsive {
  width: 100% !important;
  height: auto !important;
}

#parentContainer {
  min-height: 300px;
}

/*animated.css (using the below required classes, will inclide more classes if required)*/
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}
/* common animation slideIn and fadeIn start*/
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* common animation slideIn and fadeIn end*/

/* header css start */
.mymenu_slide {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  height: 45px;
  -webkit-overflow-scrolling: touch;
}
.dynamic_nab ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.navbar .dynamic_nab ul li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: auto;
  min-height: 40px;
  border-bottom: solid 2px transparent;
}
.navbar .dynamic_nab ul li.active {
  border-bottom: solid 2px #000;
}
.navbar .dynamic_nab ul li.active a {
  font-weight: bold;
}
.navbar .dynamic_nab ul li a {
  display: block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0;
  padding: 12px 10px 0;
}
.navTrigger {
  cursor: pointer;
  width: 25px;
  height: 30px;
  float: left;
  margin: 18px 0 0 15px;
}

.adjustPadding {
  padding-top: 55px !important;
}
/* HEADER CSS END */

/* css for homepage body start*/
.top-news-content,
.box-content {
  margin: 0 0 4%;
  background: #fff;
  border-bottom: 2px solid #c6c6c6;
  padding: 0 0 3%;
}
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* css for homepage body end*/

@keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

main.box {
  margin: 0 5%;
}

/*loading css start*/
.fake-listview {
  margin: 0 3% 4%;
  padding-bottom: 4%;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
.fake-listview .img_wrap {
  width: 90px;
  vertical-align: top;
  float: left;
}
.fake-listview .con_wrap {
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 100%;
}

.fake-photoview .scroll_content {
  white-space: nowrap;
}
.fake-photoview .fake-listview {
  width: 133px;
  vertical-align: top;
  margin: 0 10px 0 0;
  box-sizing: border-box;
  display: inline-block;
  border: 0;
}
.fake-photoview .fake-listview .table_row {
  display: block;
}
.fake-photoview .fake-listview .img_wrap {
  width: 100%;
  float: none;
  display: block;
}
.fake-photoview .fake-listview .dummy-img {
  float: none;
  width: 100%;
  height: 74px;
}
.fake-photoview .fake-listview .con_wrap {
  display: block;
  padding: 10px 0 0 0;
}

.fake-horizontalView {
  margin: 0 3% 4%;
  padding-bottom: 4%;
  width: auto;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
.fake-horizontalView .scroll_content {
  white-space: nowrap;
}
.fake-horizontalView ul {
  margin: 0;
  padding: 0;
}
.fake-horizontalView .fake-listview {
  width: 133px;
  vertical-align: top;
  margin: 0 10px 0 0;
  box-sizing: border-box;
  display: inline-block;
  border: 0;
  padding: 0;
}
.fake-horizontalView .fake-listview .fake-listview:last-child {
  margin: 0;
}
.fake-horizontalView .fake-listview .table_row {
  display: block;
}
.fake-horizontalView .fake-listview .img_wrap {
  width: 100%;
  float: none;
  display: block;
}
.fake-horizontalView .fake-listview .dummy-img {
  float: none;
  width: 100%;
  height: 74px;
}
.fake-horizontalView .fake-listview .con_wrap {
  display: block;
  padding: 10px 0 0 0;
}

.blur-div {
  background-color: #dbe3e4;
  height: 8px;
  margin-bottom: 10px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 400px 8px;
  height: 10px;
  display: block;
}
/*.articleshow .blur-div{width: 100% !important; margin-left:0px !important;}*/
.blur-div.small {
  height: 8px;
  margin-top: 10px;
}
.blur-div.big {
  height: 8px;
  margin-bottom: 15px;
}
.blur-div.img {
  height: 200px;
  margin-bottom: 15px;
}
.dummy-img {
  background-color: #dbe3e4;
  width: 90px;
  height: 68px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 400px 8px;
  float: left;
}
/*loading css end*/

.topics-content .news:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*home page scroll start*/
ul.scroll {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 10px;
}
ul.scroll li {
  display: inline-block;
}
ul.scroll li.pcontainer {
  width: 133px;
  padding: 0px 0px 10px 10px;
}
ul.scroll li.pcontainer img {
  max-width: 133px;
}
ul.scroll li.pcontainer span {
  white-space: normal;
  height: 40px;
  display: block;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  font-size: 1.4rem;
}
/*home page scroll end*/

.brand_ctn img {
  width: 21px !important;
  height: 21px !important;
  background: none !important;
}

.swiperContainer {
  position: fixed;
  z-index: 99;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: #000;
}
.swiperHeader {
  font-size: 20px;
  line-height: 50px;
  padding-left: 12px;
  position: absolute;
  width: 100%;
  z-index: 100;
  background: rgba(175, 175, 175, 0.5);
  color: #fff;
  cursor: pointer;
}
.itemContainer {
  margin-top: 50px;
  height: 100vh;
  overflow-x: auto;
  padding-bottom: 50px;
}
.itemContainer h4 {
  color: #fff;
  font-size: 2rem;
  line-height: 2.2rem;
  padding: 10px;
}
.itemContainer .photoItem:last-child {
  margin-bottom: 50px;
}
.photoItem {
  position: relative;
  min-height: 200px;
}
.photoItem .pg {
  position: absolute;
  color: #fff;
  background: rgba(255, 0, 0, 0.5);
  font-size: 1.6rem;
  padding: 8px;
  margin-left: 10px;
}
.photoTitle {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.photoTitle h6 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.photoTitle p {
  display: block;
  white-space: normal;
  height: 43px;
  display: block;
  line-height: 2.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  font-size: 1.5rem;
}
.tbl {
  display: Table;
  width: 100%;
}
.tbl .tbl_row {
  display: table-row;
  vertical-align: middle;
}
.tbl .tbl_col {
  display: table-cell;
  vertical-align: middle;
}

.login-control {
  display: inline-block;
}

/* error page */
.error-article-section {
  position: relative;
  background: #fff;
  max-width: 768px;
  min-height: 320px;
  padding-bottom: 10px;
}
.error-wrapper {
  text-align: center;
  padding: 15% 20px 0 20px;
  position: absolute;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
.error-wrapper .heading-text {
  color: #c00;
  padding: 15px 0;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2rem;
}
.error-wrapper .sub-heading {
  padding: 0 0 15px 0;
  line-height: 25px;
  font-size: 1.6rem;
}
.error-wrapper .return-btn {
  border-radius: 15px;
  padding: 5px 80px;
  color: #fff;
  background: #1cb1cb;
  height: 15px;
  line-height: 15px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}
/* error page end */

/*ad cards css start*/
.adcard {
  background: #000;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.adcard .brandctn {
  color: #aaacab;
  padding: 10px 3%;
  font-size: 1.2rem;
  font-weight: normal;
  position: relative;
}
.adcard .brandctn img {
  position: absolute;
  right: 3%;
  top: 6px;
}
.ad1 {
  text-align: center;
  position: relative; /*min-height: 50px;*/
  z-index: 0;
  padding: 2%;
  background: transparent;
}
.ad1:empty:after,
[data-plugin="ctn"]:empty:after {
  content: "AD";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #aaa;
  margin: auto;
  height: 14px;
  font-size: 12px;
  border: 1px solid #aaa;
  width: 25px;
  border-radius: 4px;
  z-index: -1;
  line-height: normal;
  text-align: center;
  font-family: arial;
}
[data-plugin="ctn"] {
  position: relative;
  min-height: 50px;
  z-index: 0;
  width: 100%;
}
[data-slotname="ctnbccl"] {
  min-height: auto;
}
.colombiaRequestSend {
  display: none;
}
[data-plugin="ctn"] iframe {
  background: #fff;
  vertical-align: top;
}
.ad1.esi div[id*="ebDiv"] {
  vertical-align: top;
}
.ad1.osv:after {
  content: "";
  display: none;
}
/*ads dfp css start*/
.ad1.mrec,
.ad1.mrec1,
.ad1.mrec2 {
  min-height: 250px;
  z-index: 1;
  margin: auto;
  padding: 0;
}
/* .ad1.fbn{position: fixed; bottom: 0;left: 0;right: 0;background:#e4e4e4; padding: 1% 2%; z-index: 99; transition: all 350ms ease-in-out;} */
.ad1.mrbottom {
  margin-bottom: 4%;
}
.ad1.fbn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e4e4e4;
  padding: 1% 2%;
  z-index: 99;
  transition: visibility 0s, opacity 0.5s linear;
}
.fbnad {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 85px;
  z-index: 99;
}
.fbnad .ads-open-close {
  border-bottom: 3px solid #556d7b;
  height: 25px;
  position: relative;
  display: none;
}
.fbnad .ads-open-close a i {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #404040;
  width: 50px;
  height: 25px;
  left: 0;
  margin: auto;
  background: #556d7b;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.fbnad .ads-open-close a i::before {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  margin: auto;
  position: absolute;
  right: 0px;
  bottom: 18px;
  left: 0;
  transform: rotate(134deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  top: 13px;
}
.fbnad .ads-open-close.up a i:before {
  transform: rotate(-45deg);
  top: 27px;
}

/*ads dfp css end*/

/*ads ctn css start*/
.nbt-list [data-plugin="ctn"] {
  margin: 0 3% 4% !important;
  width: 100% !important;
  text-align: center;
  background: transparent !important;
}
.nbt-list [data-plugin="ctn"] > div {
  position: static !important;
}
.nbt-list li.ad1 {
  display: block;
  margin: 0 3% 4%;
  padding: 0 0 4%;
  width: auto;
  border-bottom: 1px solid #efefef;
  text-align: center;
  background: transparent;
}
/*ads ctn css end*/

/*ad cards css end*/

/*Search section start*/
.search-title {
  padding: 0px 10px 10px;
}
.search-section {
  min-height: calc(100vh - 100px);
  background: #fff;
}
.search-section ul li {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  line-height: 4rem;
}
.search-section ul li a {
  color: #007aff;
}
/*Search section end */

/*landscape mode start*/
.landscape-mode {
  background: #e5e5e5;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1010;
  display: none;
}
.landscape-mode .center-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  right: 20px;
}
.landscape-mode h3 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 10px 0;
}
.landscape-mode .txt {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.landscape-mode .img_landscape {
  width: 143px;
  height: 143px;
  background: url(https://static.nbt.indiatimes.com/img/switch-portrait-mode.svg) 0 0 no-repeat;
  background-size: 143px 143px;
  display: inline-block;
}
/* .landscape-mode .img_landscape{width:143px; height:143px; background: url(https://static.nbt.indiatimes.com/img/switch-portrait-mode.svg) 0 0 no-repeat; background-size: 143px 143px; display: inline-block;} */
@media screen and (orientation: landscape) and (min-aspect-ratio: 13/9) and (min-height: 150px) {
  .landscape-mode {
    display: block;
  }
  .election_cube {
    display: none;
  }
  /*.videoplaying .landscape-mode{display: none;}*/
}
/*landscape mode end*/

/* ad code (from the web) start*/
.colombiatracked {
  width: auto;
}
.sectionheading h2 {
  font-size: 1.6rem;
  margin: 5% 0;
  line-height: 2.4rem;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  color: #000;
  text-transform: uppercase;
}
.sectionheading h2 span {
  background: #fff;
  display: inline-block;
  padding: 0 10px 0 0;
  position: relative;
  z-index: 1;
}
.sectionheading h2:after {
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  margin-top: -1px;
  position: absolute;
  content: "";
  background: #d9d9d9;
}

.ad-fromTheWeb {
  margin: 0 3% 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid #ebebeb;
}
.ad-fromTheWeb .ad-wrapper {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  position: relative;
  margin: 0 0 4%;
}
.ad-fromTheWeb .ad-wrapper:nth-child(2n + 1) {
  padding-right: 3%;
}
.ad-fromTheWeb .ad-wrapper:nth-child(2n + 2) {
  padding-left: 3%;
}
.ad-fromTheWeb .ad-wrapper .holder {
  display: block;
  margin: 0 0 10px;
}
.ad-fromTheWeb .ad-wrapper .holder .dummy-img {
  float: none;
  width: 100%;
  height: auto;
}
.ad-fromTheWeb .ad-wrapper .listing_title {
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.ad-fromTheWeb .ad-wrapper .ad-dest {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #aaaaaa;
  display: block;
  margin: 0 20px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ad-fromTheWeb .ad-wrapper .colombia-logo {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* ad code (from the web) start*/

/*rating start*/
.w0 {
  width: 0%;
}
.w5 {
  width: 5%;
}
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w35 {
  width: 35%;
}
.w40 {
  width: 40%;
}
.w45 {
  width: 45%;
}
.w50 {
  width: 50%;
}
.w55 {
  width: 55%;
}
.w60 {
  width: 60%;
}
.w65 {
  width: 65%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w85 {
  width: 85%;
}
.w90 {
  width: 90%;
}
.w95 {
  width: 95%;
}
.w100 {
  width: 100%;
}
.rating-stars {
  position: relative;
  vertical-align: baseline;
  display: inline-block;
  color: #afafaf;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
}
.empty-stars {
  height: 100%;
  vertical-align: top;
}
.filled-stars:before,
.empty-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 18px;
  display: inline-block;
  word-break: normal;
  font-family: initial;
}
.filled-stars {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.hover-stars {
  position: absolute;
  top: 0;
  z-index: 1;
}
.hover-stars.disable {
  z-index: -1;
}
.hover-stars > span {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  text-indent: -10000px;
}
.hover-stars > span:nth-child(even) {
  margin-right: 3px;
}
/*rating end*/

/*read more start*/
.enable-read-more .readmore {
  position: relative;
  display: block;
  cursor: pointer;
}
.enable-read-more .readmore:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  right: 10px;
  top: 0;
  transition: all 0.5s;
  border: solid #7d7d7d;
  border-width: 0 2px 2px 0;
}
.enable-read-more .readmore.expand:after {
  transform: rotate(45deg);
}
.enable-read-more .readmore.collapse:after {
  transform: rotate(-135deg);
  top: 5px;
}

.enable-read-more .more {
  -webkit-line-clamp: unset;
  max-height: none;
  transition: max-height 1s ease-in;
  display: block;
}
/*read more end*/

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

@supports (-webkit-hyphens: none) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}
