.election_con .slider_content {white-space: unset; overflow: initial;}
.election_con .slider_content .table-chart {display: block;}
.el_exitpoll {padding: 0;}
.exitpoll_table_container.col12 {padding: 0 15px;}
.highcharts-data-label-connector[stroke='#cccccc'] {display: none;}
.section.noborder {
  h1, h2, h3 {
    border-bottom: none !important;
    a:before, span:before {border-bottom: none !important;}
  }
}
.nodataeletions {
  min-height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #868686;
  text-align: center;
  width: 100%;
  background-color: #f1f1f1;
  span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
}
.result_inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  .highcharts-background {display: none;}
  .highcharts-container{
      position: relative;
      overflow: hidden;
      text-align: left;
      line-height: normal;
      z-index: 1 !important;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      margin: auto;
      .chart-detail{
          font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
          font-size: 12px;
          position: absolute;
          white-space: nowrap;
          visibility: visible;
          margin-left: 0px;
          margin-top: 21px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
      }
  }
  .legend ul li {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 11px;
      border-radius: 2px;
      padding: 2px 4px;
      min-width: 35px;
      color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.23);
      .trend-color {
        width: 15px !important;
        height: 5px !important;
      }
      .trend-text {
        position: relative;
        border-bottom: 1px solid #fff;
        margin-bottom: 2px;
        padding-bottom: 2px;
      }
  }
  .pie-chart text {
    font-size: 12px;
    font-weight: bold;
  }
  .btn_group {
    text-align: center;
    padding: 15px 0 5px;
    a {
      display: inline-block;
      border: 1px solid #999;
      border-radius: 1px;
      font-size: 12px;
      padding: 0 15px;
      color: #999;
      height: 27px;
      line-height: 30px;
      margin: 0 5px;
      text-transform: uppercase;
    }
  }
  h2 {
    color: #1a1a1a;
    text-transform: uppercase;
    padding-top: 10px;
  }
  .resultfragment{
    margin: 0 0 20px ;
    padding: 0 0 20px;
    border-bottom: 1px solid #f2f2f2;
  }
}
.graph-container, .table-container {width: 100%; position: relative;}
.electoralmapwidgetnw {background: #fff;}
.desktop_body {
  .pie-chart{
    border: 1px solid #eee;
    margin-bottom: 20px;
    justify-content: left;
    overflow: hidden;
  }
  .powerbycont {
    width: 510px;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  .slider_content {
    .powerbycont {
      width: 300px;
    }
  }
  
  .el_powerdby {
    font-size: 11px;
    color: #555;
    text-transform: uppercase;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
    img {
      width: 110px !important;
    }
  }
  .table-chart {margin-bottom: 20px;}
  .table-chart .el_powerdby {text-align: center;}
  .highcharts-container{
    .legend-label {
      border-bottom: 0;
      position: relative;
      top: 8px;
    }
    .legend-count {
      font-size: 13px;
      font-weight: 100;
      position: absolute;
      right: 3px;
      top: 8px;
    }
  }
  .chart-horizontal{
    .pie-chart{width: 430px;}
    .table-chart {
      margin-bottom: 20px; width: 468px; margin-right: 10px; margin-left: 10px; display: inline-block;
      .powerbycont {margin: 10px 0 0; position: static; width: 100%;}
      .result-tbl {margin: 2% 0; width: 100%;}
    }
  }
}
.slider.elections-slider .btnPrev {left:-17px;}
.slider.elections-slider .btnNext {right:-17px;}
.combinedchartbox {position: relative;}
.candidate_box .candidate_imgwrap.leading:before, 
.candidate_box .candidate_imgwrap.trailing:before, 
.candidate_box .candidate_imgwrap.won:before,
.candidate_box .candidate_imgwrap.lost:before {position:absolute; left:9px; top:9px; height:calc(100% - 18px); width:calc(100% - 18px); content:''; font-size:14px; color:#fff;display:block;line-height: 80px; border-radius: 50%;}
.candidate_box .candidate_imgwrap.leading:before{background: rgba(0,170,255,0.70); content:'Leading';}
.candidate_box .candidate_imgwrap.trailing:before{background: rgba(255,209,0,0.70);  content:'Trailing';}
.candidate_box .candidate_imgwrap.won:before{background: rgba(53,203,23,0.70);  content:'Won';}
.candidate_box .candidate_imgwrap.lost:before{background: rgba(255,44,44,0.70);  content:'Lost';}
.charttxt {
  position: relative;
  z-index: 1;
}

.chartInnerText {
  text-align: center;
  box-shadow: 1px 1px 18px #777;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  font-size: 18px;
  line-height: 1;
  margin: 0 auto;
}

.seatcounted {
  padding-top: 33px;
  font-family: helvetica,sans-serif;
  font-weight: bold;
}

.totalseat {
  display: inline-block;
  font-family: helvetica,sans-serif;
  font-weight: bold;
  border-top: 1px solid #666;
  padding-top: 3px;
}

.seatstatus {
  font-size: 11px;
  color: #999;
  margin-top: 2px;
}

.charttitle {
  text-align: center;
  z-index: 2;
  margin-top: 15px;
  .title, .subtitle {
    position: relative;
    z-index: 2;
  }
  .title span {
    font-size: 15px;
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: bold;
  }
  .subtitle {
    font-size: 12px;
    margin-top: 4px;
  }
}

.titlebackground {
  width: 0;
  height: 0;
  border: 110px solid transparent;
  border-bottom: 110px solid #eee;
  position: absolute;
  top: -40px;
  left: -42%;
  display: inline-block;
}

.charttitle {
  .title, .subtitle {
    position: relative;
    z-index: 2;
  }
}

.pie-chart{
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.powerbycont {
  margin: 15px auto 5px auto;
  width: 300px;
}

.el_powerdby {
  font-size: 11px;
  color: #333;
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
  img {
    width: 110px !important;
  }
}

.el_powertxt {
  font-size: 13px;
  color: #333;
}

.star-candidates-container {margin-top: 10px; margin-bottom: 10px;}


.filtersdiv {
  margin-bottom: 15px;
  .select-box {
    margin-right: 10px;
    &:last-child {text-transform: uppercase;}
  }
}

.select-box {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  .selected-value {
    height: 32px;
    background-color: #fff;
    padding: 0 30px 0 10px;
    width: 100%;
    line-height: 32px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    outline: none;
    &:after {
      position: absolute;
      content: '';
      border: solid #000;
      width: 8px;
      height: 8px;
      border-width: 0 1px 1px 0;
      top: 8px;
      right: 7px;
      transform: rotate(45deg);
      box-sizing: border-box;
    }
    span {
      display: block;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  ul {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
    max-height: 215px;
    overflow: auto;
    z-index: 10;
    li {
      padding: 5px 0;
      line-height: normal;
    }
  }
}

.el_oops {
  text-align: center;
  padding: 10px 5%;
  line-height: 22px;
  p {
    padding: 10px 0;
    font-size: 18px;
    color: #333;
  }
  .refresh_btn {
    width: 150px;
    line-height: 25px;
    font-size: 16px;
    background: #be2819;
    padding: 10px 5px;
    text-align: center;
    margin: 20px auto 10px auto;
    a {
      color: #fff;
    }
    .ex_res {
      width: 25px;
      vertical-align: text-bottom;
      margin-right: 10px;
    }
  }
}

.switcher {
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5d5d5d;
  span {
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    user-select: none;
    &.selected {color: #000000; border-bottom: 2px solid #000000;}
  }
}

.widget_disclaimer {
  color: #333;
  background: #fff;
  font-size: 10px;
  line-height: 1.2;
  padding: 0 15px 5px;
  ul li {padding: 3px 0;}
}

a.election_result_table {
  color:#000 !important;
}

.el_resulttable{
  display: block; position: relative; float: right; padding: 4px 5px 0px; border: 1px solid #000; height: 18px; margin-left: 10px; cursor: pointer;
  i {display: inline-block;}
  svg {
    font-size:36px;
    &.tableview {margin: -1px 0 0 -2px;}
    &.chartview {margin: -3px 0 0 -3px; animation: blinker 1s linear infinite;}
  }
}
.eresult_pie{overflow-y: hidden; max-height: 0px; transition: all 550ms ease-in-out;}
.eresult_table{overflow: hidden; max-height: 500px; transition: all 550ms ease-in-out;}
input[type="checkbox"]#tableview {
  display: none;
  &:checked ~ #eresult-container{
    &.electionWidget_con {
      .eresult_pie {
        max-height: 500px;
        transition: all 550ms ease-in-out;
      }
      .eresult_table {
        max-height: 0px;
        transition: all 550ms ease-in-out;
      }
    }
  }
}

input[type="checkbox"]#tableview:checked ~ .election_head .el_resulttable .grid_view {background-position: -1px -22px;background-size: 18px;}

.pietable_container {
  .pie-chart{border: none;margin-bottom:0;}
  .eresult_pie{overflow-y: hidden; max-height: 500px; transition: all 550ms ease-in-out;}
  .eresult_table{overflow: hidden; max-height: 0px; transition: all 550ms ease-in-out;}

  .el_resulttable .grid_view {background-position: -1px -22px;background-size: 18px;}

  input[type="checkbox"].toggleview:checked ~ .el_resulttable .grid_view {background-position: 0px 0px;background-size: 17px;}

  input[type="checkbox"].toggleview {
    display: none;
    &:checked ~ .electionWidget_con{
      .eresult_pie {
        max-height: 0px;
        transition: all 550ms ease-in-out;
      }
      .eresult_table {
        max-height: 500px;
        transition: all 550ms ease-in-out;
      }
    }
  }
}

.chart-horizontal{
  .result-tbl {
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    width: 96%;
    margin: 2%;
    .tbl_row, .tbl_heading {
      border-top: none;
      .tbl_col.party .seats {
        color: #cc3333;
      }
      .tbl_col.state .seats {
        color: #868686;
        font-size: 1.1rem;
      }
    }
  }
  .pie-chart{
    width: 315px;
    margin: 10px;
    padding: 0;
    border: none;
    border-right: 1px solid #e5e5e5;
    display: inline-block;
    overflow: hidden; 
  }
}

.sectionheading {
  border-bottom: 5px solid #f5cc10;
  background-color: white;
  position: relative;
  margin: 0 0 10px;
  padding:0 0 10px;
  overflow: hidden;
  h1 {
      font-size:1.8rem;
      height:3.0rem;
      line-height: 3.5rem;
      display: inline-block;
      width: 60%;
      vertical-align: top;
  }
  select{
    float:right;
    vertical-align: top;
    border: solid 1px #c3c3c3;
    background-color: #f8f8f8;
    font-size:1.2rem;
    padding:0 5px;
    height:30px;
    line-height: 30px;
    width:120px;
  }
}
.wdt_btn .btn_result.live_updates span{position:relative}
.wdt_btn .btn_result.live_updates span:after {content: ''; width: 7px; height: 7px; border-radius: 50%; background: #c33; position: absolute; top: 3px; left: -12px; animation: blinker 1s linear infinite}
.wdt_btn .btn_result.live_updates{display:none;}
.BJP_state{background: #ff9650;}
.SP_state{background: #00c86e;}
.INC_state{background: #1eb4ff;}
.OTH_state{background: #999999;}
.SSENA_state{background:#e86615;}
.RJD_state{background:#0a850a;}
/*state wise widget end*/

/*in focus start*/
// .in_focus_widget{display:block; background: #f5f5f5; border-radius: 4px; padding: 4%; margin: 0 0 4%}
.in_focus_widget .scroll_content{white-space: nowrap; margin: 3% 0 0;}
.in_focus_widget .scroll_content ul li{display: inline-block; vertical-align: top; margin: 0 3% 3px 0; height: 30px; border-radius: 12px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); background: #fff; font-size: 1.4rem; padding: 0 15px;}
.in_focus_widget .scroll_content ul li a{display: block; height: 30px; line-height: 30px; font-family: arial; font-size: 1.4rem; color:#000;}
.in_focus_widget .scroll_content ul li:last-child{margin-right: 0}
/*in focus end*/

/*live blog start*/
// .live_blog_widget{display:block; background: #f5f5f5; border-radius: 4px; padding: 4%; margin: 0 0 4%}
.live_blog_widget .h2WithViewMore h2{position: relative; margin:0 0 0 13px;}
.live_blog_widget .h2WithViewMore h2:after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #c33;
  position: absolute;
  top: 4px;
  left: -13px;
  animation: blinker 1s linear infinite;}

.live_blog_widget .nbt-list{margin:3% 0 0 0}
.live_blog_widget .nbt-list li.nbt-listview{margin:0 0 4%; display: block; padding: 0; border: 0;}
.live_blog_widget .nbt-list li.nbt-listview.lead-post .con_wrap{padding:15px 3% 10px}
.live_blog_widget .nbt-list li.nbt-listview .con_wrap{padding:0}
.live_blog_widget .nbt-list li .times_stamp{height: 17px; opacity: 0.8; border-radius: 8px; border: solid 1px #cc3333; font-size: 1.0rem; color: #cc3333; font-family: arial; display: inline-block; padding: 0 8px; line-height: 16px; margin: 0 0 10px;}
/*live blog end*/

/*highlights start*/
// .highlights_widget{display:block; background: #f5f5f5; border-radius: 4px; padding: 4%; margin: 0 0 4%}
.highlights_widget .nbt-list{margin:3% 0 0 0}
.highlights_widget .nbt-list li.nbt-listview{margin:0 0 4% 15px; display: block; padding: 0; border: 0;}
.highlights_widget .nbt-list li.nbt-listview[data-list-type]:after{content:''; display:none}
.highlights_widget .nbt-list li.nbt-listview:before{position: absolute; content: ''; height:6px; width: 6px; border:1px solid #cc3333; border-radius: 50%; display: inline-block; top:6px; left:-15px}
.highlights_widget .nbt-list li.nbt-listview.lead-post:before{display: none;} 
.highlights_widget .nbt-list li.nbt-listview.lead-post .con_wrap{padding:15px 3% 10px}
.highlights_widget .nbt-list li.nbt-listview .img_wrap{display: none;}
.highlights_widget .nbt-list li.nbt-listview .con_wrap{padding:0}

.highlights_widget .nbt-list li.nbt-listview .time-caption{display:none}
.highlights_widget .nbt-list li.nbt-listview.app-exclusive:last-child{margin:0 0 0 15px}
.highlights_widget .nbt-list li.nbt-listview.app-exclusive{background:transparent; margin: 0 0 4% 15px; padding: 0; border-radius: 0px; box-shadow: none}
.highlights_widget .nbt-list li.nbt-listview.app-exclusive .app-txt{display: none}
.highlights_widget .nbt-list li.nbt-listview.lead-post.app-exclusive{background:transparent; padding:0; border-radius:0; box-shadow: none; margin:0 0 4%}
.highlights_widget .nbt-list li.nbt-listview.lead-post.app-exclusive .app-txt{display: none}

/*highlights end*/
.chart_container span.liveTicker:after{content:'';width:7px;height:7px;border-radius:50%;background:#c33;position:absolute;top:1px;left:-11px;animation:blinker 1s linear infinite}


.refresh_btn {font-size: 13px;text-transform: capitalize; position: absolute; right: 10px; top: 5px;}
.refresh_btn a {color: #333;}
.refresh_btn svg {width: 24px; height:24px; vertical-align: middle;margin-right: 5px;}

/*exit poll start (old page from XSLT) */
.exitpoll_container .result_inner h2{display: block; text-align: left; margin-bottom: 15px;}
.exitpoll_container .exitpoll_graph_container, .exitpoll_container .exitpoll_table_container{position: relative; width: 100%;}
.el_resulttable{position: absolute; top: -38px; right: 15px;}
.exitpoll_container  .table_view {background: url(https://static.toiimg.com/photo/66825345.cms) no-repeat; width: 15px; height: 15px; z-index: 10; text-indent: -1000px; background-position: -1px -22px; background-size: 18px; display: inline-block;}
.chart-horizontal .pie-chart:only-child{box-shadow: none}
.chart-horizontal .table-chart {display: inline-block; vertical-align: top; width:300px;}
.chart-horizontal .table-chart:only-child{display: block}
.share_container .el_resulttable {position: fixed; right: 0; bottom: 223px; width: 44px; height: 44px; background: #f2f2f2; border-radius: 15px 0 0; z-index: 98; display: block; overflow: hidden; box-shadow: -1px -1px 3px 0 rgba(0,0,0,.5); top:auto; padding: 0; border: 0; cursor: pointer;}
.share_container .el_resulttable i{margin: 6px 0 0 8px;}
/*exit poll end (old page from XSLT) */

.tabs_widget.tabs_normal ul.tabs_select_box:after {content: '' ;position: absolute;border-top: 6px solid #000;border-left: 6px solid transparent;border-right: 6px solid transparent;right: 10px;top: 8px;}


/*Constituencies Widget start*/
.wdt_constituencies span.liveTicker:after{top:3px; height: 5px; width: 5px;}
/*Constituencies Widget end*/

.chart_container .wdgt_majoritymark i:before {content: '';position: absolute;border-bottom: 6px solid #666;border-left: 6px solid transparent;border-right: 6px solid transparent;transform: translateX(-50%);margin-top: -2px}
.table-chart {width: 100%;}
.mobile_body{
  .exitpoll_container .result_inner .section{padding: 0;}
  .electioncandidates_body {
    .section {
      .top_section {
        margin: 0 0 4%;
      }
    }
  }
  .filtersdiv {
    margin-bottom: 0;
    .select-box {width: 150px; margin-bottom: 10px;}
  }
}


.aspage_source {
  display: block;
  width: 100%;
  span {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
  }
}

.election-as-widget {
  background-color: #e6ecee;
  padding: 15px;
  clear: both;
  &.resultwdt {
    .result-tbl {margin-top: 0;}
  }
  .table-chart, .result-tbl {margin-bottom: 0;}
  .info-wrapper {
    font-size: 1.2rem;
    span {color: #666;}
  }
  .section {
    .top_section{
      margin: 0 0 20px;
      h2 {
        margin: 0;
        height: auto;
        span, a {height: auto; line-height: normal; padding-bottom: 10px; color: #000;}
      }
      .read_more {display: none;}
    }
  }
}


.result-widget {
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
  .pie-chart {border: none !important;}
  .section .top_section {
    margin: 0 15px 10px;
    h2, h1 {
      background: #1a1a1a;
      color: #fff;
      padding: 0px 10px;
      font-size: 20px;
      border: none;
      box-sizing: border-box;
      a, span {
        color: #fff;
        &::before {display: none;}
      }
    }
    .read_more {display: none;}
  }
  .star_candidates_widget {
    .section .top_section {
      margin: 0 15px 0;
      h2, h1 {
        background: transparent;
        color: #000;
        padding: 0;
        font-size: 20px;
        border: none;
        box-sizing: border-box;
        a, span {
          color: #000;
          &::before {display: none;}
        }
      }
      .read_more {display: none;}
    }
  }
}

.exitpoll-widget {
  border: 1px solid #d4d4d4;
  margin:0 10px 20px;
  width: auto;
  .el_resulttable {top: 2px; color: #fff; border: none;}
  .result-tbl {margin-top: 0;}
  .pie-chart {border: none;}
  .exitpoll_graph_container, .exitpoll_table_container {padding: 0 !important;}
  .combinedchartbox{
    padding: 0 !important;
    .chart-horizontal {
      .elections-slider {border: none !important;}
      .pie-chart {margin: 10px 45px; border-right: 1px solid #e5e5e5;}
    }
  } 
  .section {
    width: 100%;
    .top_section {
      margin-top: 0;
      h2, h1 {
        background: #1a1a1a;
        color: #fff;
        padding: 0px 10px;
        font-size: 20px;
        border: none;
        box-sizing: border-box;
        a, span {
          color: #fff;
          &::before {display: none;}
        }
      }
      .read_more {display: none;}
    }
  }
}

.election-hpwidget {
  .switcher {margin-top: 10px;}
  .nodatawidget {padding: 50px 20px;}
  .election-header-wrapper {
    .assembly-election-header {
      span{
        &::after{content:"";width:0;height:0;border-top:0px solid transparent;border-bottom:28px solid transparent;border-left:20px solid #fc363b;top:0;position:absolute;right:-20px;}
      }
    }
    .read_more {
      &::after {
        content:"";display:block;height:5px;width:5px;margin:auto;position:absolute;top:0;bottom:0;-ms-transform:rotate(45deg);transform:rotate(45deg);right:-10px;border-top:1px solid #000;border-right:1px solid #000;
      }
    }
  }
  .aspage_source {
    margin: 10px 20px 0;
    .select-box {
      .selected-value {
        height: 28px;
        line-height: 26px;
        box-shadow: inset 0 1px 2px 1px rgba(183, 183, 183, 0.5);
        border-radius: 3px;
        &::after {
          top: 6px;
        }
      }
    }
  }
}
.statestoggle {
  span{
    &::after{content:"";display:block;position:absolute;right:0;top:6px;height:12px;width:1px;background-color:#c0c2c4;}
    &.active{
      &::before{content:"";display:block;position:absolute;background-color:#000;top:-2px;left:-3px;right:0;bottom:0;border-radius:3px;height:28px;width:calc(100% + 6px);z-index:1;box-shadow: 0 0 8px 1px rgba(0, 0, 0, .34);}
    }
  }
}

.partyclr {display: inline-block;border-radius: 2px;padding: 1px 7px;line-height: normal;color: #fff;font-size: 11px;margin-left: 20px;font-weight: normal;}

/*electoral map start*/
.desktop_body{
  .electoralmap_body{
    margin: 0 0 10px;
    .star_candidates_widget{
      margin:0 0 30px;
    }
  }
  .election-hpwidget {
    .powerbycont {width: 100%;}
  }
}
.mobile_body{
  .election-as-widget {
    .section {
      padding: 0;
      .top_section {
        margin-bottom: 10px;
        h2 {
          border: none;
          span, a {
            padding: 0;
            &::before {display: none;}
          }
        } 
      }
    }
  }
  .result_inner {
    .section .top_section {
      margin: 0;
      h1, h2 {
        height: auto;
        padding: 7px 45px 7px 10px;
        span, a {
          height: auto; line-height: normal; padding: 0;
        }
      }
    }
  }
  .result-widget {
    margin-bottom: 10px;
    width: auto;
    border: none;
    .show {width:100%;}
    .switcher {margin-top: 10px;}
    .section .top_section {
      margin: 0;
      h1, h2 {
        height: auto;
        padding: 7px 45px 7px 10px;
        span, a {
          height: auto; line-height: normal; padding: 0;
        }
      }
    }
    .graph-container, .table-container {padding: 0;}
    .el_resulttable {
      z-index: 2;
      top: 55px;
      border: none;
      color: #000;
      height: auto;
    }
  }
  .exitpoll-widget {
    margin: 0 0 20px;
    .section {
      padding: 0;
      .top_section {margin: 0;}
    }
    .graph-container, .table-container {padding: 0;}
    .el_resulttable {padding: 0; height: auto;}
    .result-tbl {margin-top: 15px;}
    .combinedchartbox .chart-horizontal {
      .pie-chart {margin: 10px 0 10px 10px; border: 1px solid #eee !important;}
    }
    .show {width:100%;}
    .exitpoll_table_container {
      padding: 0 10px 0 0;
    }
  }
  .electoralmap_body{
    margin: 0 0 4%;
    .wdt_map_mobile{
      margin:0 0 4%;
      width:100%;
      background: #fff;
      position: relative;
      .section{
        padding:0;
      }
      iframe{
        vertical-align: top;
      }
    }
  }
  .election-hpwidget {
    .election-header-wrapper {
      .assembly-election-header {
        span{
          &::after{border-bottom:24px solid transparent;}
        }
      }
    }
  }
}
/*electoral map end*/

