.resultTable {
  margin: 10px 0 10px;
  padding: 5px 10px 15px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
  table {
    width: 100%;
    table-layout: fixed;
    margin: 0 0 10px;
    tbody {
        tr {
            td {
                text-transform: uppercase;
                font-size: 1.4rem;
                height: 40px;
                padding: 0 5px;
                line-height: 40px;
                border: 1px solid #fff;
                text-align: center;
                box-sizing: border-box;
            }
            &:last-child td {
                border-bottom: 0;
            }
        }
        tr.data{
            color:#fff;
        }
    }
  }
}

.article_content div.Normal .resultTable table {
  border-top: 0;
  border-left: 0;
}

.election_caption {
  padding: 5px 0 0 0;
  h6 {
    color: #1f1f1f;
    font-size: 2.2rem;
    line-height: 3.2rem;
    border-bottom: 1px solid #1f1f1f;
    font-family: proxima-extrabold1;
    margin: 0;
    display: inline-block;
  }
  p {
    color: #1f1f1f;
    font-size: 1.5rem;
    strong {
      font-family: proxima-extrabold1;
    }
  }
  h3 {
    color: #cc3333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2.4rem;
    position: relative;
    padding-left: 10px;
    margin: 0 0 10px 0;
    &:after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #cc3333;
      position: absolute;
      top: 6px;
      left: 0;
      animation: blinker 1s linear infinite;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.table_total li,
.table_heading li {
  color: #1f1f1f;
  font-weight: bold;
  font-family: proxima-extrabold1;
  font-size: 1.5rem;
}

.table_heading {
  font-size: 1.5rem;
  line-height: 2.2rem;
  height: 2.22rem;
  li {
    font-size: 1.5rem;
    line-height: 2.2rem;
    height: 2.2rem;
  }
}

.resultTable .disclaimer {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
