/*
.result_table_widget{display:block; background: #fff; margin-bottom: 4%}
.result_table_widget table{table-layout: fixed; width: 100%; border-collapse: collapse; margin-bottom: 4%;}
.result_table_widget table tr td{font-size: 1.0rem; color: #000; text-transform: uppercase; background: #fff; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; padding: 10px; border: 2px solid #fff; vertical-align: middle;}
.result_table_widget table tr td:first-child{text-align: left; width: 40%; border-radius: 8px 0 0 8px;}
.result_table_widget table tr:not(:first-child) td:nth-child(2){font-weight: bold; font-size: 1.8rem;}
.result_table_widget table tr td:nth-child(2){color: #fff; position: relative; z-index: 1;}
.result_table_widget table tr td:last-child{border-radius: 0 8px 8px 0;}
.result_table_widget table tr.dataCell td{font-size: 1.4rem; color:#fff; font-weight: normal;}
.result_table_widget tr.UPA td{background: #1eb4ff; font-size: 1.4rem; color:#fff; font-weight: normal;}
.result_table_widget tr.MGB td{background: #00c86e; font-size: 1.4rem; color:#fff; font-weight: normal;}
.result_table_widget tr.OTH td{background: #999999; font-size: 1.4rem; color:#fff; font-weight: normal;}
.result_table_widget table tr.total td{color:#666666; padding-left: 0}
.result_table_widget table tr.total td span{font-weight: normal;}
.result_table_widget table tr.total td:last-child{text-align: right; padding-right: 0;}
.result_table_widget .wdt_btn{margin-bottom: 4%; text-align: center}
.result_table_widget .wdt_btn .btn_result{width: 46%; text-transform: uppercase; text-align: center; font-size: 1.2rem; font-family: Arial, Helvetica, sans-serif; color: #000; border-radius: 2px; height: 32px; line-height: 34px; margin-right: 4%; display: inline-block; border: 1px solid #000; background: #fff; outline: none; font-weight: bold;}
.result_table_widget .wdt_btn .btn_result:last-child{margin: 0;}
.result_table_widget .wdt_note{font-size: 1.0rem; color: #999;}
*/

.result_table_widget table tr td:nth-child(2):after{background: rgba(0, 0, 0, 0.7); content: ''; top:-2px; bottom: 0; left: 0; right: 0; position: absolute; z-index: -1;}
            