/*
.tabs_widget.tabs_big{display: block}
.tabs_widget.tabs_big ul li{display: inline-block; vertical-align: top; border: 1px solid #e2e2e2; border-radius: 2px; width:130px; text-align: center;}
.tabs_widget.tabs_big ul li a{font-size: 1.2rem; text-transform: uppercase; color: #fff; display:block; height: 28px; line-height: 28px; font-family: arial; padding: 0 15px; white-space: nowrap;}
.tabs_widget.tabs_big ul li.active{border: 1px solid #e2e2e2; margin: -5px -1px 0;}
.tabs_widget.tabs_big ul li.active a{background: #e2e2e2; color: #000; font-weight: bold; height: 38px; line-height: 38px;}
*/

/*
.tabs_widget.tabs_normal {margin-top: 10px;display: block;}
.tabs_widget.tabs_normal ul {width: 100%; overflow: hidden; overflow-x: auto; height: auto; white-space: nowrap;}
.tabs_widget.tabs_normal ul li{display: inline-block; vertical-align: top; text-align: center; margin: 0 20px 0 0;}
.tabs_widget.tabs_normal ul li:last-child{margin-right: 0}
.tabs_widget.tabs_normal ul li a{font-size: 1.2rem; text-transform: uppercase; color: #000; display:block; height: 28px; line-height: 28px; font-family: arial; background:transparent; white-space: nowrap;}
.tabs_widget.tabs_normal ul li.active a{color: #000; font-weight: bold; border-bottom: 2px solid #000;}
*/