
.slider {
  position: relative;
  margin: 0 auto;
  .hidden_layer{
    overflow: hidden;
    white-space: nowrap;
  }
  .slider_content li {
    display: inline-block;
    vertical-align: top;
    .slide {
      display: inline-block;
      vertical-align: top;
    }
    &:last-child .slide:last-child {
      margin: 0;
    }
    .slide .slide_desc {
      font-size: 14px;
      clear: both;
      line-height: 18px;
      padding-top: 10px;
      white-space: normal;
      span {
        display: block;
      }
      .txt {
        margin: 5px 0 0 0;
      }
      a{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .btnPrev {
    background: #000;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 36px;
    bottom: auto;
    left: -15px;
    z-index: 1;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    opacity: .8;
    outline: none;
    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      margin: auto;
      position: absolute;
      top:0;
      bottom: 0;
      left: 5px;
      right:0;
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }
  .btnNext {
    background: #000;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 36px;
    bottom: auto;
    right: -15px;
    z-index: 1;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    opacity: .8;
    outline: none;
    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      margin: auto;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right:5px;
      -ms-transform: rotate(43deg);
      transform: rotate(43deg);
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }
  .slideIndicator{
    text-align: center; 
    margin: 0 auto ; 
    position: absolute; 
    bottom: 0;
    left: 0;
    right:0;
    height: 12px;
    padding: 10px 0;
    a{
      display: inline-block; 
      vertical-align: top; 
      height:8px; 
      width: 8px; 
      border-radius: 50%; 
      margin: 0 5px 0 0; 
      background: #d5d5d5; 
      cursor: pointer;
      &.active{
        background: #000;
        height:10px;
        width:10px;
        margin-top: -1px;
      }
    }

  }
  
    
}


      