.gaanaplayer_box {
  .box_head {
    border-bottom: 0;
    cursor: default;
    height: 32px;
    line-height: 34px;
    padding: 0 20px;
    font-size: 11px;
    background: #e72c30;
    color: #fff;
    position: relative;
    text-align: left;
  }
  .gaanaplayer_title {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
  }
  .box_head .gaanaplayer_title {
    &:after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      right: 0;
      top: 35%;
      margin-top: -2px;
      transform: rotate(45deg);
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    img {
      width: 44px;
      height: 15px;
      vertical-align: middle;
    }
  }
  
  height: 32px;
  margin: 0 0 15px 0;
  z-index: 100;
  background: #0f1419 url(https://static.langimg.com/photo/35958799.cms)
    no-repeat center 70px;
  background-size: 60px;
  transition: all 0.5s;
  overflow: hidden;
  &.active {
    height: 354px;

    .box_head .gaanaplayer_title:after {
      transform: rotate(-135deg);
      top: 50%;
    }
  }
}
