
    .section-wrapper .top_headlines .news-card.lead .con_wrap .section_name {position: absolute; top: -32px; left: 0; right: 0; margin: auto; padding: 0 10px; max-width: 120px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 22px; line-height: 24px;}
    .section-wrapper .box-item {margin: 0 0 30px;}
    .section-wrapper .top_headlines .news-card.lead .img_wrap{height: 240px}
    .wdt-weather .wth-details .forecast {width: 55px;}
    .wdt-weather .wth-details .temp {font-size: 3.2rem; font-weight: 600;}
    .wdt-weather .wth-details .loaction {width: 35%;}
    .desktop_body .hp-rhs-ads-container {height: 310px}
  
            .story-article {color: #000;}
            .article-section {background: #fff;}
            .news_card{margin:0 0 4%;}
            .news_card h1{font-size:2.0rem;line-height:3rem;padding:15px 3% 5px;color:#000;}
            .news_card .news_card_source{margin:0 3% 10px;display:block;font-size:1.2rem;color:#a0a0a0;}
            .story-article img {max-width: 100%; height: auto;}
            .story-article .story-content{padding:0 4% 20px 4%; font-size: 1.8rem; line-height:3.2rem; word-wrap:break-word;}
            .story-article .source_sharing{min-height:74px;}
            .share_icon, .news_card .source_sharing .btn-subscribe{display:none}

            .news_card .enable-read-more {padding: 0 3% 10px;}
            .enable-read-more .first_col {width: 90%; display: inline-block; vertical-align: top;}
            .enable-read-more .second_col{width: 10%; vertical-align:bottom; margin: 0 0 5px; display: inline-block;}
            .enable-read-more .caption, .clone-caption {font-size: 1.4rem; line-height: 2.2rem; max-height: 4.4rem; transition: max-height .4s ease-out; font-weight: normal; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; margin:0}
            // .articleshow_body .wdt_social_share svg{display:none; width:48px; height:48px}
            .articleshow_body .story-article .story-content{overflow:hidden}
            .story-article .story-content [data-plugin=ctn] {min-height: 250px;}
            .articleshow_body .story-article .story-content .midArtContainer .ad1 {width: 300px; min-height: 250px; float: left; margin: 20px 20px 20px 0;}
            .articleshow_body .story-article .story-content .midArtContainer .ad1:empty{width: auto; min-width:auto; float: none; margin:0; min-height: 250px;}

            .recipeArticle .con_review_rate{display:none}
            .recipeArticle .time_calor{font-size: 12px; background-color: #f2f2f2; padding: 10px 0; overflow:hidden; margin:0 0 20px}
            .recipeArticle .time_calor ul{margin:0; padding:0; white-space:nowrap;}
            .recipeArticle .time_calor ul li{display:inline-block; vertical-align:top; width:33%; text-align:center;}
            .recipeArticle .time_calor .txt_innner {display: inline-block; vertical-align: middle; text-align: left; color:#333;}
            .recipeArticle .time_calor ul li i{display:inline-block; vertical-align:top;}
            .recipeArticle .time_calor ul li span {font-size:14px; line-height:12px; font-weight:bold; font-family:arial; display:block; margin-top: 3px;}
            .recipeArticle .time_calor ul li svg{ width:28px; height:28px; display: inline-block; vertical-align: middle; margin-right: 8px; color:#333;}
            .recipe_ingriedient{border-bottom:1px solid #d8d8d8; padding: 0 0 20px 0; margin-bottom: 15px}
            .recipe_ingriedient h4{color: #525252; font-size: 2.0rem; margin: 5px 0 20px; text-transform: uppercase;}
            
            .desktop_body .box-item {margin: 0 0 30px;}
            .articleshow_body .news_card h1 {padding: 0; margin: 0 0 15px;}
            .section-wrapper .data-drawer {padding-bottom: 20px;}
            .articleshow_body .news_card .enable-read-more {padding: 0 0 10px;}
            .articleshow_body .news_card .source_sharing {padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid #c3c3c3;}
            .articleshow_body .wdt_social_share {text-align: right; float: right; width: 36%;}
            .articleshow_body .news_card .news_card_source {margin: 2px 0 5px; display: inline-block; vertical-align: top;}
            .articleshow_body .news_card .news_card_source span[itemProp=author] {font-weight: bold;display: inline-block;margin: 0 0 2px;}
            .articleshow_body .news_card .news_card_source span.time {display: inline-block;margin-top: 3px; font-size: 1.0rem; line-height: 1.4rem;}
            .articleshow_body .news_card .news_card_source .txt{font-size:1rem; margin-right:3px}
            .articleshow_body .news_card .news_card_source .txt span{color:#a0a0a0}
            .desktop_body .wdt_social_share span {width: 45px; height: 35px; display: inline-block; vertical-align: top; margin: 0 0 0 2px;}
            .articleshow_body .story-article .img_wrap .img_caption {font-size: 1.2rem; line-height: 2rem; margin: 5px 0 0 0;}
            .articleshow_body .story-article .story-content {padding: 0 0 20px;}
            .articleshow_body .story-article .img_wrap {margin: 0 0 10px;}
            .articleshow_body .pwa-deals {min-height: 400px; margin-bottom:20px;}
            .story-article .asleadimg{min-height: 492px;}
            .rhs-mrec-wrapper {height: 280px;}
            .desktop_body .rhs-mrec-wrapper .box-item {margin-bottom:0; padding-bottom: 30px;}
            .desktop_body .rhs-other-container .briefParent{min-height: 420px;}
            .desktop_body .rhs-other-container .dataDrawerContainer{margin: 5px 0; min-height: 119px;}
            .desktop_body .wdt_social_share span.sms {display: none;}
            .top-article { padding: 2% 3%; margin: 0 0 4%;}
            .top-article h3 { font-size: 16px; margin: 0 0 5px;}
            .top-article li { padding: 0 0 0px 15px; font-size: 1.4rem; line-height: 2.2rem; margin: 0 0 10px;}
            .shareModalContainer .iconsquare svg, .wdt_social_share .iconsquare svg {width: 24px; height: 24px;}
            .weather-data-drawer {width: 315px; margin: 5px 0; min-height: 119px;}
            .news-card.horizontal.con_ads {padding: 0 0 3%;}
            div[ctn-style=ctnppdad] {min-height: 0px}
            .articleshow_body .story-article iframe.amzproduct{height:190px}
  
            .moviereview-summaryCard .img_wrap {width: 237px;}
            .moviereview-summaryCard .img_wrap img {max-width: 237px; max-height: 313px; width: auto;}
            .moviereview-summaryCard .con_wrap h1.movie-name {color:#000; font-size: 1.6rem; line-height: 2.4rem; max-height: 4.8rem; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; padding: 0;}
            .moviereview-summaryCard .table .con_wrap {text-align: left; word-break: break-word; padding: 0 0 0 10px; vertical-align: top; position: relative; width: 100%;}
  
      .desktop_body .listing.videolist .section {width: calc(100% - 30px);margin: auto;}
      .desktop_body .videolist .only-heading{display: flex; align-items: center;}
      .desktop_body .videolist .only-heading .con_social {width: 40%;}
      .desktop_body .videolist .only-heading .con_social .youtube-iframe{margin-left: auto;}
      .desktop_body .only-heading .section h1 {border: 0;}
      .videolist .top_wdt_slider {background: #282e34; padding: 20px 5px 20px;margin: 0;}
      .videolist .top_wdt_slider .hidden_layer {overflow: hidden; white-space: nowrap;}
      .videolist .top_wdt_slider .col4 {min-height: 250px}
      .videolist .slider .slider_content li {display: inline-block;vertical-align: top;}
      .videolist .slider ul li .con_wrap {margin: 10px 0 0; display: block; white-space: normal;}
      .videolist .slider ul li .con_wrap .text_ellipsis {color: #fff; font-size: 1.2rem; line-height: 2rem; max-height: 6rem; -webkit-line-clamp: 3;}
      .desktop_body .listing .trending .row {margin: 0;}
      .desktop_body .listing .trending .section .read_more {display: none;}
      .desktop_body .listing ul li .con_wrap {margin: 10px 0 0; display: block;}
      .desktop_body .listing ul li .con_wrap .section_name {font-size: 1.2rem; display: block; margin-bottom: 5px;}
      .desktop_body .listing ul li .con_wrap .text_ellipsis {font-size: 1.2rem; line-height: 2rem; max-height: 4rem; -webkit-line-clamp: 2; font-weight:normal;}

      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_wrap {margin: 15px 0 0;}
      .desktop_body .videoshow-container.hypervideo .top_wdt_video .related-links {border-top: 2px solid #dfdfdf;}
      .desktop_body .videoshow-container .top_wdt_video .related-links {margin: 15px 0 0; padding: 15px 0 0; border-top: 1px solid #484848;}
      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_social {display: -ms-flexbox;display: flex;width: 100%;-ms-flex-pack: end;justify-content: flex-end;position: relative;}
      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_social .yContainer {margin-top: 15px;margin-right: auto;}
      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_wrap .more_items span {vertical-align: top; font-size: 1.0rem;}
      .desktop_body .videoshow-container .top_wdt_video .section {margin: 10px 0 0;}
      .vid_embbed {font-size: 1rem; text-transform: uppercase; margin: 22px auto 0 0; padding-left: 25px;}
      .desktop_body .yContainer {margin: 0;}
      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_social .wdt_timespoints {width: 90px; margin-top: 10px;}
      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_social .wdt_social_share {margin-top: 15px; display: block;}
      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_social .wdt_social_share span {width: 34px; height: 26px; margin: 0 0 0 5px;}
      .desktop_body .videoshow-container .top_wdt_video .section h1{border-bottom: 0; margin: 0; font-size: 1.6rem; height: auto;}
      .desktop_body .videoshow-container .top_wdt_video .section h1 span {height: auto; line-height: 2.6rem;}
      .desktop_body .videoshow-container .top_wdt_video .row .col8 .con_wrap .text_ellipsis {font-size: 1.2rem;}
      .desktop_body .videoshow-container .top_wdt_video .enable-read-more .first_col {width: 95%;}
      .desktop_body .videoshow-container .top_wdt_video .enable-read-more .second_col {width: 5%;}
      .desktop_body .videoshow-container .enable-read-more .caption, .desktop_body .videoshow-container .clone-caption {max-height: fit-content; display: block;}
      .desktop_body .videoshow-container.hypervideo .top_wdt_video .related-links .keywords h3 {font-weight: bold;}
      .desktop_body .videoshow-container .top_wdt_video .related-links .keywords h3 {margin: 0; vertical-align: top; margin-right: 10px; margin-bottom: 5px; font-size: 1.2rem; line-height: 2.0rem;}
      .desktop_body .videoshow-container .top_wdt_video .related-links .keywords a {font-size: 1.2rem; line-height: 2.0rem;}

    .desktop_body .photomazzashow-content h1{padding:0 0 10px; font-size: 2.0rem; line-height: 3.0rem;}
    .desktop_body .photomazzashow-content .title_with_tpwidget h1{margin-bottom: 5px; width: 80%;}
    .desktop_body .photo_story li.photo_card .photo_des{padding:15px 3%; color: #9e9e9e;}
    
    .desktop_body .photo_story li.photo_card{margin-bottom: 20px; background: #282e34;}
    .desktop_body .photo_story li.photo_card .pagination{display: inline-block; vertical-align: top; width: 10%; position:static; padding: 0 2.5% 0 0; margin: 0 3% 0 0; border-right: 1px solid #505050;}
    .desktop_body .photo_story li.photo_card .pagination span b{color:#bbb}
    .desktop_body .photo_story li.photo_card .pagination span{font-size: 1.8rem;width: 60px; height: 60px; border-radius: 50%; padding: 0; text-align: center; line-height: 60px; border:1px solid #505050; font-family: arial; display: block;}
    .desktop_body .photo_story li.photo_card .photo_con{display: inline-block; vertical-align: top; width:74%;}
    .desktop_body .photo_story li.photo_card .photo_con h2{font-size: 1.4rem; margin-bottom: 5px;}
    .desktop_body .photo_story li.photo_card .caption{font-size: 1.2rem; line-height: 2.0rem; word-break: break-word;}
  
      .star-candidates {width:100%; box-sizing:border-box;}
      .star_candidates_widget {background:#e6ecee; padding:0 10px 20px; box-sizing:border-box; width:100%;}
      .star_candidates_widget .h2WithViewMore {margin: 0 0 10px 10px;}
      .star_candidates_widget h2 {font-size:22px;}
      .slider.candidates-newlist .btnPrev, .slider.candidates-newlist .btnNext {top:50%; transform: translateY(-50%);}
      .candidate_box {height:100%; box-sizing:border-box; font-weight:bold; border-radius: 5px; box-shadow: 0 0 4px 0 #c8d5d9; background-color: #ffffff; padding: 10px; text-align:center; margin: 2px;}
      .candidate_box .candidate_imgwrap {display:inline-block; position:relative; margin-bottom:10px}
      .candidate_box .candidate_imgwrap img {width:96px; height:96px; border-radius:50%; border:1px solid #e6ecee; padding:8px; box-sizing:border-box; object-fit: cover;}
      .candidate_box .candidate_name {font-size: 0.9rem; display:block; text-align: center; max-width: 100%; overflow:hidden; text-overflow:ellipsis; margin: 0 auto; white-space: nowrap;}
      .candidate_box .constituency {font-size: 0.9rem; color:#8c8c8c; display:block; marging: 5px 0 10px;}
      .candidate_box .party-name {font-size: 0.7rem; color:#8c8c8c; display:inline-block; color:#fff; border-radius:5px; padding: 5px 15px; text-transform:uppercase;}
      .candidatelist .slide {margin-bottom: 15px; margin-right: 1%; width: 15.8%; box-sizing: border-box;}
      .candidatelist .slide:nth-child(6n) {margin-right: 0;}
      .result_inner h2{font-size: 1.6rem; display:block; text-align:left; width:100%}
      .result_inner .el_resulttable {z-index: 9999; top:15px; padding:0; width: 30px; height:30px; border-radius:50%;outline:none;text-align:center;}
      .highcharts-contextbutton{display:none}
      .chart_container.exit-poll .chart-detail {font-size: 12px; position: absolute; white-space: nowrap; visibility: visible; margin-left: 0px; margin-top: 0px; left: calc(50% - 60px); top: calc(50% - 38px);}
      .chart_container.exit-poll .svg-chart-data{text-align: center; box-shadow: 1px 1px 18px #777; width: 120px; height: 120px; border-radius: 50%; background: #fff; font-size: 18px; line-height: 1; margin: 0 auto;}
      .chart_container.exit-poll .svg-chart-data h3{font-size: 1.8rem; padding-top: 36px; padding-bottom: 2px;}
      .chart_container.exit-poll .svg-chart-data h4{font-size: 1.8rem; font-weight: bold; padding: 5px 0 0 0;}
      .chart_container svg g {fill: rgba(128,128,128,.5);}
      .desktop_body .result_inner .combinedchartbox {width:100%;box-sizing:border-box;margin-bottom: 20px;padding:1px;}
      .desktop_body .result_inner .combinedchartbox .chart-horizontal .elections-slider {border: 1px solid #eee;}
      .desktop_body .result_inner .tbl_txt, .results_container .tbl_txt {background:#e6ecee; padding:7px 0; text-align:center;font-size:1.2rem; margin:0 0 15px;}
      .pie-chart{width:100%; max-width:100%; height: 330px; position:relative;}
      .chart-horizontal .pie-chart {width: 430px; height:300px;}
      .slider.elections-slider .btnPrev, .slider.elections-slider .btnNext {top:50%; transform: translateY(-50%);}
      .chartcountnew {width:100%; max-width:100%; height: 330px;}
      .chart-horizontal .chartcountnew {width:100%; max-width:100%; height: 300px;}
      .desktop_body .result_inner .highcharts-container .chart-detail {margin-top: 0;left: calc(50% - 123px);top: calc(50% - 64px);transform: translate(0, 0);}
      .desktop_body .result_inner .chart-horizontal .highcharts-container .chart-detail {left: calc(50% - 123px);}
      .desktop_body .result_inner .highcharts-container .legend {margin-bottom: 5px; height:26px; width:100px;font-size: 12px;font-weight: normal;padding: 0 7px;color: #fff;border-radius: 2px;line-height: 1;box-sizing: border-box;}
      .desktop_body .electoralmap_body .wdt_map_desktop{width:100%; position:relative}
      .desktop_body .electoralmap_body .wdt_map_desktop{position:relative; min-height:300px}
      .desktop_body .electoralmap_body .wdt_map_desktop .ctyLoader{position: absolute; z-index: -1; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
      .result-tbl {display: table; width: 100%; border-collapse: collapse; margin: 20px auto 10px; font-size: 1rem; background: #fff;}
      .result-tbl .tbl_row {display: table-row; text-align: left; color: #333;}
      .result-tbl .tbl_row:nth-child(even) {background-color: #e6ecee;}
      .result-tbl .tbl_row:last-child {background-color: transparent;}
      .result-tbl .tbl_row:last-child .tbl_col {border: none;font-weight: bold;}
      .result-tbl .tbl_row:last-child .tbl_col span {color: #7b7b7b;}
      .result-tbl .tbl_col {display: table-cell;border-bottom: 1px solid #e5e5e5;padding: 5px 2%;font-size: 13px;vertical-align: middle;line-height: 18px;text-transform: uppercase;text-align: center;}
      .result-tbl .tbl_col:first-child {border-left: 1px solid #e5e5e5;}
      .result-tbl .tbl_col:last-child {border-right: 1px solid #e5e5e5;}
      .result-tbl .tbl_col.party_logo {text-align: left;width: 45%;text-transform: uppercase;line-height: 25px;font-weight: bold;}
      .result-tbl .tbl_col.party_logo img {max-width: 32px !important; float: left; margin-right: 6px;}
      .result-tbl .tbl_col.party_logo img[src*="69376388"] {margin-top: 7px;}
      .result-tbl .tbl_heading {font-weight: normal;display: table-row;background-color: #000;text-align: left;line-height: 1.4rem;font-size: 1.3rem;color: #fff;text-transform: uppercase;}
      .result-tbl .tbl_heading .tbl_col {line-height: 24px;font-size: 12px;text-align: center;display: table-cell;vertical-align: middle;text-transform: uppercase;}
      .result-tbl .tbl_heading .tbl_col.first {text-align: left;padding-left: 4%;}
      .nodatawidget { padding: 20px; text-align: center; font-size: 18px; font-weight: bold; color: #666666; box-sizing:border-box; width:100%;}
      .nodatawidget .refresh_btn {position: static; margin-top: 30px;}
      .nodatawidget .refresh_btn a {display: inline-block; background-color: #F44336; padding: 4px 20px 4px 15px; border-radius: 5px; color: #fff;}
      .tablecount, .graphcount {width:100%;}
      .exitpoll-widget {margin: 0 0 20px;}
      .exitpoll-widget .section {padding: 0; width: 100%; box-sizing: border-box;}
      .exitpoll-widget .section .top_section { margin: 0;}
      .exitpoll-widget .section .top_section h2, .exitpoll-widget .section .top_section h1 {background: #1a1a1a; color: #fff; padding: 0px 10px; font-size: 20px; border: none; box-sizing: border-box;}
      .exitpoll-widget .section .top_section h2 a, .exitpoll-widget .section .top_section h1 a {color:#fff;}
      .exitpoll-widget .section .top_section .read_more {display:none;}
      .el_powerdby {text-align:center;}
      .el_resulttable {display:none;}
      .election_con .slider_content {white-space: nowrap; overflow: auto;}
      .table-chart {width: 100%;}
      .election_con .slider_content .table-chart {display: inline-block; margin-right: 10px; width: 350px;}
      .el_exitpoll {padding: 0 15px;}
      .results_container {position: relative;}
      .results_container .powerbycont .el_powerdby {font-size: 10px; font-weight: normal;}
      .results_container .graph-container .switcher {position: absolute; width: 100%; margin: 5px 0; box-sizing: border-box; padding: 0; z-index:10}
      .election-hpwidget .election-header-wrapper{display:flex;justify-content:space-between;align-items:center;}
      .election-hpwidget .election-header-wrapper .assembly-election-header{display:inline-block;background-color:#352f2f;border-radius:4px 0px 0px 4px;position:relative;font-size:1.2rem;line-height:2.2rem;color:#fff;padding-left:10px;}
      .election-hpwidget .election-header-wrapper .assembly-election-header span{display:inline-block;background-color:#fc363b;margin-left:7px;padding:0 7px;}
      .statestoggle .states{border:1px solid #c0c2c4;border-radius:3px;display:inline-flex;height:24px;}
      .statestoggle span{font-size:1rem; line-height:22px;color:#333;position:relative;padding:0 15px;vertical-align:top;cursor:pointer;}
      .statestoggle span b{font-weight:normal;position:relative;z-index:2;}
      .statestoggle span:last-child::after{display:none;}
      .statestoggle span.active{color:#fff;}
      .election-hpwidget .election-header-wrapper .read_more{font-size:13px;margin:0 15px 0 0;color:#000;font-weight:normal;position:relative;}
      .election-hpwidget .result_inner{margin-top:13px;padding:1px;}
      .election-hpwidget .result_inner .election-data-header{background:#ebeef1;display:flex;justify-content:space-between;align-items:center;padding:0 10px;}
      .election-hpwidget .result_inner .election-data-header .section{width:auto;}
      .election-hpwidget .result_inner .election-data-header .section .top_section{margin:0;}
      .election-hpwidget .result_inner .election-data-header .section .top_section h2{background:transparent;font-size:18px;padding:0;}
      .election-hpwidget .result_inner .election-data-header .section .top_section h2 a{color:#000;}
      .election-hpwidget .result_inner .election-data-header .electionsnav{display:flex;}
      .election-hpwidget .result_inner .election-data-header .electionsnav a{font-size:14px;color:#000;padding:0 10px;}
      .election-hpwidget .result_inner .star-candidates-wrapper{padding:0 4px 4px;}
      .election-hpwidget .result_inner .result-tbl .tbl_heading{background:transparent;color:#000; font-weight:bold;}
      .election-hpwidget .result_inner .result-tbl .tbl_heading .tbl_col{border-left:none !important;border-right:none !important;}
      .election-hpwidget .result_inner .result-tbl .tbl_heading .tbl_col:first-child {padding-left:25px;}
      .election-hpwidget .result_inner .result-tbl .tbl_col:first-child{border-right:1px solid #e5e5e5;}
      .election-hpwidget .result_inner .result-tbl .tbl_row:last-child .tbl_col{border:none;font-size:11px;}
      .election-hpwidget .result_inner .result-tbl .tbl_row:nth-child(even){background:transparent;}
      .election-hpwidget .result_inner .highcharts-container .chart-detail {left:calc(50% - 60px)}
      .result-tbl .tbl_col .partyclr {display: inline-block;border-radius: 2px;padding: 1px 7px;line-height: normal;color: #fff;font-size: 11px;margin-left: 20px;font-weight: normal;}
      .election-as-widget .statestoggle {margin-bottom:15px;}
      .election-hpwidget .row .col4.ad-count {align-items: center; align-content: center;}
  
      .desktop_body .section-topics .glossary-list{width:100%}
      .desktop_body .section-topics .glossary-list .tabs-circle{float:left;}
      .desktop_body .section-topics .glossary-list .tabs-circle ul{display:flex;flex-wrap:wrap;}
      .desktop_body .section-topics .glossary-list .tabs-circle ul li{margin:0 15px 15px 0;border-radius:50%;border:solid 1px #575960;background:#fff;}
      .desktop_body .section-topics .glossary-list .tabs-circle ul li, .desktop_body .section-topics .glossary-list .tabs-circle ul li a{height:42px;width:42px;align-items:center;justify-content:center;text-transform:uppercase;color:#1f81db;font-size:16px;padding:0;display:flex;line-height:normal;overflow:hidden;}
      .desktop_body .section-topics .glossary-list .tabs-circle ul li.active{background:#000;color:#fff;}
      .desktop_body .section-topics .glossary-list .tabs-circle:after{display:none;}
      .desktop_body .section-topics .glossary-list .wdt_glossary{overflow:hidden;clear:both;margin-bottom:20px;}
      .desktop_body .section-topics .glossary-list .wdt_glossary .news-card{margin-bottom:10px;border:0;}
      .desktop_body .section-topics .glossary-list .wdt_glossary .news-card .con_wrap .text_ellipsis{font-size:1.4rem;line-height:2.2rem;max-height:4.4rem;-webkit-line-clamp:2;word-break:break-word;}
  
      .section-topics h1 {font-size: 1.6rem; line-height: 2.4rem; margin:0}
      .section-topics .player-stats .profile-date {font-size: 12px; line-height:18px; color: #a0a0a0; margin: 5px 0 0; font-family: Arial, Helvetica, sans-serif;}
      .section-topics .player-stats{margin-top:20px}
      .section-topics .player-stats .recommended_news .col12{padding:0}
      .section-topics .player-stats .con_stats{width:100%}
      .section-topics .player-stats .lead-topics {margin: 0 0 10px; width: 100%;}
      .section-topics .player-stats .lead-topics .news-card.horizontal-lead {box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1); padding: 10px; box-sizing: border-box; background:#fff; margin:0 0 20px}      
      .section-topics .player-stats .lead-topics .news-card.horizontal-lead .img_wrap img {width: 200px; max-height: 262px;}
      .section-topics .player-stats .lead-topics .news-card.horizontal-lead .con_wrap {width: 100%; padding: 0 0 0 20px;}
      .section-topics .player-stats .txt-wrap .only-txt, .section-topics .player-stats .profileDesc {display: block; font-size: 1.4rem; line-height: 2.6rem; width:100%; text-align: justify;}
      .section-topics .player-stats .profileInfo{border-top:1px solid #c3c3c3; margin-top:10px; padding-top:10px}
      .section-topics .player-stats .profileInfo li {display: flex; font-size: 13px; line-height: 17px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 10px;}
      .section-topics .player-stats .profileInfo li:last-child{margin-bottom:0}
      .section-topics .player-stats .profileInfo li .head {width: 35%; font-weight: bold; text-transform: capitalize;}
      .section-topics .player-stats .profileInfo li .content {width: 65%;}
      .section-topics .player-stats .shortInfo li {font-size: 14px; line-height: 22px; font-family: Arial, Helvetica, sans-serif; color: #333;}
      .section-topics .player-stats .shortInfo li span {display: inline-block; vertical-align:top; position:relative}
      .section-topics .player-stats .enable-read-more .first_col .text_ellipsis {font-size: 1.4rem; line-height: 2.2rem; max-height: 13.2rem; -webkit-line-clamp: 6; overflow: hidden;}
 
      .briefbox { white-space:normal;}
      .slide_list li{margin:15px auto; width: 100%; overflow: hidden; border: 1px solid #d5d5d5; box-shadow: 0 2px 5px #b8b8b8;white-space:normal;}
      .slide_list li .top_content{position: relative; overflow: hidden;}
      .slide_list li .top_content .counter {padding: 0 6px;left: 5px;position: absolute;background: #000;top: 5px;box-shadow: none;font-size: 1.3rem;color: #ffffff; height:28px; line-height:28px;}
      .slide_list li  .more{font-size: 1.3rem;color: #000; display:block; text-align:right; padding:0 3%;}
      .slide_list li .img_wrap{vertical-align:top}
      .slide_list li .img_wrap img {vertical-align: bottom; width: 100%; height: auto;}
      .slide_list li .con_wrap {color:#000;  margin: auto; bottom: 0; padding: 15px 3% 10px; }
      .slide_list li .text_ellipsis {font-size: 1.3rem; line-height: 1.9rem; margin-bottom:10px; font-weight:bold;}
      .slide_list li .time-caption {font-size: 0.9rem; line-height: 1.2rem; display: inline-block; font-weight: normal;}
      .slide_list li .bottom_content{margin:3%; font-size: 1.4rem; line-height: 2.2rem; min-height:130px}
      .slide_list li .bottom_content .briefsyn {font-size: 1.2rem; line-height: 1.9rem; color:#333333;}
      .slide_list li .bottom_content ul li{font-size: 1.2rem; line-height: 1.7rem; color:#333333; border: 0;  box-shadow: none; margin: 0 0 0 15px; position: relative; overflow: initial; width: auto; display: block;}
      .slide_list li .bottom_content .wdt_download_app{display:none}
      .slide_list li .bottom_content.app_in_brief{position:relative;}
      .slide_list li .bottom_content.app_in_brief ul li, .slide_list li .bottom_content.app_in_brief ul{color:#cecece}
      .slide_list li .bottom_content.app_in_brief .wdt_download_app{display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; background:#fff; color:#000; font-size:1.8rem; line-height:2.8rem; opacity:.9; text-align:center;}
      .slide_list li .wdt_download_apptooltip{display:block;text-align:center; position:absolute; bottom:40px; left:0; right:0; width:80%; margin:auto; background:#fff; color:#000; font-size:1.8rem; line-height:2.8rem; opacity:.9;}
      .slide_list li .bottom_content.app_in_brief .wdt_download_app b{display:block; margin:20px 0 10px}
      .slide_list li .bottom_content.app_in_brief .btn_app_download{background:#ff0000; font-size:1.6rem; height:30px; line-height:34px; padding:0 20px; border-radius:15px; display: inline-block; color: #fff; cursor:pointer;}
      .slide_list li .btn_app_downloadtooltip{background:#000000; font-size:1.4rem;line-height:20px; padding:8px 20px 5px; border-radius:15px; display: inline-block; color: #fff; cursor:pointer;}
      .briefbox .swipperParentDiv .article-section{ overflow:initial} 
      .landscape-mode{display:none}    
  
      .movieshow .movieshowlft {width:100%;}
      .movieshow .moviewshowcard {background:#282e34; margin-bottom:15px;}
      .movieshow .moviewshowcard .mb10 {margin-bottom:10px;}
      .movieshow .moviewshowcard .movieinfo {padding:15px; color:#fff;}
      .movieshow .moviewshowcard .movietitle {display:flex;}
      .movieshow .moviewshowcard .moviemeta {font-size:1rem; line-height:1.2rem; width:70%;}
      .movieshow .moviewshowcard .ms_actions {width:30%;}
      .movieshow .moviewshowcard h1 {font-size:1.6rem; line-height:2.2rem; font-weight:bold; margin-bottom:15px;}
      .movieshow .moviewshowcard h1 b {border: 1px solid #fff;border-radius: 50%; width:24px; height:24px; font-size: 12px;vertical-align: top;color: #fff; line-height:24px; text-align:center; display:inline-block; margin-left:5px; font-weight:normal;}
      .movieshow .moviewshowcard .ms_button {border:1px solid #fff; border-radius:15px; height:30px; width:100%; margin-bottom:5px; text-align:center; font-size:1rem; background:transparent; color:#fff; cursor:pointer;}
      .movieshow .moviewshowcard svg {margin-right:5px; vertical-align:middle; width:16px; height:16px;}
      .movieshow .moviewshowcard .ms_poster {display:flex; margin-top:10px;}
      .movieshow .moviewshowcard .ms_poster .ms_posterimg {width: 25%;}
      .movieshow .moviewshowcard .ms_poster .ms_posterinfo {width:75%; padding-left:15px; box-sizing:border-box;}
      .movieshow .moviewshowcard .ms_share {margin: 10px 0; padding:10px 0 5px; border-top: solid 1px #4d4d4d; border-bottom: solid 1px #4d4d4d;max-height:45px; overflow:hidden;}
      .movieshow .moviewshowcard .ms_share .sharetxt {display:inline-block; font-size:1rem; vertical-align:text-top;}
      .movieshow .moviewshowcard .ms_share .wdt_social_share {display:inline-block; text-align:left; float:none; width:auto;}
      .movieshow .moviewshowcard .ms_synopsis h3 {font-size:1rem; font-weight:normal; margin-bottom:10px;}
      .movieshow .moviewshowcard .ms_trailers {padding-bottom: 15px;}
      .movieshow .moviewshowcard .ms_trailers .section {padding: 0 15px; box-sizing:border-box;}
      .movieshow .moviewshowcard .ms_trailers .section h2 span {font-size: 1.2rem; color:#fff; font-weight:normal;}
      .movieshow .moviewshowcard .ms_trailers .slider ul li .con_wrap .text_ellipsis {color:#fff;}
      .movieshow .moviewshowcard .ms_trailers .slider .btnPrev {left:-17px;}
      .movieshow .moviewshowcard .ms_trailers .slider .btnNext {right:-17px;}
      .movieshow .adcards {display: flex; justify-content:space-between; margin:10px 0;}
      .movieshow .adcards .box-item {width: 49%;}
      .movieshow .star-candidates {width:100%; box-sizing:border-box;}
      .movieshow .star_candidates_widget {background:#e6ecee; padding:0 10px 20px; box-sizing:border-box; width:100%;}
      .movieshow .star_candidates_widget .h2WithViewMore {margin: 0 0 10px 10px;}
      .movieshow .star_candidates_widget h2 {font-size:22px;}
      .movieshow .castprofile .slider .btnPrev, .movieshow .castprofile .slider .btnNext {top:50%; transform: translateY(-50%);}
      .movieshow .candidate_box {height:100%; box-sizing:border-box; font-weight:bold; border-radius: 5px; box-shadow: 0 0 4px 0 #c8d5d9; background-color: #ffffff; padding: 10px; text-align:center; margin: 2px;}
      .movieshow .candidate_box .candidate_imgwrap {display:inline-block; position:relative; margin-bottom:10px}
      .movieshow .candidate_box .candidate_imgwrap img {width:96px; height:96px; border-radius:50%; border:1px solid #e6ecee; padding:8px; box-sizing:border-box; object-fit: cover;}
      .movieshow .candidate_box .candidate_name {font-size: 0.9rem; display:block; text-align: center; max-width: 100%; overflow:hidden; text-overflow:ellipsis; margin: 0 auto; white-space: nowrap;}
      .movieshow .candidate_box .constituency {font-size: 0.9rem; color:#8c8c8c; display:block; marging: 5px 0 10px;}
      .movieshow .candidate_box .party-name {font-size: 0.7rem; color:#8c8c8c; display:inline-block; color:#fff; border-radius:5px; padding: 5px 15px; text-transform:uppercase;}
      .movieshow .metaitems {display:inline-block; margin-right: 10px;}
      .movieshow .metafirst {display:inline-block; border-right: solid 1px #575757; padding-right:10px; margin-right:10px;}
      .movieshow .dotlist {display:inline-block; padding-left:13px; margin-left:7px;}
      .movieshow .con_review_rate {margin:0;}
      .movieshow .rateBox {display:flex; justify-content: space-between;}
      .movieshow .rateBox h3 {margin: 0; padding: 0;font-size: 1.1rem;font-weight: normal; color:#fff;}
      .movieshow .rateBox .star-and-value {display: inline-block; vertical-align: top; white-space: nowrap;font-family: arial;}
      .movieshow .rateBox .star-and-value .rating-stars {margin: 5px 0 0 0; height: 22px; line-height: 22px; vertical-align: middle;}
      .movieshow .rateBox .rate_con {border:none; background:transparent; padding:0 10px 0; box-sizing:border-box;}
      .movieshow .rateBox .rate_con .btn-submit {display:none;}
      .movieshow .rateBox .ratespan {display:block; color:#fff;}
      .movieshow .rateBox .ratespan small {color:#fff; font-size:13px;}
      .movieshow .empty-stars {color:#d8d8d8;}
      .movieshow .rating .critic:before {color:#ff001f;}
      .movieshow .rating .ratestar:before {color:#fc0;}
      .movieshow .rating .users:before {color: #00b3ff;}
      .movieshow .short-text {font-size:1.2rem; line-height:1.8rem;}
      .movieshow .short-text .readMoreText {position:relative; color:#00b3ff; cursor:pointer; margin-left:5px; font-size:1.1rem; display:inline-block;white-space:nowrap;}
      .movieshow .moreitems {position:relative; margin-left:7px;}
      .movieshow .moreitems ul {position:absolute; top:30px; left:0; background:#fff; border-radius:6px;z-index:999;}
      .movieshow .moreitems ul li {border-bottom:solid 1px #dbdbdb; padding: 5px 15px; color:#000; font-size:0.9rem;}
      .movieshow .moreitems ul li:last-child {border:none;}
      .movieshow .rateBox .star-and-value .filled-stars:before, .movieshow .rateBox .star-and-value .empty-stars:before {font-size:16px; line-height:16px;}
 
      .wdt_budget {position:relative; border:1px solid #d4d4d4; margin:0 0 25px}
      .wdt_budget .budget_head{padding: 0 0 0 15px; display:block; overflow:hidden; background:#000; height:40px;}
      .wdt_budget .budget_head h3 {font-weight:normal; margin:0}
      .wdt_budget .budget_head h3 a{font-size: 1.6rem; line-height: 40px; color:#fff;}
      .wdt_budget .bdt_top .news-card.only-info .con_wrap .text_ellipsis{max-height: 3.6rem; -webkit-line-clamp: 2;}
      .wdt_budget .bdt_top{padding:0 10px 0 15px; margin-top:20px}
      .desktop_body .wdt_budget .wdt_lb_home h3{height: auto; line-height: initial; margin-bottom: 5px; margin-top:-5px; font-size: 1.4rem;}
      .desktop_body .section-wrapper .wdt_budget .wdt_lb_home .lb-strip{max-height:200px}
      .wdt_budget .read_more_open{margin-bottom:0}
      .wdt_budget .cheaper_dearer{margin:20px 0 15px}
      .wdt_budget .slider .slider_content li .slide img{max-height:100px}
      .wdt_budget .slider .btnPrev, .wdt_budget .slider .btnNext{top:30px}
  
      .sports-section .rhs-widget .ad1{margin-top: 20px;}      
      .desktop_body .mini_schedule{width:100%}
      .desktop_body .mini_schedule .slider{width:980px !important}
      .desktop_body .mini_schedule .wdt_schedule{width:280px; padding: 5px 10px 5px; margin: 10px 10px 10px 5px; min-height: 120px; display:inline-block; vertical-align:top; position:relative; overflow:hidden} 
      .desktop_body .mini_schedule .wdt_schedule .con_wrap{margin:0; display:inline-block}
      .mini_schedule .slider .hidden_layer {overflow: hidden; white-space: nowrap;}
      .mini_schedule .wdt_schedule .match_date_venue{height: 1.5rem;}  
      .mini_schedule .wdt_schedule .score{font-size: 1.2rem}
      .mini_schedule .wdt_schedule .over, .mini_schedule .wdt_schedule .country{font-size:1.0rem}
      .mini_schedule .wdt_schedule .teama .teaminfo img, .mini_schedule .wdt_schedule .teamb .teaminfo img{width:35px}
      .mini_schedule .wdt_schedule .match_final_status{margin-top:5px; max-height:32px; overflow:hidden}
      .mini_schedule .wdt_schedule .match_date_venue, .mini_schedule .wdt_schedule .match_final_status .match_venue, .mini_schedule .wdt_schedule .match_final_status{font-size:12px; line-height:16px; height:auto}   
      .mini_schedule .slider .btnPrev, .mini_schedule .slider .btnNext{display:none;}
      .mini_schedule .wdt_schedule .teama .teaminfo{min-height:33px}
      .schedule_container{margin: 0 0 4%; background: #fff; width:100%}
      .wdt_schedule{border-radius: 8px; font-family: arial; padding: 5px 10px 5px; margin: 10px 0 10px 0; display: inline-block; width: 100%; vertical-align: top; min-height: 90px; box-sizing: border-box;}
      .wdt_schedule:last-child{margin-right:4%;}
      .wdt_schedule .liveScore{margin-top:5px;}
      .wdt_schedule .match_date_venue{font-size:1.0rem;line-height:1.5rem; text-align:center;white-space:normal;text-transform:uppercase;}
      .wdt_schedule .match_date_venue span{display:block; font-weight:bold;line-height:2rem;}
      .wdt_schedule .teama, .wdt_schedule .teamb{width:40%;}
      .wdt_schedule .teama .teaminfo, .wdt_schedule .teamb .teaminfo{overflow:hidden;clear:both;display:block; margin-top:2px}
      .wdt_schedule .teama img{float:left; margin:2px 5px 0 0;width:100px;}
      .wdt_schedule .teama .con_wrap{display:inline-block;vertical-align:top;}
      .wdt_schedule .teamb{text-align:right;}
      .wdt_schedule .teamb .con_wrap{display:inline-block;vertical-align:top;}
      .wdt_schedule .teamb .teaminfo img{float:right;margin:2px 0 0 5px;width:100px; border-radius: initial;}
      .wdt_schedule .teamb .country{text-align: right; display: block; width: auto;}
      .wdt_schedule .country{display:block;font-size:1.2rem;font-weight:bold;line-height:normal;text-transform:uppercase;text-align:left;width:50px;}
      .wdt_schedule .country.btm{width: 100px; clear: both; text-align: center; padding-top: 10px;}
      .wdt_schedule .teama .country.btm{float:left}
      .wdt_schedule .teamb .country.btm{float:right}
      .wdt_schedule .score{font-size:1.4rem;font-weight:bold;display:block;margin:0 0 1px;}
      .wdt_schedule .over{font-size:1.1rem; display:block;}
      .wdt_schedule .match_final_status{font-size:1rem;line-height:1.4rem; text-align:center;white-space:normal;margin-top:10px;text-transform:uppercase;}
      .wdt_schedule .match_final_status .status_live{font-size:10px;display:inline-block;padding:0 7px 0 15px;height:17px;line-height:17px;text-transform:uppercase;border-radius:3px; position: absolute; left: 0; right: 0; bottom: -1px; width: 30px; margin: auto;}
      .wdt_schedule .match_final_status .match_venue{font-size:1rem;line-height:1.5rem; overflow: hidden; display: block;}
      .wdt_schedule .match_final_status .time{margin-right:5px; color:#000;}
      .wdt_schedule .versus{width:10%; text-align: center;}
      .wdt_schedule .versus span{height: 23px; width: 23px; border-radius: 50%; display: inline-block; font-size: 12px; text-align: center; padding: 6px 0 0 0; font-weight: bold; margin-top: 5px; font-family: arial; box-sizing: border-box;}
      .wdt_schedule .calendar{display:none}
      .schedule_intro{background: #fff; width:100%}
      .matchNvenue{background: #fff; text-align: right; width:100%}
      .matchNvenue select {width: 20%; padding: 5px 5px 3px; font-size: 12px; margin-right: 2%; outline: none;}
      .matchNvenue select:last-child{margin:0;}
      .articlelist .mini_schedule{margin-bottom:15px}
      .wdt_pointsTable{width: 100%;}  
      .wdt_pointsTable .table_layout{margin:0 0 4%;}
      .wdt_pointsTable .table_layout table{width:100%;border-collapse:collapse;margin:0 auto;border-spacing:0;border:0;}
      .wdt_pointsTable .table_layout table tr td{font-size:1.0rem; font-weight:bold;text-align:center;}
      .wdt_pointsTable .table_layout table tr td:first-child{text-align:left;text-transform:uppercase;font-weight:bold;width:45%;}
      .wdt_pointsTable .table_layout table tr:first-child th:first-child{text-align:left;text-transform:uppercase;font-weight:bold;width:45%;}
      .wdt_pointsTable .table_layout table tr td:first-child img{width: 18px; height: 18px; margin-right: 5px; border-radius: 50%;}
      .wdt_pointsTable .table_layout table tr:first-child th{font-size:1.1rem;}
      .wdt_pointsTable .table_layout table td, .wdt_pointsTable .table_layout table th{padding:10px 5px;}
      .wdt_teams ul{display:flex; flex-wrap: wrap; margin-bottom:25px}
      .wdt_teams ul li{text-align:center; width:25%; margin:2% 0}
      .wdt_teams ul li a{display:block}
      .wdt_teams ul li img{width:70%}    
      .wdt_teams ul li .name{display:block; font-size:1.2rem; font-weight:bold; margin:10px 0 0 0;}
      .wdt_teams.hp ul{margin-bottom:0}
      .wdt_teams.hp ul li{width:12.5%}
      .desktop_body .wdt_venues {margin:0 0 30px}
      .desktop_body .wdt_venues ul li.news-card {padding: 0 2.5px; margin-bottom: 5px;}
      .desktop_body .wdt_venues ul li.news-card .con_wrap {padding: 7px 10px 6px; background: #282e34; display: block; box-sizing: border-box; margin:0}
      .desktop_body .wdt_venues ul li.news-card .con_wrap .text_ellipsis {color: #fff; height: 4.4rem; font-size: 1.2rem; line-height: 2rem; max-height: 4rem;}
      .desktop_body .wdt_venues ul.col12{padding:0}
      .desktop_body .wdt_venues.hp .top_section{margin:0 0 20px}
      .wdt_venues.hp .slider .btnPrev, .wdt_venues.hp .slider .btnNext{top:95px}
      .schedule.hp{margin-bottom:30px}
      .schedule.hp .wdt_schedule .teama img, .schedule.hp .wdt_schedule .teamb .teaminfo img{width:50px}
      .schedule.hp .wdt_schedule .teama, .schedule.hp .wdt_schedule .teamb{width:20%}
      .schedule.hp .wdt_schedule .country.btm{width:50px}
      .wdt_players .slider.players_slider{margin-top:30px}
      .wdt_players .slider.players_slider .slider_content li{border-right:1px solid #dfdfdf; text-align:center}
      .wdt_players .slider.players_slider ul li .img_wrap img{border-radius: 50%; overflow: hidden; width: 100px; height:100px; border:1px solid #dfdfdf; padding:5px}
      .wdt_players .slider.players_slider ul li .con_wrap .text_ellipsis{color:#000}
      .floating_cube.wdt_schedule{border-radius: 0; box-shadow: none; width: auto; margin: 5px 10px 0; padding: 0; display: block; background: transparent; min-height: 80px;}
      .floating_cube.wdt_schedule .versus span{font-size: 9px; padding-top: 5px; height: 18px; width: 18px;} 
      .floating_cube.wdt_schedule .wdt_schedule .score{font-size:1.2rem}
      .floating_cube.wdt_schedule .score, .floating_cube.wdt_schedule .over{font-size:12px}
      .floating_cube.wdt_schedule .score.active{color:#00b758}
      .floating_cube.wdt_schedule .teama img, .floating_cube.wdt_schedule .teamb img{width:20px}
      .floating_cube.wdt_schedule .match_date_venue{text-transform: initial; text-align: left; font-weight: bold; font-size: 1.1rem; background: #000; color: #fff;height: 30px; line-height: 32px; margin: -5px -10px 5px; padding: 0 10px;}
      .floating_cube.wdt_schedule .country{font-size:12px;}
      .floating_cube.wdt_schedule .match_final_status{line-height:14px; max-height: 28px; color:#828282; margin-top:3px; font-size:10px}
      .floating_cube.wdt_schedule .match_final_status .status_live{bottom:0}
      .flipbox-wrapper .flipbox-box .flipbox-side{min-height:115px}
      .flipbox-wrapper .flipbox-box .flipbox-side h4.news-txt{padding:7px 10px 0px 9px;}
      .flipbox-wrapper .flipbox-box .flipbox-side h4.news-txt a{font-size: 1.2rem; line-height: 1.8rem; height: 5.4rem; -webkit-line-clamp: 3;}
      .Cube{bottom:0;left:160px;}
      #content{height:125px;}
 