.timespoint-wrapper { background:rgba(0,0,0,.5); position:fixed; width:100%; height:100%; left:0; top:0; left:auto; z-index:10002; transition:all .5s; opacity:0; pointer-events:none; }
.timespoint-wrapper.active { opacity:1; pointer-events:initial; }

/*.tp-sprite, .tp-sprite:before, .tp-sprite:after { background-image:url(http://tamil.samayam.com/photo/75207857.cms); background-repeat:no-repeat; background-position:-10000px; }*/
.tp-sprite{position: relative;}
.tp-sprite:before { background-image:url(http://tamil.samayam.com/photo/75207857.cms); background-repeat:no-repeat; content: ''; position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto; background-position: -58px -112px;}
/*--- Loading ---*/
.tp-loading { background-image:url(http://tamil.samayam.com/photo/73267263.cms); background-repeat:no-repeat; }
.tp-loading * { opacity:0; }
.how-to .tp-list.tp-loading { background-position:-25px 0; min-height:342px; }
.how-to .tp-list.tp-loading + .text-center { display:none; }
.checkin-parent.tp-loading { background-position:-12px -362px; min-height:97px; }
.gift-cards .tp-loading { background-position:-32px -472px; min-height:297px; }
.profile .inner.tp-loading { background-position: -9px -804px; }
.profile .inner.tp-loading + .token-expiry { text-indent:-9999px; background-image:url(http://tamil.samayam.com/photo/73267263.cms); background-repeat:no-repeat; background-position:-9px -1060px; }
.activity .tp-list.tp-loading { background-position:-25px -1175px; }

#times-point-modal .close-btn { background:none; border:0; font-size:34px; line-height:1; color:#7b7b7b; transform:rotate(-45deg); position:absolute; right:12px; top:10px; z-index:1; transition:all .5s; cursor: pointer;}

#times-point-modal h3 { font-size:16px; color:#000; }
#times-point-modal h4 { font-size:15px; color:#000; }
#times-point-modal h5 { font-size:14px; }

#times-point-modal { background:#f7f7f7; padding:0 30px; position:absolute; max-width:400px; width:100%; height:100%; top:0; right:0; overflow:auto; }
#times-point-modal h2 { font-size:20px; line-height:1; text-align:center; text-transform:uppercase; margin:15px 0 20px; }
#times-point-modal h2 .icon { width:30px; height:24px; display:inline-block; vertical-align:bottom; margin-right:8px; }
#times-point-modal h2 .icon:before{background-position:-146px -112px;}
#times-point-modal .inner-container { box-shadow:0 0 4px 0 rgba(204, 204, 204, 0.38); }
#times-point-modal .tab-container { display:flex; justify-content: space-between; list-style:none; border-bottom:1px solid #ebebeb; -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; }
#times-point-modal .tab { display:none; }
#times-point-modal .tab + label { font-size:12px; color:#999; line-height:20px; border-bottom:3px solid transparent; cursor:pointer; padding:10px 10px; text-transform: uppercase;}
#times-point-modal .tab + label[for='faqs']{text-transform: capitalize;}
#times-point-modal .tab:checked + label { color:#000; border-bottom-color:#000; }
#times-point-modal .box { background:#fff; padding: 0;}

.hide { display:none; }
.text-center { text-align:center; }

#times-point-modal .more-btn { display:inline-block; background:none; border:1px solid #ff6661; border-radius:3px; font-size:14px; line-height:normal; font-weight:500; color:#ff6661; text-transform:uppercase; padding:6px 25px 6px 10px; position:relative; width:auto;}
#times-point-modal .more-btn:after { position:absolute; content:''; border:solid #ff6661; border-width:0 2px 2px 0; width:6px; height:6px; top:8px; right:10px; transform:rotate(45deg); }
#times-point-modal .view-all-offers .more-btn:after {border-width:2px 2px 0 0; top:10px}


#times-point-modal .tab-content { border-top:1px solid #ebebeb; background-color:transparent; position:absolute; width:100%; z-index:-1; opacity:0; left:0; -webkit-transform:translateY(-3px); -ms-transform:translateY(-3px); transform:translateY(-3px); height:0; overflow:hidden; }
#myactivity.tab:checked ~ .activity { border-top:0; }
#times-point-modal .tab-content .Normal > br { display:none; }
#times-point-modal .tab-content .wdt_loading{position: relative; min-height: 300px;}

#howtoearn.tab:checked ~ .how-to, #myactivity.tab:checked ~ .activity, #faqs.tab:checked ~ .faq, #offers.tab:checked ~ .offers { height:auto; overflow:visible; opacity:1; -webkit-transition:0.5s opacity ease-in, 0.8s -webkit-transform ease; transition:0.5s opacity ease-in, 0.8s transform ease; position:relative; top:0; z-index:98; -webkit-transform:translateY(0px); -ms-transform:translateY(0px); transform:translateY(0px); }

.tp-list-wrapper { padding-bottom:20px; }
.tp-list { margin-left:16px; }
.tp-list li { list-style:none; position:relative; border-bottom:1px solid #ebebeb; padding:16px 0; padding-right:20px; }
.tp-list li:last-child { border-bottom:0; }
.tp-list a { color:inherit; display:block; position:relative; }
.tp-list a:hover { text-decoration:none; }
.tp-list a:after { position:absolute; content:''; background-position:-257px -121px; width:8px; height:12px; right:0; top:2px; }
.tp-list h5 { line-height:22px; margin-bottom:5px; }
.tp-list p { font-size:14px; line-height:22px; color:#999; }
.tp-list p + p { margin-top:4px; }
.tp-list i { width:30px; height:30px; display:inline-block; position:absolute; left:-35px; }
.tp-list .articles i:before { background-position:-15px -21px; }
.tp-list .videos i:before { background-position:-62px -21px; }
.tp-list .checkin-bonus i:before { background-position:-108px -21px; }
.tp-list .daily-checkin i:before { background-position:-154px -20px; }
.tp-list .comment i:before { background-position:-200px -21px; }
.tp-list .view_photo i:before { background-position:-244px -22px; }
.tp-list .podcast i:before { background-position:-288px -19px; }
.tp-list .moview_review i:before { background-position:-336px -22px; }
.tp-list .liveblog i:before { background-position:-380px -22px; }
.tp-list .freetrial i:before { background-position:-415px -23px; }

/*.how-to .tp-list { min-height:250px; }*/
.how-to .tp-list li { margin-left:35px; }
body[data-primestatus] .how-to .tp-list li.freetrial { display:none; }
.how-to .tp-list li:nth-child(4) ~ li { opacity: 0; height: 0; padding: 0; overflow: hidden; transition: all 0.5s; }
.how-to .tp-list.showall li:nth-child(4) ~ li { opacity: 1; height: auto; padding: 16px 20px 16px 0; overflow: visible; }
.how-to .tp-list:not(.showall) li:nth-child(4) { border-bottom: 0; }
.how-to .tp-list.showall li:last-child { padding-bottom:0 !important; }

.flexbox { display:flex; }
.justify-between { justify-content:space-between; }
.align-center { align-items:center; }
.align-baseline { align-items:baseline; }

.redeem-points-sticky { background-color:#fff; box-shadow:0 -2px 3px 0 rgba(187, 176, 176, 0.5); text-align:center; padding:15px 0; background-position:64px -172px; position:sticky; bottom:0; z-index:1000;  }

.tp-btn { background:#cc0c00; border-radius:3px; height:36px; line-height:36px; font-size:14px; color:#fff; padding:0 25px; display:inline-block; border: 0; outline: none; cursor: pointer;}

.activity .profile { padding:24px; position:relative; }
.activity .profile:before { position:absolute; content:''; background:#9b9b9b; width:100%; height:180px; left:0; top:0; }
.profile .inner { background-color:#fff; border-radius:25px 25px 0 0; padding:16px 16px 5px; z-index:1; position:relative; box-shadow: -14px -10px 15px -10px rgba(0, 0, 0, 0.2), 14px -10px 15px -9px rgba(0, 0, 0, 0.2);}
.activity .profile figure { width:56px; height:56px; border-radius:50%; line-height:54px; }
.activity .profile figure img { border-radius: 50%; vertical-align: middle; width: auto; max-width:100%}
.profile .profile-header { margin-bottom:20px; }
.profile .profile-header .details { flex:1; margin-left:15px; }
.activity .profile .token-expiry { font-size:11px; color:#999; }

#times-point-modal .act-count { text-align:right; }
#times-point-modal .act-count p { color:#333; }
#times-point-modal .green-text { color:#7db713 !important; position:relative; }
#times-point-modal .green-text:before { position:relative; content:''; display:inline-block; width:12px; height:10px; background-position:-323px -123px; vertical-align:middle; margin-right:5px; }
#times-point-modal .red-text { color:#ce4649 !important; }


.tp-details { margin-bottom:7px; }
.tp-details p { font-size:11px; color:#919191; line-height:1; font-weight:600; margin-bottom:8px; }
.tp-details li { list-style:none; flex:1; padding-bottom:10px; text-align:center; }
.tp-details li + li { border-left:1px solid #ccc; }

.tp-footer { background:#000000; border-radius:0 0 5px 5px; padding:10px 24px; margin:0 -16px; }
.tp-footer p { font-size:12px; line-height:1; color:#fff; font-weight:500; margin-bottom:8px; }
.tp-footer .points { font-size:16px; color:#fff; font-weight:700; }
.tp-footer .points .icon { display:inline-block; width:24px; height:24px; border-radius:50%; background-image: linear-gradient(135deg,#3023ae,#cf10ef 102%); vertical-align:middle; margin-right:5px }

.redeem-btn { 
    font-size:16px; line-height:1; color:#fff800; font-weight:700; text-transform:uppercase;
    &:active, &:hover, &:focus {color:#fff800;}
}

.tp-box2 { background:#f5f5f5; border-top:1px solid #ccc; padding:8px 16px; }
.tp-box2.withbtn{padding-right: 80px;}
.tp-box2.withbtn h4{line-height: 23px;}
.tp-box2 p { font-size:14px; font-weight:700; color:#646464; }
#times-point-modal .tp-box2 h4{font-weight: normal;}
#times-point-modal .tp-box2 h4 strong{font-weight: bold;}

.checkin-list {
    background:#fff; position:relative; min-height:97px; 
    .slick-list { 
        padding:28px 0 14px; position:relative;
        &:before { position:absolute; content:''; border-top:1px dashed #888; left:0; top:50%; width:100%; height:0; }
    }
    .slick-slider { 
        padding-left:16px; position:relative; 
        .slick-slide {height: auto;}
    }
    .checkin { 
        position:relative; height:45px; background:#dedede; border-radius:3px; text-align:center; padding-top:12px; transition:all .5s; box-sizing: border-box;
        &.todayCheckin {
            transform:scale(1.08); margin-top:-10px; padding-top:18px; height:65px;
            .date { font-size:11px; height:18px; line-height:18px;}
            .icon { width:24px; height:24px; }
            &.bonus-earned {
                .icon:before { background-position:-59px -113px; }
            }
            &.bonus-lost {
                .icon:before { background-position:-13px -114px; }
            }
        }
        &.bonus-earned { 
            background:#93bd46; 
            .date { background:#384e58; }
            .icon:before { background-position:-105px -118px; }
        }
        &.bonus-lost { 
            background:#ce4649; 
            .date { background:#4e2a2a; }
            .icon:before { background-position:-15px -116px; }
        }
        &.upcoming {
            .icon { display:none; }
            .date { background: #f5f5f5; color:#f5f5f5;}
            &.todayCheckin {
                background:#93bd46; 
                .icon:before { background-position:-103px -115px; display: block;}
                .date { background:#384e58; color:#fff}
            }
            h5 {padding-top: 0;}
        }
        h5 { color:#fff; transition:all .5s; padding-top: 2px;}
        .icon { width:20px; height:20px; border-radius:50%; background-color:#fff; box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.26); position:absolute; left:50%; transform:translateX(-50%); top:-10px; }
        .date { position:absolute; left:0; bottom:0; width:100%; text-align:center; background:rgba(0,0,0,.5); height:15px; line-height:15px; font-size:10px; color:#fff; border-radius:0 0 3px 3px; }
        .btn-grp { 
            position:absolute; right:0; top:-28px; 
            .btn {
                width:22px; height:22px; background-color:transparent; border:0; display:inline-block; margin:0 5px; transition:all .5s; 
                &:hover { opacity:.6; }
                &.slick-disabled { opacity:.4; cursor: default; }
            }
            .prev { background-position:-374px -114px; }
            .next { background-position:-420px -114px; }
        }
    }
    .slider {
        .btnPrev {
            width:25px; height:25px; right: 25px; left: auto; top: -31px;
            &:after{height: 6px; width: 6px; left:3px}
        }
        .btnNext{
            width:25px; height:25px;top: -31px; right: -5px;
            &:after{height: 6px; width: 6px; right:3px}
        }
        .hidden_layer{padding:28px 0 14px}
    }
}

.days_away {background-color: #fff1f1; font-size: 12px; color: #000000; padding: 8px 0; text-align: center;}



#times-point-modal .checkin-list .todayCheckin.checkin h5 { font-size:24px; }


.point-box { background:#fff1f1; padding:6px 20px; text-align:center; }
.point-box p { font-size:14px; line-height:20px; color:#000; margin-bottom:0; }


#times-point-modal .view-all-btn { font-size:12px; line-height:1; color:#ff6661; font-weight:600; white-space: nowrap;}

.gift-cards { background:#e9e9e9; padding:24px 18px; }
.gift-cards li { border-radius:10px; box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.17); background:#fff; }
.gift-cards li + li { margin-top:15px; }
.gift-cards li > a{display: block;}
.gift-cards li > a > span { background:#f1ffd6; text-align:center; padding:6px 20px; display:block; font-size:13px; line-height:18px; color:#3d5213; border-radius:10px 10px 0 0; border-bottom:1px dashed #ccc; }
.gift-cards .card-info { flex:1; padding:0 12px; height:94px; position:relative; }
.gift-cards .card-info:after { position:absolute; content:''; border-bottom:1px dashed #ccc; width:100%; height:1px; top:50%; left:0; }
.gift-cards .card-info p, .gift-cards .card-info h3 { height: 50%; display: -ms-flexbox; display: flex; -ms-flex-align: center !important; align-items: center !important; }
.gift-cards .card-info p span { font-size: 15px; line-height: 18px; color: #000; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.gift-cards .card-info h3 { font-size:26px; line-height:1; color:#333; padding-top:10px; }
.gift-cards .card-info h3 .icon { width:30px; height:24px; display:inline-block; vertical-align:bottom; margin-left:8px; margin-top:-5px; }
.gift-cards .card-info h3 .icon:before{background-position:-146px -112px;}
.gift-cards .card-info p, .gift-cards .card-info h3 { height:50%; }
.gift-cards .details { position:relative; padding:8px 15px; }
.gift-cards .details:before, .gift-cards .details:after { position:absolute; content:''; background:#e9e9e9; box-shadow:2px 0px 3px rgba(0, 0, 0, 0.17) inset; top:50%; margin-top:-15px; height:30px; width:18px;  border-radius:90px 0 0 90px; border-right:2px solid #e9e9e9; }
.gift-cards .details:before { left:-2px; transform:rotate(180deg); }
.gift-cards .details:after { right:-2px; }

.gift-cards .partner-logo { flex:0 0 100px; border-right:1px dashed #ccc; align-items:center; display:flex; justify-content:center;     fill:#e72c30; }
.gift-cards .partner-logo img{max-width: 100%;}


/*.faq-list li { padding:20px 20px 20px 16px; list-style:none; }*/
/*.faq-list li:nth-child(odd) { background:#fcfcfc; box-shadow:0 1px 0 0 rgba(240, 240, 240, 0.5); }*/
/*.faq-list h4, .faq-list p { font-size:14px; line-height:20px; color:#333; padding-left:35px; position:relative; }*/
/*.faq-list h4:before, .faq-list p:before { position:absolute; font-size:16px; font-weight:700; color:#fff; line-height:24px; text-align:center; width:24px; height:24px; border-radius:50%; left:0; top:-4px; }*/
/*.faq-list h4:before { content:'Q'; background:#ff6661; }*/
/*.faq-list p:before { content:'A'; background:#42abb7; }*/
/*.faq-list h4 { margin-bottom:10px; }*/
/*.faq-list p { margin-bottom:0; }*/

#times-point-modal .faq li { padding:20px 20px 20px 50px; list-style:none; }
#times-point-modal .faq li:nth-child(odd) { background:#fcfcfc; box-shadow:0 1px 0 0 rgba(240, 240, 240, 0.5); }
#times-point-modal .faq li { font-size:14px; line-height:22px; color:#333; position:relative; }
#times-point-modal .faq strong:before, #times-point-modal .faq strong:after { position:absolute; font-size:16px; font-weight:700; color:#fff; line-height:26px; text-align:center; width:24px; height:24px; border-radius:50%; left:-35px; }
#times-point-modal .faq strong:before { content:'Q'; background:#ff6661; top:-4px; }
#times-point-modal .faq strong:after { content:'A'; background:#42abb7; bottom:-35px; }
#times-point-modal .faq strong { display:block; margin-bottom:10px; position: relative; }
#times-point-modal .faq strong + br { display:none; }
 
#times-point-modal .offers{padding:15px 10px}
#times-point-modal .offers ul{display: flex; flex-wrap: wrap;}
#times-point-modal .offers ul li{width:48%; padding:15px; box-sizing: border-box; border-radius: 8px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04); border: solid 1px #e2efff; background-color: #ffffff; font-family: arial; min-height: 228px; max-height: 228px; margin-bottom: 15px;}
#times-point-modal .offers ul li:nth-child(2n+1){margin-right:4%}
#times-point-modal .offers ul li .brands{display: block; border-bottom: 1px solid #e2efff; margin: 0 0 15px; padding:0 0 15px; height: 46px; line-height: 46px; text-align: center;}
#times-point-modal .offers ul li .brands img{max-height: 46px; width: auto; max-width: 100%; vertical-align: middle;}
#times-point-modal .offers ul li .offer{display: block; text-align: center; margin: 0 0 15px;}
#times-point-modal .offers ul li .offer .text_ellipsis{font-size: 12px; line-height: 20px; height: 40px;}
#times-point-modal .offers ul li .price{display: block; font-size: 16px; margin: 0 0 10px; text-align: center;}
#times-point-modal .offers ul li .price .icon {width: 20px; height: 19px; display: inline-block; vertical-align: bottom; margin-left: 0px;}
#times-point-modal .offers ul li .price .icon:before{background-position: -60px -116px;}
#times-point-modal .offers ul li .btn-offers{border:0; font-size: 12px; font-family: Arial, Helvetica, sans-serif; height: 35px; border-radius: 25px; background-color: #cc0c00; width: 100%; color: #fff; display: block; line-height: 35px; text-align: center;}

.bgImg #timespoint-popup { left:50%; transform:translateX(-100%); max-width:1000px; }


/*for mobile*/
#times-point-modal.tp-mobile{
    padding:0;
    position: static;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 50px;
    .back-to-site{
        box-shadow: 0px -1px 13px 0px grey;
        background: #f5f5f5;
        z-index: 1;
        color:#000;
        height:50px;
        line-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding: 0 0 0 20px;
        position: relative;
        .back_icon{
            vertical-align: top;
            margin: 14px 10px 0 0;
            display: inline-block;
            height: 36px;
            svg{
                font-size: 24px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
    .tab-container{
        margin:0;
    }
    .tab{
        +label{
            padding: 15px 8px 5px;
            font-size: 12px;
        }
    }
    .checkin-list {
        .checkin-parent {
            padding: 28px 0 14px;
            overflow-x: auto;
            ul{
                white-space: nowrap;
                .checkin {
                    display: inline-block;
                    vertical-align: top;
                    width: 60px;
                    margin-left: 7px;
                    margin-right: 7px;
                }
            }
        }
    }
    .redeem-points-sticky{
        position: fixed;
        width: 100%;
    }
    .tp-box2.withbtn{padding-right: 16px;}
}

/*disable hover on articleshow. videoshow and photoshow start*/
.wdt_timespoints .tpwidget-two .tpwidget-float:hover .tpwidget-float-head {border-radius:50%;width:35px;}
.wdt_timespoints .tpwidget-two .tpwidget-float:hover .tpwidget-float-content {display: none;}
/*disable hover end*/

.wdt_timespoints .tpwidget .tp-name{display: none;}
.wdt_timespoints .tpwidget .odometer.odometer-auto-theme{font-size: 14px;}
.wdt_timespoints .tpwidget-two .tpwidget-float-head {height: 35px; width: 35px; line-height: 40px;}
.wdt_timespoints .tpwidget-two .tpwidget-float-head .odometer{color:#fff; margin: 0;box-shadow: none; line-height: normal; vertical-align: text-top;}
.wdt_timespoints .tpwidget .tp-btn-flat, .wdt_timespoints .tpwidget .tp-btn-flat:hover{background-image: linear-gradient(135deg, #3023ae, #cf10ef 102%);}
.wdt_timespoints .tpwidget-two .no-points{margin-top: 0;}
.wdt_timespoints .tpwidget-two .no-points .tp-logo{width:25px}

.tp_icondiv a {display: block;}
.tp_icondiv .tp_points {display: inline-block; width: 25px; height: 25px; border-radius: 50%; background-image: linear-gradient(135deg, #3023ae, #cf10ef 102%);}
.tp_icondiv .tp_points i {right: -8px; top: -4px; background-color: #7db713; border-radius: 5px; display: inline-block; padding: 1px 4px 0 3px; font-size: 9px; font-style: normal; line-height: normal;}

#timespoint-popup.mobile {background:#222; padding:10px; position: fixed; z-index: 1000; width: auto; bottom: 86px; display: none; width: 100%; box-sizing: border-box; border-radius: 10px 10px 0 0;}
#timespoint-popup.mobile .close-btn { background:none; border:0; position:absolute; right:10px; top: 2px; transform: rotate(45deg); font-size:40px; line-height:40px; font-weight:400; color:#fff; cursor:pointer; z-index:10}
#timespoint-popup.mobile .wrapper .top{margin: 5px 0 3px;}
#timespoint-popup.mobile .wrapper .column .tp-btn{font-size: 11px; height: 30px; line-height: 30px; padding: 0 20px;white-space: nowrap; background:#e52727; text-transform: uppercase; margin-top:10px}
#timespoint-popup.mobile h2 { font-size:14px; color:#fff; padding:0 20px 0 40px; position: relative; }
#timespoint-popup.mobile h2 .icon { position:absolute; width:30px; height:30px; left:0; bottom: 0;}
#timespoint-popup.mobile h2 .icon:before{background-position: -146px -110px;}
#timespoint-popup.mobile h2 span { display:block; font-size:12px; color:#888; font-weight:400; margin-top: 4px;}
#timespoint-popup.mobile .column { padding:0 5px; font-family: Arial, Helvetica, sans-serif;}
#timespoint-popup.mobile .column.heading b{font-size: 12px; line-height: 20px; max-height: 40px;}
#timespoint-popup.mobile .column.center{text-align:center}
#timespoint-popup.mobile .daily-points { color:#fff; display:flex; justify-content:center; position: relative;}
#timespoint-popup.mobile .daily-points li { display:flex; text-align:center; justify-content:center; flex-direction:column; position: relative; width:50px; height: 40px;}
#timespoint-popup.mobile .daily-points li + li { margin-left:10px; }
#timespoint-popup.mobile .daily-points li span.daily-status{width:13px; height:13px; border-radius:50%; background:#acacac; margin: auto;}
#timespoint-popup.mobile .daily-points li.bonus-earned span.daily-status{ background:#aede69; }
#timespoint-popup.mobile .daily-points li.bonus-lost span.daily-status{ background:#ef5d5d; }
#timespoint-popup.mobile .daily-points li.active span.daily-status {box-shadow:0px 0px 0px 4px rgba(174, 222, 105, 0.58); background:#aede69;}
#timespoint-popup.mobile .daily-points p { font-size:10px; text-transform:uppercase; color: #666666;}
#timespoint-popup.mobile .daily-points li.active p {color:#999999;}