@import '../css/sprite';

.astro_widget {
    border: 1px #c9c9c9 solid;
    width: 100%;
    margin-bottom: 10px;
    
    .astro_slider {
      background: #ececec;
      margin: 0 5px 5px;
      padding: 10px 0;
    }
    .slider {
      li .slide{
        text-align: center;
        .txt{
          font-size: 1.0rem;
        }
      }
      .btnPrev {
        height: 25px;
        left: -24px;
        width: 25px;
        border-radius: 0;
        top:23px;
        &:after{
          height:8px;
          width:8px;
        }
      }
      .btnNext {
        height: 25px;
        width: 25px;
        border-radius: 0;
        right: -24px;
        top:23px;
        &:after{
          height:8px;
          width:8px;
        }
      }
    }
    .astro-sign {
      height: 40px;
      width: 40px;
      display: inline-block;
      @extend .include-astro-sprite;
      text-indent: 10000px;
      cursor: pointer;
    }
    .sign-aries {
      background-position: -114px -64px;
    }
    .sign-taurus {
      background-position: -17px -64px;
    }
    .sign-gemini {
      background-position: -16px -15px;
    }
    .sign-cancer {
      background-position: -212px -15px;
    }
    .sign-leo {
      background-position: -65px -64px;
    }
    .sign-virgo {
      background-position: -16px -113px;
    }
    .sign-libra {
      background-position: -211px -64px;
    }
    .sign-scorpio {
      background-position: -114px -15px;
    }
    .sign-sagittarius {
      background-position: -64px -113px;
    }
    .sign-capricorn {
      background-position: -163px -15px;
    }
    .sign-aquarius {
      background-position: -162px -64px;
    }
    .sign-pisces {
      background-position: -65px -15px;
    }
    .moreastrolinks {
      background: #ededed;
      overflow: hidden;
      clear: both;
      .ankjyotish {
        background: url(https://static.langimg.com/photo/62568340.cms) 0 -3819px no-repeat;
        padding-left: 30px;
        margin-bottom: -2px;
        padding-top: 2px;
        margin-left: 21px;
        line-height: 41px;
        font-size: 17px;
        float: left;
        color: #000;
      }
      .tero {
        background: url(https://static.langimg.com/photo/62568340.cms) 0 -3860px no-repeat;
        padding-left: 30px;
        margin-bottom: -2px;
        padding-top: 2px;
        margin-left: 33px;
        line-height: 41px;
        font-size: 17px;
        float: left;
        color: #000;
      }
    }
  }

  .desktop_body{
    .astro_widget {
      .news-card.horizontal{
        margin: 10px 10px 5px;
        padding: 0;
        border: 0;
        width: auto;
        .text_ellipsis{
          color: #000;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 2.3rem;
          max-height: 6.9rem;
        }
      }
      .astro_text{
        margin: 0 10px 15px;
        .text_ellipsis{
          color: #727272;
          font-size: 1.2rem;
          line-height: 1.9rem;
          max-height: 11.4rem;
          -webkit-line-clamp: 6;
        }
      }
    }
  }

  .mobile_body{
    .astro_widget {
      border: 0;
      .news-card.horizontal{
        margin: 0 3% 5px;
        padding: 0;
        border: 0;
        width: auto;
        .text_ellipsis{
          color: #000;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 2.3rem;
          max-height: 4.6rem;
        }
      }
      .astro_text{
        margin: 10px 3% 4%;
        .text_ellipsis{
          color: #727272;
          font-size: 1.4rem;
          line-height: 2.2rem;
          max-height: 6.6rem;
          -webkit-line-clamp: 3;
        }
      }
      .astro_slider{
        margin: 0 3% 5px;
        .slider{
          max-width: 320px;
          margin: 0 auto;
        }
      }
    }
  }

