.fake-top-ads .img_wrap{padding:10px 0;}
.fake-top-ads .dummy-img{width:728px; height:90px; float:none; margin: auto;}

.fake-top-headlines{padding:20px 0}
.fake-top-headlines .table_col.first{width:320px; padding-right: 20px; vertical-align: top;}
.fake-top-headlines .table_col.second{width:330px; padding-right: 30px; vertical-align: top;}
.fake-top-headlines .table_col.third{width:300px; vertical-align: top;}

.fake-lead-post .img_wrap{padding:0 0 10px;}
.fake-lead-post .dummy-img{width:100%; height:240px; float:none;}

.fake-ad300 .dummy-img{width:100%; height:250px; float:none;}

.fake-top-trending{display: flex; vertical-align: top; box-sizing: border-box; margin: 20px 0; min-height: 30px;}
.fake-top-trending ul, .fake-top-trending ul li{list-style: none;}
.fake-top-trending ul li {display: inline-block; vertical-align: top; border: 1px solid #dbe3e4; animation-duration: 3s; animation-fill-mode: forwards; animation-iteration-count: infinite; animation-name: placeHolderShimmer; animation-timing-function: linear; background: #f6f7f8; background: linear-gradient(to right,#eee 8%,#ddd 18%,#eee 33%); border-radius: 15px; margin: 0 10px 10px 0; width: 85px; height: 26px;}

$animation-bg: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 80% );

@mixin loadingbg($width, $hgt, $pos, $height) {
    $gradient: ();
    $tempgrad: ();
    @for $i from 1 through length($hgt) {
      $item: nth($hgt, $i);
      $tempgrad: linear-gradient(#dbe3e4 $item, transparent 0);
      $gradient : join($gradient, $tempgrad, comma);
    }
    $sizes: ();
    $tempsizes: ();
    @for $i from 1 through length($width) {
      $item: nth($width, $i);
      $tempsizes: $item $height;
      $sizes : append($sizes, $tempsizes, comma);
    }
    $positions: ();
    $temppos: ();
    @for $i from 1 through length($pos) {
      $item: nth($pos, $i);
      $temppos: $item;
      $positions : append($positions, $temppos, comma);
    }
    background-image: 
        $gradient
    ;
    background-size:
      $sizes
    ;
    background-position:
      $positions
    ;
}

@keyframes shine {
    to {
        background-position:
            100% 0, /* move highlight to right */
    }
}

.fakeemptyloader:empty {
  /* variables */
  $height: 600;
  $bgwidth: (80px, 20%, 100%, 100%, 70%);
  $bgheight: (70px, 8px, 8px, 8px, 8px);
  $bgpos: (
      0 0, /* image */
      90px 0,
      90px 18px,
      90px 36px,
      90px 54px,
  );
  /* variables ends */
  margin: auto;
  position: relative;
  width: 100%;
  height: $height + px; /* change height to see repeat-y behavior */
  @include loadingbg($bgwidth, $bgheight, $bgpos, 90px);
  background-repeat: repeat-y;
  &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: $animation-bg;
      background-size: 70px 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      animation: shine 1s infinite;
  }
}


.fakelisting {
    /* variables */
    $height: 600;
    $bgwidth: (80px, 20%, 100%, 100%, 70%);
    $bgheight: (70px, 8px, 8px, 8px, 8px);
    $bgpos: (
        0 0, /* image */
        90px 0,
        90px 18px,
        90px 36px,
        90px 54px,
    );
    /* variables ends */
    margin: auto;
    position: relative;
    width: 100%;
    height: $height + px; /* change height to see repeat-y behavior */
    @include loadingbg($bgwidth, $bgheight, $bgpos, 90px);
    background-repeat: repeat-y;
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: $animation-bg;
        background-size: 70px 100%;
        background-position: 0 0;
        background-repeat: no-repeat;
        animation: shine 1s infinite;
    }
    &.fakenoimage {
      /* variables */
      $bgwidth: (20%, 100%, 100%, 70%);
      $bgheight: (8px, 8px, 8px, 8px);
      $bgpos: (
          0 0,
          0 18px,
          0 36px,
          0 54px,
      );
      /* variables ends */
      @include loadingbg($bgwidth, $bgheight, $bgpos, 90px);
    }
    &.fakemidimg {
      /* variables */
      $bgwidth: (120px, 20%, 100%, 100%, 70%);
      $bgheight: (90px, 8px, 8px, 8px, 8px);
      $bgpos: (
          0 0, /* image */
          130px 0,
          130px 20px,
          130px 40px,
          130px 60px,
      );
      /* variables ends */
      @include loadingbg($bgwidth, $bgheight, $bgpos, 150px);
    }
    &.fakevertical {
      /* variables */
      $height: 330;
      $bgwidth: (100%, 100%, 100%, 80%);
      $bgheight: (250px, 8px, 8px, 8px);
      $bgpos: (
          0 0, /* image */
          0 260px,
          0 280px,
          0 300px
      );
      /* variables ends */
      height: $height + px; /* change height to see repeat-y behavior */
      @include loadingbg($bgwidth, $bgheight, $bgpos, 330px);
      background-repeat: no-repeat;
    }
    &.fakeadcard {
      /* variables */
      $height: 270;
      $bgwidth: (100%);
      $bgheight: (250px);
      $bgpos: (
          0 0, /* image */
      );
      /* variables ends */
      height: $height + px; /* change height to see repeat-y behavior */
      @include loadingbg($bgwidth, $bgheight, $bgpos, 250px);
      background-repeat: no-repeat;
    }
    &.fakestory {
      /* variables */
      $height: 460;
      $bgwidth: (100%, 100%, 60%, 10%, 30%, 30%, 100%);
      $bgheight: (10px, 15px, 15px, 8px, 8px, 30px, 300px);
      $bgpos: (
          0 0,
          0 30px,
          0 60px,
          0 100px,
          0 120px,
          100% 100px,
          0 140px
      );
      /* variables ends */
      height: $height + px; /* change height to see repeat-y behavior */
      @include loadingbg($bgwidth, $bgheight, $bgpos, $height + px);
      background-repeat: no-repeat;
    }
    &.fakearticle {
      /* variables */
      $height: 220;
      $bgwidth: (100%, 100%, 100%, 100%, 60%);
      $bgheight: (8px, 8px, 8px, 8px, 8px);
      $bgpos: (
          0 0,
          0 20px,
          0 40px,
          0 60px,
          0 80px
      );
      /* variables ends */
      height: $height + px; /* change height to see repeat-y behavior */
      @include loadingbg($bgwidth, $bgheight, $bgpos, 110px);
    }
    &.profilelist {
      height: 600px;
      width: 166px;
      background-image: radial-gradient(circle 40px at center, lightgray 99%, transparent 0), linear-gradient(lightgray 15px, transparent 0), linear-gradient(lightgray 10px, transparent 0), linear-gradient(lightgray 10px, transparent 0), linear-gradient(#f1f1f1 180px, transparent 0);
      background-size: 80px 200px, 120px 200px, 80px 200px, 60px 200px, 156px 200px;
      background-position: 40px -50px, 20px 100px, 40px 125px, 50px 150px, 0 0;
      background-repeat: repeat-y;
    }
    &.fakechart {
      height: 300px;
      width: 300px;
      background-image: radial-gradient(circle 40px at center, lightgray 99%, transparent 0), linear-gradient(lightgray 15px, transparent 0), linear-gradient(lightgray 10px, transparent 0), linear-gradient(lightgray 10px, transparent 0), linear-gradient(#f1f1f1 180px, transparent 0);
      background-size: 80px 200px, 120px 200px, 80px 200px, 60px 200px, 160px 200px;
      background-position: 40px -50px, 20px 100px, 40px 125px, 50px 150px, 0 0;
      background-repeat: repeat-y;
    }
}
