/*compare listing for WEB and PWA*/


/*compare list page for WEB*/
.container-comparewidget.web{
    margin:0 0 20px;
    .wdt_compare-gadgets{background:#f0f0f0;padding:20px 10px 5px;margin:0 0 20px 0;}
    /*
    .wdt_compare-gadgets .wdt-inline-gadgets{margin:0 0 50px;}
    .wdt_compare-gadgets .wdt-inline-gadgets ul.scroll{padding: 0; align-items: flex-end;}
    .wdt_compare-gadgets .wdt-inline-gadgets ul.scroll li{border-radius:4px;box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 4px 3px rgba(0, 0, 0, 0.1);border:solid 1px #b6b6b6;background:#ffffff;margin-right:10px;padding-top:20px;height:80px;line-height:50px;}
    .wdt_compare-gadgets .wdt-inline-gadgets ul.scroll li:last-child{margin-right:0;}
    .wdt_compare-gadgets .input_field{display:inline-block;vertical-align:top;margin-right:4%;width:22%;position:relative;}
    .wdt_compare-gadgets .input_field input[type='text']{padding:8px 25px 6px 10px;font-size:14px;box-sizing:border-box;width:100%;color:#000;border-radius:5px;outline:none;border:1px solid #d5d5d5;}
    .wdt_compare-gadgets .info-camparsion{display:block;text-align:center;color:#ff0000;font-size: 1.1rem; line-height: 1.7rem;}
    .wdt_compare-gadgets .input_field:last-of-type{margin-right:0;}
    .wdt_compare-gadgets .btn-blue{margin-bottom:5px;width:25%;}
    .wdt_compare-gadgets h1{font-size:22px;margin:0 0 10px;font-weight:bold;}
    */
    .wdt_compare-gadgets .wdt-inline-gadgets ul.scroll li:last-child{margin-right:0;}
    .wdt_compare-gadgets .input_field .auto-suggest{position:absolute;top:35px;left:0;right:0;margin:0 auto;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#fff;z-index:11; overflow-y:auto;overflow-x:hidden;}
    .wdt_compare-gadgets .input_field .auto-suggest ul li{display:block;line-height:22px;margin-bottom:3px;font-size:14px;cursor:pointer;padding:3px 10px 0; width: auto; margin: 0;}
    .wdt_compare-gadgets .input_field .auto-suggest ul li span{text-align:left;}
    .wdt_compare-gadgets .input_field .auto-suggest ul li:hover, .wdt_compare-gadgets .input_field .auto-suggest ul li.active{background:#135394;border-radius:0; color: #fff;}
    .wdt_compare-gadgets .input_field .auto-suggest ul li span{margin:0;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    .wdt_compare-gadgets .input_field .close_icon{top:7px;right:5px;}
    .wdt_suggested_slider{
        background:#f0f0f0;
        padding:0 20px 20px;
        margin:0 0 20px;
        .section{
            width: 100%;
            display: flex;
            .top_section{
                h2{
                    border: 0;
                    margin-bottom: 0;
                    span{
                        color: #000;
                        a{
                            color: #000;
                        }
                        &:before{
                            border: 0;
                        }
                    }
                }
            }
            .read_more{
                display: none;
            }
        }
        .slider {
            .slider_content li{
                cursor: pointer;
            }
            .btnPrev{left:-12px}
            .btnNext{right:-12px}
        }
    }
    .ui_slider .items-in-list ul li:nth-child(3n + 3) {margin-right: 0;}
}

.wdt_suggested_slider.ui_slider .slider .slider_content li .slide .title{height:4rem;}
