 .productdetails_body h1{font-size: 2.0rem; line-height: 3rem; margin:0 0 15px;}
 .desktop_body .pd_top_nav{overflow:hidden;margin:0 0 20px;}
 .desktop_body .pd_top_nav.fixed{position:fixed;top:34px;width:1000px;margin:0 auto;background:#fff;z-index:100;padding:0 0 10px;right:0px;left:0;}
 .desktop_body .pd_top_nav .nav_items{display:inline-block;vertical-align:top;width:70%;border-bottom:2px solid #d0d0d0;}
 .desktop_body .pd_top_nav ul.tabs{margin:0;overflow:visible;}
 .desktop_body .pd_top_nav ul.tabs li{font-size:1.4rem;line-height:40px;flex-grow:1;margin:0;}
 .desktop_body .pd_top_nav ul.tabs li.active{border:0;position:relative;}
 .desktop_body .pd_top_nav ul.tabs li.active span{font-weight:bold;}
 .desktop_body .pd_top_nav ul.tabs li.active:after{border:1px solid #000;content:'';position:absolute;bottom:-2px;left:0;right:0;}
 .desktop_body .pd_top_nav .wdt_social_share {display:inline-block;vertical-align:top;border-bottom:2px solid #d0d0d0;height:40px;width:30%;}
 .desktop_body .pd_top_nav .wdt_social_share .social-cell{float:right;}
 .desktop_body .pd_top_nav .wdt_social_share .whatsapp, .desktop_body .pd_top_nav .wdt_social_share .telegram{display: none;}
 
 .productdetails_body .wdt_popular_slider{margin:0 0 30px;}
 .productdetails_body .wdt_popular_slider.ui_slider .slider{width:auto}
 .productdetails_body .wdt_popular_slider.ui_slider .slider .slider_content li{width:300px}
 .productdetails_body .wdt_popular_slider.ui_slider .slider .slider_content li:nth-child(2n+2){margin-right: 5px;}
 .productdetails_body .wdt_popular_slider.ui_slider .items-in-list ul li{margin-right: 15px;}
 .productdetails_body .wdt_popular_slider.ui_slider .items-in-list ul li:nth-child(2n+2){margin-right:0;}
 .productdetails_body .gadgetShow_adCTN{width:100%}
 .pd-accordion{overflow:hidden;margin:20px 0 30px;}
 .pd-accordion h3 {font-size: 1.6rem; font-weight: bold; margin: 0 0 10px; line-height: 2.4rem;}
 .pd-spec-show .gn_table_layout{margin:0 0 20px;}
 .pd-spec-show .gn_table_layout:last-child{margin:0;}
 .pd-spec-show .gn_table_layout table td{font-size:1.2rem; padding:9px 15px;border:0;border-bottom:1px solid #d6d6d6;text-align:left;color:#333; text-transform:capitalize;}
 .pd-spec-show .gn_table_layout table tr td:first-child{font-weight:bold;width:25%;}
 .pd-spec-show .gn_table_layout table tr td:last-child{border:0;border-bottom:1px solid #d6d6d6;}
 .pd-spec-show .gn_table_layout .spec + table{display:none;}
 .pd-spec-show .gn_table_layout .spec{background:#eeeeee;font-size:1.4rem;color:#000;text-align:left;display:block;padding:9px 15px 12px 45px;position:relative;cursor:pointer;font-weight:bold; text-transform: capitalize;}
 .pd-spec-show .gn_table_layout .spec:before{content:'';position:absolute;border:2px solid #333;border-radius:50%;top:9px;left:10px;height:22px;width:22px;}
 .pd-spec-show .gn_table_layout .spec:after{content:'\002B';position:absolute;top:10px;left:17px;font-size:22px;font-weight:bold; font-family: arial;}
 .pd-spec-show .gn_table_layout .spec.active:after{content:'\2212';font-size:23px;}
 .pd-spec-show .gn_table_layout .spec.active + table{display:table;}
 .pd_suggested_slider{margin:0 0 30px;}
 .pd_suggested_slider.ui_slider .slider .slider_content li .slide{min-height: 180px;}
 .pd_suggested_slider.ui_slider .slider .slider_content li .slide .title{height:4rem;}
 
 .desktop_body .productdetails_body .wdt_amazon_list.box-item{width:100%; margin-bottom: 30px;}
 .wdt_amazon_list.with-scroll ul {max-height: 510px; overflow-y: scroll; overflow-x: hidden;}
 .wdt_amazon_list .section .top_section .amazon_icon{right: 0; position: absolute; bottom: 5px;}
 .wdt_amazon_list ul li.horizontal{position: relative;}
 .wdt_amazon_list ul li.horizontal .img_wrap{width:20%; text-align: center;}
 .wdt_amazon_list ul li.horizontal .img_wrap img {width: auto; max-height: 80px; max-width: 100%;}
 .wdt_amazon_list ul li.horizontal .con_wrap{width:80%}
 .wdt_amazon_list ul li.horizontal .con_wrap h4 .text_ellipsis {font-size:1.0rem; line-height:1.8rem; max-height:3.6rem; -webkit-line-clamp: 2; color: #000;}
 .wdt_amazon_list ul li .con_wrap .price_tag {font-size: 1.4rem; font-weight: bold;}
 .wdt_amazon_list ul li .con_wrap .rtng {font-size: 1rem; display: block; margin: 0 0 5px; line-height: 1.8rem; }
 .wdt_amazon_list ul li .con_wrap .rtng span small {color: #000; }
 .wdt_amazon_list ul li .con_wrap .rtng span:first-child {margin-right: 5px; }
 .wdt_amazon_list ul li .con_wrap .rtng span:first-child b {color: #ff0000; }
 .wdt_amazon_list ul li .con_wrap .rtng span:last-child b {color: #00b3ff; }
 .wdt_amazon_list ul li .con_wrap .rtng .sub-rating {color: #1a75ff; margin: 0 0 0 5px; font-size: 1rem; cursor: pointer; display: inline-block; vertical-align: top; line-height: 1.8rem;}
 .wdt_amazon_list ul li .con_wrap .rtng b {font-family: Arial, Helvetica, sans-serif; margin-left: 3px; font-size: 1rem; font-weight: bold; }
 .wdt_amazon_list ul li .btn_wrap.absolute {position: absolute; right: 5px; bottom: 5px; z-index: 10;}
 .wdt_amazon_list .section h2{height:auto; font-size:1.6rem}
 .wdt_amazon_list .section h2 span{height:auto; line-height:30px; max-width:70%; padding:10px 10px 5px 0px}

 .productdetails_body .product_summary{overflow:hidden;margin-bottom:30px;}
 .productdetails_body .product_summary .summary_content{font-size:1.3rem;line-height:2.3rem;}
 .productdetails_body .product_summary .summary_content.less{max-height:435px;overflow:hidden;display:block;}
 .productdetails_body .product_slider{width:330px;margin:0 20px 20px 0;float:left;}
 .productdetails_body .product_slider ul.slider-tabs{display:inline-block;vertical-align:top;width:60px;margin:0 20px 0 0;}
 .productdetails_body .product_slider ul.slider-tabs li{display:block;border:1px solid #d1d1d1;margin:0 0 11px;height:100px;text-align:center;cursor:pointer;position:relative;}
 .productdetails_body .product_slider ul.slider-tabs li img{max-height:75px;width:auto;height:auto;max-width:91%;position:absolute;top:0;bottom:0;left:0px;right:0;margin:auto 5%;}
 .productdetails_body .product_slider ul.slider-tabs li:last-child{margin-bottom:0px;}
 .productdetails_body .product_slider .slider-content{display:inline-block;vertical-align:top;width:245px;border:1px solid #d1d1d1;position:relative;}
 .productdetails_body .product_slider .slider-content .img_wrap{height:330px;padding:50px 10px 20px;position:relative;}
 .productdetails_body .product_slider .slider-content .img_wrap img{max-height:330px;width:auto;height:auto;max-width:90%;position:absolute;top:50px;bottom:20px;left:5%;right:5%;margin:auto;}
 .productdetails_body .product_slider .slider-content .tabs_wrap a, .productdetails_body .product_slider .slider-content .tabs_wrap span{border-top:1px solid #d0d0d0;background:#f8f8f8;display:inline-block;vertical-align:top;width:50%;font-size:1.4rem;color:#000;text-align:center;height:40px;line-height:40px;box-sizing:border-box;cursor:pointer;}
 .productdetails_body .product_slider .slider-content .tabs_wrap a.active, .productdetails_body .product_slider .slider-content .tabs_wrap span.active{background:#135394;color:#fff;border-top:1px solid #135394;}
 .productdetails_body .product_slider .slider-content .top-caption{background: #fed20a;}
 .productdetails_body .product_slider .slider-content .top-caption:before{background: linear-gradient(-235deg, #fed20a 50%, #ffffff 50%);}
 .productdetails_body .product_slider .slider-content.upcoming .top-caption, .productdetails_body .product_slider .slider-content.rumoured .top-caption{display:block;top:-1px;left:-15px;}
 .productdetails_body .product_slider .slider-content .top-caption b{position:absolute;bottom:-15px;left:0;z-index:-1;width:0;height:0;border-style:solid;border-width:15px 0 0 15px;border-color:#b39300 transparent transparent transparent;}
 .productdetails_body .pd-list ul li{border-bottom:1px solid #cccccc;padding:0 0 15px;margin:0 0 15px;}
 .productdetails_body .pd-list ul li:last-child{border:0;margin:0;}
 .productdetails_body .pd-list ul li a{font-size:1.2rem;line-height:2rem;color:#333;}
 .productdetails_body .pd-list.with-scroll ul{height:310px;overflow-y:auto;overflow-x:hidden;}
 .productdetails_body .lst-news.with-scroll ul{height:490px;overflow-y:auto;overflow-x:hidden;}
 .pdp-story-seperator{background:#fff;}
 .pdp-story-seperator .end-ad{background:#eee;width:100%;text-align:center;padding:2% 0 1.5%;}
 .pdp-story-seperator .end-ad .ads_btf{margin:0;}

 .wdt_lst-tred{width:100%}
 .wdt_lst-tred ul.gn-tabs{width:100%;margin:0 0 15px;}
 .wdt_lst-tred ul.gn-tabs li{border-radius:0;font-size:1.4rem;line-height:35px; height:34px;}
 .wdt_lst-tred .list-txt{position:relative;}
 .wdt_lst-tred .list-txt li a{font-size:1.2rem;line-height:2rem;}
 .pd-comments-wrapper{position:relative;padding:40px 0 20px 0;}
 .pd-comments-wrapper .btn-blue{position:absolute;top:-40px;right:0;margin:0;width:48%;border-radius:0;}
 .pd-comments-wrapper .btn-blue.btm{position:initial;width:60%;margin:20px auto;}
  
 .wdt_amazon_slider.vertical ul li .img_wrap {width: 20%; text-align: center;}

 .productdetails_body{
  .thumb_img_reviews h3{font-size:1.4rem;line-height: 2.2rem; margin: 10px 0 5px; font-weight: normal;}
  .thumb_img_reviews .img_wrap{position:relative;}
  .thumb_img_reviews .image_caption .cen{display:inline-block;vertical-align:top;width:28%;text-align:center;position:relative;border-left:1px solid #fff;}
  .thumb_img_reviews .image_caption .cen .head{font-size:1.4rem;line-height:2.2rem;display:block;margin:0 0 10px; font-weight: bold;}
  .thumb_img_reviews .image_caption .cen .head .icon_star{height:22px;width:25px;position:absolute;left:14px;}
  .thumb_img_reviews .image_caption .cen .head .icon_star:after{color:#0fadde;font-size:30px;}
  .thumb_img_reviews .image_caption .cen .rate_txt{font-size:2rem;font-family:arial;}
  .thumb_img_reviews .image_caption .cen .rate_txt small{font-size:1.6rem;}
  .thumb_img_reviews .review_text{font-size:18px;line-height:26px;display:block;margin:10px 0 0 0; position: relative;}
  .thumb_img_reviews .review_text:after {content: ""; bottom: 0; left: 0; position: absolute; right: 0; visibility: visible; top: 0;background: linear-gradient(hsla(0,0%,100%,0),#fff 80%,#fff);}
 }


 .pd-bottom-comments {
    .pd-comment-box {
      &:hover {
        background: #fafafa;
      }
      padding-left: 45px;
      padding-right: 15px;
      padding-top: 10px;
      position: relative;
      box-shadow: 0 0 5px #b8b8b8;
      padding-bottom: 20px;
      margin-bottom: 20px;
      margin-left: 30px;
      &:last-child {
        border: 0;
      }
      .user-thumbnail {
        height: 60px;
        left: -30px;
        position: absolute;
        top: 12px;
        width: 60px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 5px #b8b8b8;
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin: 5px;
        }
      }
    }
    .flL {
      float: left;
    }
    .pd-comment-box.authorComment {
      background: #fffbd4;
    }
  }
  
  .pd-bottom-comments-btns {
    clear: both;
    margin-top: 10px;
    .cmtbtn-wrapper {
      background: #f6f6f6;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      clear: both;
      margin: 20px auto 20px;
      padding: 5px 0;
      position: relative;
      width: 100%;
    }
    .cmtbtn {
      &.view {
        border-right: 1px solid #979797;
        color: #6d6d6d;
        position: relative;
        width: 50%;
        span {
          color: #333;
        }
      }
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      font-size: 1.1rem;
      height: 30px;
      line-height: 34px;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      font-weight: bold;
      span {
        display: inline-block;
        padding: 0 5px;
        font-weight: bold;
      }
      &.add {
        color: #6d6d6d;
        width: 50%;
        &:hover {
          color: #37accd;
        }
      }
      .icon {
        background: rgba(0, 0, 0, 0) url('/images/articleshow-comments.png') no-repeat scroll -94px 0;
        height: 20px;
        padding: 0;
        position: relative;
        vertical-align: middle;
        width: 23px;
      }
    }
  }
  
  .pd-bottom-comments {
    .pd-comment-box {
      a.name,
      span.name {
        color: #454545;
        font-size: 1.2rem;
        line-height: 2rem;
        margin-right: 9px;
        text-transform: capitalize;
        display: inline-block;
        font-weight: bold;
        float: none;
      }
    }
    .short_comment {
      color: #666;
      cursor: pointer;
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 10px;
      word-wrap: break-word;
      clear: both;
    }
    .pd-comment-box .footbar {
      display: block;
      margin: 5px 0;
      position: relative;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      a {
        color: #777;
        float: left;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0 5px;
        line-height: normal;
      }
      span {
        color: #777;
        float: left;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0 5px;
        line-height: normal;
        &[data-action='comment-reply'] {
          color: #0365f7;
          padding-left: 0;
          padding-top: 0;
          cursor: pointer;
          font-weight: bold;
          position: absolute;
          right: 0;
          border: 1px solid #0365f7;
          padding: 4px 30px 2px 12px;
          border-radius: 10px;
          top: -5px;
          outline: none;
          &:after {
            content: '\2192';
            position: absolute;
            right: 6px;
            top: -1px;
            font-size: 18px;
          }
        }
      }
      > span {
        margin: 0;
        padding: 2px 5px 0;
      }
      .icon-downarrow,
      .icon-uparrow {
        background: rgba(0, 0, 0, 0) url('/images/articleshow-comments.png') no-repeat scroll 0 0;
        cursor: pointer;
        display: inline-block;
        height: 14px;
        margin-left: 3px;
        vertical-align: middle;
        width: 14px;
      }
      .icon-downarrow {
        background-position: -15px -40px;
      }
      .icon-uparrow {
        background-position: 0 -40px;
        position: relative;
        top: -1px;
      }
    }
  }
  
  .desktop_body .productdetails_body .box-item{margin-bottom: 10px;}


/*rating widget start*/
.wdt_review_rate{padding:0 0 60px;position:relative;}
.wdt_review_rate .btn-blue{position:absolute;bottom:0;left:0;margin:0;width:48%;border-radius:0;}
.wdt_review_rate .rating-values{overflow:hidden;margin:20px 0;}
.wdt_review_rate .user_review{display:inline-block;vertical-align:top;width:30%;text-align:center;}
.wdt_review_rate .user_review span{color:#f90;font-size:40px;line-height:80px;font-family:arial;position:relative;font-weight:700;display:block;}
.wdt_review_rate .user_review small{font-family:arial;color:#000;font-size:30px;font-weight:normal;}
.wdt_review_rate .user_review span b{font-size:16px;color:#000;line-height:24px;font-family:'NotoSans Regular', Arial, Helvetica, sans-serif;font-weight:bold;}
.wdt_review_rate .user_review .caption{font-size:1.0rem}
.wdt_review_rate .user_review .first_review{font-size: 1.1rem; color: #000; line-height: 1.8rem; display: block; margin-top: 10px;}
.wdt_review_rate .user_star{display:inline-block;vertical-align:top;width:70%;}
.wdt_review_rate .user_star li{display:block;font-size:14px;line-height:14px;margin-bottom:10px;}
.wdt_review_rate .user_star li:last-child{margin-bottom:0;}
.wdt_review_rate .user_star li .star_txt{display:inline-block;vertical-align:top;width:40px;font-size:18px;line-height:20px;text-align:center;color:#000;font-family:arial;}
.wdt_review_rate .user_star li .star_bg{background:#f1f1f1;height:20px;width:400px;display:inline-block;overflow:hidden;vertical-align:top;text-align:left;}
.wdt_review_rate .user_star li .star_bg span[data-attr]:after{content:attr(data-attr);position:absolute;right:10px;top:1px;font-size:11px;}
.wdt_review_rate .user_star li .star_bg span[data-attr="0"]{min-width: 10%; background: transparent;}
.wdt_review_rate .user_star .star5,.user_star .star4,.user_star .star3,.user_star .star2,.user_star .star1{display:inline-block;line-height:20px;text-align:right;position:relative;height:20px;vertical-align:top;font-size:12px;}
.wdt_review_rate .user_star .star5{background:#42bc00;}
.wdt_review_rate .user_star .star4{background:#a4e528;}
.wdt_review_rate .user_star .star3{background:#d1e528;}
.wdt_review_rate .user_star .star2{background:#e5bf28;}
.wdt_review_rate .user_star .star1{background:#e57328;}
.rating_popup{position:fixed;left:0;top:0;width:100%;height:100%;z-index:100000;background:rgba(0, 0, 0, 0.7);}
.rating_popup .container{padding:0;border-radius:2px;background:#fff;width:400px;margin:100px auto 0;}
.rating_popup .container .msg_thanks{font-size:16px;font-weight:bold;padding:20px;text-align:center;}
.rating_popup header .close_icon{top:-50px;left:0;right:0;margin:auto;background:#999;height:40px;width:40px;border-radius:50%;}
.rating_popup header .close_icon:after,.rating_popup header .close_icon:before{left:19px;height:20px;background-color:#fff;top:10px;}
.rating_popup header{background:#135394;padding:15px 10px 12px;position:relative;}
.rating_popup h3{color:#fff;font-size:20px;line-height:1;text-align:center;}
.rating_popup .content{padding:10px 20px;text-align:center;}
.rating_popup .content .error{color:#f00;font-size:12px;line-height:15px;display:block;text-align:center;margin:10px 0 0 0;}
.rating_popup .content .btn{background:#135394;color:#fff;height:40px;line-height:40px;margin:10px 0 10px; font-size: 1.2rem; padding:0 20px}
.rating_popup .content ul li{border-bottom:0;padding:0;margin-bottom:10px;text-align:left;}
.rating_popup .content ul li:last-child{margin:0;}
.rating_popup .content ul li .blk_star{display:inline-block;vertical-align:top;width:35%;text-align:center;}
.rating_popup .content ul li .blk_star .icon_star{width:90px;}
.rating_popup .content ul li .blk_star .icon_star:after{right:0;}
.rating_popup .content ul li label{font-size:16px;line-height:28px;display:inline-block;vertical-align:top;color:#000;width:55%;font-weight:bold;}
.rating_popup .content ul li input[type='radio']{float:right;margin: 8px 5px 0 0;}
.rating_popup .login-first h4{display:inline-block;vertical-align:top;margin:10px 15px 0 0;text-transform:uppercase; font-size: 1.2rem;}
.rating_popup .login-first .btn{margin:0;}
/*rating widget end*/

.price-widget.gn_table_layout{margin-bottom:30px;}
.price-widget table tr:nth-child(odd){background-color:#fafafa;}
.price-widget.gn_table_layout table tr td:first-child{width:auto}

