@import '../sprite';
#modal{
   .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.95);
        margin: auto;
        z-index: 1003;
   }
   .content {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 101;
        overflow-y: auto;
        overflow-x: hidden;
        .close_icon{
            background: transparent;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            right: 2%;
            top: 2%;
            border:2px solid #fff;
            outline: none;
            &:before, &:after{
                top:0; 
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background: #fff;
                height: 15px;
            }   
        }
        .inner-content{
            width: 1200px;
            margin: 30px auto;
            .default-player.__sast {
                width: 100% !important;
                height: auto !important;
                cursor: default;
                word-break: initial;
            }
            .default-outer-player.__sast {
                .image-container {
                    background: url("https://static.langimg.com/photo/msid-77014303/audio-default.jpg") no-repeat center;
                    width: 100% !important;
                    height: 95px !important;
                    background-size: cover;
                    &::before {display: none;}
                    img {display: none;}
                }
            }
            .videotitle {
                color: #fff;
                padding: 10px 0;
                font-size: 1.8rem;
                line-height: 2.8rem;
            }

            .con_social{
                display: flex; 
                width: 100%;
                justify-content: space-between;
                .youtube-iframe{
                    margin-top: 10px;
                    .txt{
                        color: #fff;
                    }
                }
                .right_icons {display: flex;}
                .wdt_social_share{
                    margin-top: 10px;
                    background: transparent;
                    // svg{display:none; width:48px; height:48px}
                    span{width: 32px; height: 25px; display: inline-block; vertical-align: top; margin: 0 0 0 10px; cursor: pointer;}
                    .iconsquare {
                        width: 32px;
                        height: 25px;
                        svg {width: 16px; height: 16px;}
                    }
                    span.sms, span.email, span.comments{display: none;}
                }
                .dock_icon{
                    @extend .include-desktop-sprite; 
                    background-position: -294px -134px; 
                    height: 22px; 
                    width: 22px;
                    display: inline-block;
                    text-indent: -10000px;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;
                    margin: 10px 0 0 10px;
                    outline: none;
                }
            }
            .advert-full-ad{
                display: block;
                overflow: hidden;
                margin: 20px auto;
                text-align: center;
                min-height: 50px;
                color: #fff;
                .ad1 {
                    padding: 0;
                }
            }
            .advert-player{
                justify-content: flex-end;
                padding-right: 55px;
                .inner{
                    width: 630px;
                }
            }
            .advert-left-ad{
                justify-content: flex-start;
                color: #fff;
                .ad1{
                    min-width: 300px;
                    z-index: 10;
                    margin: 0;
                }
            }
            .videodesc {
                color: #e0e0e0;
                font-size: 1rem;
                line-height: 1.9rem;
                max-height: 13rem;
                overflow: auto;
                display: block;
                margin-top: 10px;
                a {
                    color:#fff
                }
            }
            .popup-slider{
                background: #000;
                padding: 0 15px ;
                margin: 5px 0 0 0;
                .slider {
                    li.slide{
                        padding: 15px 0;
                        white-space: normal;
                        position: relative;
                        cursor: pointer;
                        .img_wrap{
                            position: relative;
                            display: block;
                            img {
                                height: 124px;
                            }
                        }
                        .img_wrap[data-tag]{
                            &:after {
                                font-family: arial;
                                font-size: 1.1rem;
                                position: absolute;
                                bottom: 10px;
                                right: 10px;
                                padding: 2% 3%;
                                line-height: 1.2rem;
                                background:rgba(0, 0, 0, 0.6);
                                content: attr(data-tag);
                                text-align: center;
                                color: #fff;
                                z-index:10
                            }
                        }
                        .img_wrap[data-tag=""]:after {display:none}
                        .con_wrap{
                            margin: 10px 0 0 0;
                            display: block;
                            .text_ellipsis{
                                color: #fff;
                                font-size: 1.2rem;
                                line-height: 2.0rem;
                                max-height: 6.0rem;
                                -webkit-line-clamp: 3;
                            }
                        }
                        &:hover{
                            &:after{
                                content: '';
                                position: absolute;
                                background: #3f3f3f;
                                top: -15px;
                                bottom: -60px;
                                left: -15px;
                                right: 0;
                                z-index: -1;
                            }
                        }
                        &.video{
                            .img_wrap{
                                a{
                                    position: relative;
                                    display: block;
                                    &:before{
                                        @extend .videoicon; 
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 25px;
                                        height: 25px;
                                        position: absolute;
                                        content: '';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
   }
}


#modal{
    &.mobile{
        .overlay{
            background: #000;
            padding-top: 50px;
            .content {
                overflow: hidden;
                .close_icon{
                    right: auto;
                    left: 10px;
                    top: 10px;
                    border: 0;
                }
                .inner-content{
                    width: 100%;
                    padding: 50px 0 0;
                    position: relative;
                    margin: auto;
                    .videodesc {
                        color: #333333;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        max-height: 4rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        padding: 0 40px 0 10px;
                        position: relative;
                        &:before, &:after {
                            position: absolute;
                            content: '';
                            border-right: 8px solid transparent;
                            border-left: 8px solid transparent;
                            border-top: 8px solid black;
                            bottom: 8px;
                            right: 15px;
                        }
                        &:after {
                            content: '';
                            border-width: 7px 7px 0 7px;
                            border-top-color: #fff;
                            bottom: 10px;
                            right: 16px;
                        }
                        &.expanded {
                            display: block;
                            max-height: initial;
                            -webkit-line-clamp: initial;
                            &:before, &:after {transform: rotate(180deg);}
                            &:before {bottom: 11px;}
                        }
                        &.hidemoreicon {
                            &::before, &::after {display: none;}
                        }
                    }
                    .default-outer-player {
                        height: auto;
                        .default-player {position: relative; width:100% !important; height:230px !important;}
                    }
                    .dock_icon{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        margin: 0;
                    }
                    .videotitle {
                        color: #fff;
                        padding:0;
                        font-size: 1.4rem;
                        line-height: 2.2rem;
                        margin: 0 3% 2%;
    
                    }
                    .con_social{
                        margin: 0 3% 2%;
                        justify-content: space-between;
                        flex-direction: row-reverse;
                        width: auto;
                        .share_icon{
                            position: initial;
                            display: inline-block;
                            vertical-align: top;
                            background: #585858;
                            width: 35px;
                            height: 35px;
                            margin: 10px 0 0;
                            span{
                                padding: 9px;
                                svg{
                                    width: 15px;
                                }
                            }
                        }
                    }
                    .advert-player{
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding: 0;
                        .inner {
                            width: 100%;
                        }
                    }
                    .popup-slider{
                        margin: 0;
                        height: calc(100vh - 330px);
                        overflow: hidden;
                        overflow-y: auto;
                        background: #fff;
                        padding: 0;
                        .section{
                            width: 100%;
                        }
                        .slider{
                            width: 100% !important;
                            .hidden_layer{
                                overflow: hidden;
                                overflow-x: auto;
                                .slider_content{
                                    li.slide{
                                        display: flex;
                                        margin: 0 3% 4%;
                                        padding: 0;
                                        .img_wrap {
                                            margin: 0 10px 0 0;
                                            img {
                                                width: 120px;
                                                height: auto;
                                            }
                                        }
                                        .con_wrap{
                                            margin: 0;
                                            .text_ellipsis{
                                                color: #686868;
                                                font-size: 1.3rem;
                                                line-height: 2.1rem;
                                                max-height: 4.2rem;
                                                -webkit-line-clamp: 2;
                                            }
                                        }
                                        &:hover{
                                            &:after{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                            .btnPrev, .btnNext{display: none;}
                        }
                    }
                    .app_in_modal{
                        position: absolute;
                        top: 14px;
                        right: 60px;
                        svg.android {
                            width: 23px;
                            height: 23px;
                            color:#92AF00;
                        }
                        svg.ios {
                            width: 23px;
                            height: 23px;
                            color:#fff;
                        }
                    }
                }
                .shareModalContainer{
                    .close_icon{
                        right: 2%;
                        left: auto;
                        top: 2%;
                        &:before, &:after{
                            background-color: #9b9b9b;
                        }
                    }
                }
            }
        }
    }
}
.btn_openinapp, .btn_openinapp:visited{z-index:2;color:#fff;padding:0 15px 0 13px;text-decoration:none; font-size:14px;border-radius:0 25px 25px 0;background:#AD0000;position:fixed;bottom:230px;margin:auto;left:0;font-weight:normal;transition:all 350ms ease-in-out;height:30px;line-height:32px;white-space:nowrap;}
