@import '../sprite';

.section-wrapper {
    .section{
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .default{
        .con_wrap {
            .section_name{
                display: none;
            }
        }
    }
    /*top main story*/
    .top_headlines{
        .news-card.lead .con_wrap {
            position: relative;
            margin-top: 20px;
            .section_name{
                background: #fe3941;
                color: #fff;
                display: inline-block;
            }
        }
        /*
        ul.more_headlines{
            margin: 10px 0 0;
            padding: 0;
            li{
                max-width: 205px;
                margin-right: 20px;
                padding-left: 0;
                padding-right: 0;
                &:nth-child(3n+3){
                    margin-right: 0;
                }
            }
        }
        */
    }
    .read_more_headlines{
        margin-bottom: 10px;
        a{
            font-size: 1.2rem; 
            margin: 0 15px 0 0; 
            color: #000;
            position: relative;
            margin-left: auto;
            &:after {content: ""; display: block; height: 5px; width: 5px; margin: auto; position: absolute; top: 0; bottom: 0; transform: rotate(45deg); right: -10px; border-top: 1px solid #000; border-right: 1px solid #000;}
        }
    }
    .wdt_photo{
        background: #282e34;
        padding: 0px 20px 20px;
        margin: 0 0 20px;
        overflow: hidden;
        .section{
            width: 100%;
            display: flex;
            .top_section{
                h2{
                    border: 0;
                    margin-bottom: 0;
                    span{
                        color: #fff;
                        a{
                            color: #fff;
                        }
                        &:before{
                            border: 0;
                        }
                    }
                }
            }
            .read_more{
                display: none;
            }
            .sub-section{
                margin: 18px 0 15px 0;
                width: 70%;
                margin-left: auto;
                ul.sub-list{
                    li a{
                        color: #fff;
                    }
                }
                span.more-sublist b{
                    background: #fff;
                    &:before, &:after{
                        background: #fff;
                    }
                }
            }
        }
        
        .con_wrap{
            .section_name{display: none;}
        }
        .slider{
            .btnPrev{
                left:-19px;
                top:65px;
                &:after{
                    border-width: 2px;
                }
            }
            .btnNext{
                right:-19px;
                top:65px;
                &:after{
                    border-width: 2px;
                }
            }  
        } 
    }
    .wdt_video{
        background: #e6ecee;
        padding: 20px;
        margin-bottom: 30px;
        .slider ul li .con_wrap {
            .text_ellipsis{
                color: #333;
            }
        }
        &.slider-horizontalView{
            width:100%;
            .slider .btnPrev, .slider .btnNext{
                top:43px;
            }
        }
        &.headline_video{
            width: 100%;
            box-sizing: border-box;
        }
    }
    .col4{
        .wdt_video{
            padding: 14px 14px 10px;
            margin-bottom: 10px;
            min-height: 155px;
            .slider {
                .btnPrev{
                    width: 25px;
                    height: 25px;
                    left: -11px;
                    top:27px;
                    &:after{
                        height: 6px;
                        width: 6px;
                    }
                }
                .btnNext{
                    width: 25px;
                    height: 25px;
                    right: -11px;
                    top:27px;
                    &:after{
                        height: 6px;
                        width: 6px;
                    }
                }
            }
        }   
    }
    .medium_listing{
        .news-card.horizontal-lead{
            border-bottom: 0;
            margin-bottom: 15px;
            padding-bottom: 15px;
            .img_wrap{
                margin-bottom: 0;
                img{
                    width: 120px;
                }
            }
            .con_wrap {
                width: calc(100% - 130px);
            }
            .data-drawer{
                margin-bottom: 0;
            }
        }
    }
    .most-read-stroies{
        .news-card{
            padding: 0;
            margin: 0 4.15% 25px 0;
            &:nth-child(5n+5){
                margin-right: 0;
            }
            .img_wrap{
                img{
                    width: 100%;
                }
            }
        }
    }
    .row.wdt_trending{
        .col4{
            margin-top:20px;
        }
    }
    .row.astro, .row.lifestyle{
        margin-bottom: 0;
    }
    .wdt_astro{
        .wdt_video.slider-horizontalView{
            .slider .btnPrev, .slider .btnNext{
                top:35px;
            }
        }
    }
    .ad1-btf{
        margin: 15px 0;
    }
    .row.movie{
        margin-bottom: 10px;
        .news-card{
            &.horizontal{
                .img_wrap{
                    img {
                        width: 64px;
                    }
                }
            }
            &.lead{
                border-bottom: 1px solid #dfdfdf;
                margin-bottom: 11px;
                padding-bottom: 11px;
            }
        }
    }
    .row.poll-n-ads{
        margin-bottom: 30px;
        .ad1{
            margin-top: 20px;
        }
        .box-content{
            margin: 0;
            width: 100%;
            .section{
                width: 100%;
                h2{
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0;
                }
            }
            .pollContainer{
                margin: 0;
                box-shadow: none;
                border: 0;
                padding: 0;
                h4 {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    margin-bottom: 10px;
                }
                ul {
                    li {
                        label{
                            background: transparent;
                            padding: 0 0 0 20px;
                            font-size: 1.4rem;
                            line-height: 2.2rem;
                            margin: 0 0 5px;
                            input[type="radio"]{
                                bottom: initial;
                                top: 4px;
                                right: initial;
                                left: 0;
                            }
                        }
                    }
                }
                .captcha-box {
                    .g-recaptcha{
                        margin-right: 10px;
                    }
                }
            }
        }
        .wdt_newsLetter{
            margin: 20px 0 0;
        }
    }
    .row.city{
        margin-bottom: 0;
        .more-city-news{
            .news-card{
                max-width: 234px;
                margin-right: 20px;
                padding-left: 0;
                padding-right: 0;
                &:nth-child(3n+3){
                    margin-right: 0;
                }
            }
        }
    }
    .row.photoGallery{
        margin-bottom: 30px;
        .col8{
            .section{
                width: 100%;
            }
        }
    }
    /*movie review listing (only for articlelist)*/
    &.L2.movielist{
        .row.mr0{
            width: 100%; /*its a patch work only for MT, need to remove*/
        }
        .list-trending-topics{
            .scroll_content{
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .ad-movielist{
        .ad1.mrec1{
            margin-top: -20px;
            margin-bottom: 20px;
        }
    }
    .movielisting{
        .news-card.horizontal-lead{
            border-bottom: 1px solid #dfdfdf;
            padding-bottom: 20px;
            margin-bottom: 22px;
            max-width: 48%;
            word-wrap: break-word;
            padding-left: 0;
            padding-right: 0;
            &:nth-child(2n+1){
                margin-right: 4%;
            }
            .img_wrap {
                margin-bottom: 0;
                img{
                    width: 160px;
                }
            }
            .con_wrap{
                .title{
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    max-height: 4.8rem;
                    -webkit-line-clamp: 2;
                    font-weight: bold;
                }
                .cast{
                    font-size: 1.2rem;
                    line-height: 2.0rem;
                    max-height: 6.0rem;
                    word-break: break-all;
                    small{
                        display: inline-block;
                        vertical-align: top;
                        font-weight: bold;
                        margin-right: 5px;
                        font-size: 1.2rem;
                    }
                }
                .rating{
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                    margin-bottom: 10px;
                    b{
                        font-size: 1.0rem;
                        font-weight: bold;;
                        line-height: 1.8rem;
                        display: block;
                    }
                    .rating-stars{
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 5px;
                        .filled-stars.critic{
                            color: #ff001f;
                        }
                        .filled-stars.user {
                            color: #00b3ff;
                        }
                        
                    }
                    .rate_val{
                        display: inline-block;
                        vertical-align: top;
                        font-size: 1.4rem;
                        color: #000;
                        font-family: arial;
                        small{
                            color:#727272;
                            font-size: 1.0rem;
                        }
                    }
                    
                }
                .desc{
                    font-size: 1.2rem;
                    line-height: 2.0rem;
                    max-height: 4.0rem;
                    margin-bottom: 10px;
                    -webkit-line-clamp: 2;
                }
                .time-caption{
                    font-size: 1.0rem;
                    line-height: 1.6rem;
                    font-family: arial;
                }
                span{
                    margin-bottom: 5px;
                }
            }
        }
        &.head{
            padding: 0;
            .news-card.horizontal-lead{
                max-width: initial;
                margin-right: 0;
            }
        }
    }
    .rhs-widget{
        .ad1.mrec2{
            margin-top: 20px;
        }
        /*rhs gold widget, only for NBT*/
        .goldsection{
            li.news-card.horizontal{
                width: 100%;
                margin-right: 0;
            }
        }
    }
    .highlight_most_read{
        background: #e6ecee;
        width: 100%;
        padding: 5px 20px 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        .section{
            background: transparent;
            width: 100%;
            .top_section{
                width: calc(100% - 30px);
                margin: auto;
                h2{
                    border-bottom: 0;
                    span{
                        background: transparent;
                        padding: 0;
                        &:before{
                            border: 0;
                        }
                    }
                }
            }
        }
        .news-card{
            margin-bottom: 0;
        }
    }
    .hideSecName1{
        .news-card.lead{
            border-bottom: 1px solid #dfdfdf;
            margin-bottom: 11px;
            padding-bottom: 11px;
            width: 100%;
        }
    }
    /*data drawer cricket Widget and weather in scroll*/
    .data-drawer {padding-bottom: 20px;}
    .data-drawer .scorecard-listview{margin: 0; width: 100%; overflow: initial; padding: 0; border: 0;}
    .data-drawer .scorecard-listview .miniscorecard{width: 100%; margin: 0 10px 0 0;}
    .data-drawer .drawer-icon{text-align: center; position: absolute; bottom: -15px; left: 0; right: 0;}
    .data-drawer .drawer-icon span{display: inline-block; vertical-align: top; height:10px; width: 10px; border-radius: 50%; margin: 0 5px 0 0; background: #d5d5d5; cursor: pointer;}
    .data-drawer .drawer-icon span.active{background: #000;}
    .data-drawer .wdt-weather {margin: 0; width: 100%; color: #000; box-sizing: border-box;padding: 2% 2%;}
    .data-drawer .wdt-weather h3 {font-size: 1.6rem; line-height: 2.4rem;}

    .btf-placeholder{margin-bottom: 20px;}

    .fake-horizontalView {
        margin:0;
        border-bottom: 0;
        .scroll_content{
            overflow: hidden;
            .fake-listview{
                width: 32%;
                margin-right: 2%;
                .dummy-img {
                    height: 118px;
                }
                &:last-child{
                    margin: 0;
                }
            }
        }
    }

    /*astro widget in articlelist*/
    .astro_widget.in-AL{
        .slider{
            .btnNext{right:-7px}
            .btnPrev{left:-7px}
        }
    }
    &.gn{
        .rating_txt {
            display: block;
            color: #505050;
            font-size: 1.2rem;
            margin-top: 5px;
            b {
                font-family: arial;
                font-size: 1.2rem;
                font-weight: normal;
                small {
                    color: #000;
                    font-size: 1.4rem;
                    font-weight: bold;
                }
            }
        }
        .more_brands{
            display: block;
            margin-top: 5px;
            line-height: 1.8rem;
            a {
                color: #1f81db;
                font-size: 1.0rem;
                line-height: 1.8rem;
                position: relative;
                display: inline-block;
                vertical-align: top;
                &:after {
                    content: '|';
                    margin: 0 5px;
                }
                &:last-child{
                    &:after{
                        content: '';
                        margin: 0;
                    }
                }
            }
        }
        /*
        .news-card{
            &.lead{
                .rating_txt {
                    font-size: 1.4rem;
                    b{
                        small{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        */
    }
    /*Gold Widget*/
    .goldsection {
        margin-bottom: 20px;
        .section .top_section {
            h2 a {
                color: #e49f32;
            }
        }
        li.news-card.horizontal {
            width: 49%; 
            margin-right: 2%; 
            padding-bottom: 0; 
            position: relative; 
            padding-right: 35px;
            box-sizing: border-box;
            border: 0;
            &:nth-child(2n+2) {
                margin-right: 0;
            }
            .img_wrap img {
                width: 80px;
            }
            .con_wrap {
                width: calc(100% - 90px);
                display: inline-block;
                .section_name {display: none;}
                a {
                    display: block;
                    &:after {
                        @extend .include-desktop-sprite;
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 32px;
                        height: 31px;
                        background-position: -230px -197px;
                    }
                }
            }

        }
    }
    /*web stories*/
    .wdt_webstories{
        .top_section {
            h2 {
                a {
                    position: relative; 
                    padding-left: 30px;
                    &:after {
                        content: ''; 
                        position: absolute; 
                        top: 2px; left: 0; 
                        @extend .include-desktop-sprite;
                        background-position: -117px -235px;
                        height: 22px; 
                        width: 22px;
                    }
                }
            }
        }
        .slider {
            .slider_content li {
              .img_wrap{
                a {
                    position: relative;
                    display: block;
                    &:after {
                      content: '';
                      border-top: 3px #fff dashed;
                      height: 20px;
                      left: 10px;
                      right: 10px;
                      margin: auto;
                      position: absolute;
                      bottom: 0;
                    }
                    &:before {
                        content: '';
                        @extend .include-desktop-sprite;
                        background-position: -275px -195px;
                        position: absolute;
                        top:auto;
                        left: 0;
                        right: 0;
                        bottom: 40px;
                        margin: auto;
                        width: 38px;
                        height: 34px;
                        background-repeat: no-repeat;
                    }
                    img {
                      border-radius: 8px;
                      overflow: hidden;
                      width: 150px;
                      height: 250px;
                    }
                  }
              }
              .con_wrap {
                .text_ellipsis {
                    color: #000;
                    font-size: 1.2rem;
                    line-height: 2.0rem;
                    max-height: 6.0rem;
                    -webkit-line-clamp: 3;
                }
              }
            }
            .btnNext, .btnPrev{top:105px}
          }
    }
    .nbtblogs .news-card.horizontal, .readerblogs .news-card.horizontal, .cr .news-card{
        .auname, .auname a{
            font-size: 1.0rem;
            color: #575757;
            padding: 0 0 0 5px;
            text-transform: capitalize;
        }
    }
    .nbtblogs .news-card.horizontal, .readerblogs .news-card.horizontal{
        img{
            max-width: 80px; 
            height: 60px; 
            width: auto;
        }
    }  
    /*author name for NBT artiiclelist*/
    &.articlelist{
        .news-card{
            &.lead{
                .img_wrap{
                    img[src*="blogs.navbharattimes"]{
                        max-height: 235px;
                    }
                }
            }
            &.vertical{
                .img_wrap{
                    img[src*="blogs.navbharattimes"]{
                        max-height: 106px;
                    }
                }
            }
            .con_wrap{
                .auname, .auname a{
                    font-size: 1.0rem;
                    line-height: 1.8rem;
                    font-family: arial;
                    color: #999;
                    display: block;    
                }
                .auloc{
                    color: #b9b9b9;
                    font-size: 0.9rem;
                    line-height: 1.4rem;
                    font-family: arial;
                    display: block;
                    margin-top: 5px;
                }
            }
        }
        .withPetrolWidget{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .section{
                width: 60%;
                margin: 0;
                .top_section{
                    margin: 0;
                }
            }
        }
        /*petrol widget*/
        .pdwidget {
            overflow: hidden;
            .checplist {
            display: inline-block;
            vertical-align: top;
            text-transform: uppercase;
            font-family: arial;
            font-size: 0.85rem;
            text-align: right;
            background: #000;
            color: #fff;
            padding: 3px 5px 2px;
                .tdate {
                    margin: 0 0 0 4px;
                }
                .cp {
                    padding-top: 2px;
                    font-weight: bold;
                }
            }
            .pd, .pp {
                display: inline-block;
                vertical-align: top;
                padding: 0 10px;
                background: #fff;
                color: #333;
                height: 29px;
                line-height: 29px;
                border:1px solid #d6d6d6;
                border-right:0;
                svg{
                    display: inline-block;
                    vertical-align: top;
                    margin: 6px 8px 0 0;
                }
            }
        
            .pd h3, .pp h3 {
                display: inline-block;
                margin: 0 10px 0 0;
                font-size: 1.1rem;
                font-weight: bold;
                vertical-align: top;
                line-height: 31px;
            }
        
            .pd span, .pp span {
                font-weight: bold;
                font-size: 1.1rem;
                font-family: arial;
                color: #000;
                vertical-align: top;
            }
        }
        .box-item{
            &.mr15{
                margin: 0 0 15px;
            }
        }
        .top_atf{
            margin: 0 0 20px;
            position: relative;
            .caption.more{
                -webkit-line-clamp: unset;
                max-height: none;
                transition: max-height .4s ease-in;
            }
            .caption{
                font-size: 1.4rem; 
                line-height: 2.2rem;
                max-height: 4.4rem;
            }
            
            .rdmore {
                cursor: pointer;
                font-size: 1.4rem;
                color:#1f81db;
                padding: 5px;
                background: #fff;
                position: absolute;
                right: 0;
                bottom: -3px;
            }
        }
        .btf_con{
            font-size: 1.2rem;
            line-height: 2.0rem;
            margin: 20px 0;
            background: #FFF;
        }
    }
    /*ipl widget*/
    .row.ipl{
        .wdt_pointsTable{
            .section .top_section{margin-top:0}
            .table_layout {width: 100%; overflow: hidden;}
            .table_layout table tr:first-child th{font-size:1.0rem}
        }
        .wdt_capcard{
            width:100%;
            .section{
                width:100%
            }
            .orange, .purple{
                width:100%;
                .news-card{
                    background: #f5f5f5;
                    border:0;
                    padding: 0;
                    margin: 0;
                    font-family: Arial, Helvetica, sans-serif;
                    .img_wrap{
                        margin:0;
                        img{
                            width:99px;
                            max-height:74px;
                        }
                    }
                    .con_wrap{
                        padding: 5px 10px;
                        .name{
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                            display: block;
                        }
                        .des{
                            font-size: 1.1rem;
                            display: block;
                            .caps_icon{
                                width: 25px;
                                height: auto;
                                vertical-align: middle;
                                margin: 0 0 0 5px;
                            }
                        }
                        .tm{
                            font-size:1.0rem;
                            display: block;
                        }
                    }
                }
                ul{
                    display: flex;
                    background: #ededed;
                    width:100%;
                    li{
                        width: 20%;
                        text-align: center;
                        color: #000;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px;
                        font-family: Arial, Helvetica, sans-serif;  
                        padding: 5px 0 3px;  
                        b{
                            display: block;
                            color: #717171;
                        }
                    }
                }
            }
            .orange{
                .caps_icon{
                    color: #ff6000;
                }
            }
            .purple{
                .caps_icon{
                    color: #8c56e2;
                }
            }
        }
        .col4.pd0{
            .wdt_capcard{
                padding:0 15px
            } 
        }
        .mini_schedule{
            margin-top: 10px;
        }
    }
    .city_drawer{
        .selectCity_wrapper{width: 100%;}
        .wdt_select_city{
            background: #ffc000;
            border-radius: 5px;
            padding: 6px 12px 12px 12px;
            width: 100%;
            box-sizing: border-box;
            height: auto;
            z-index: 1004;
            .sel-city-btn{
                display: block;
                h4{
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
                a, span{
                    background: #fff;
                    height: 35px;
                    border-radius: 5px;
                    border:0;
                    z-index: 1004;
                    justify-content: flex-start;
                    svg{
                        display: none;
                    }
                }
            }
            .sel-city-content{
                left: auto;
                right: -358px;
                top:78px;
            }
        }
    }
}

body[pagetype='articlelist'] .desktop_body .trending-bullet{margin-bottom: 30px;}




