@import '../sprite';
.desktop_body, .mobile_body{
    .videoshow-container{
        .top_wdt_video{
            background: #282e34;
            padding: 20px;
            margin: 0 0 20px;
            .section{
                background: transparent;
                margin: 10px 0 10px;
                width: 100%;
                h1{
                    border-bottom: 0;
                    margin: 0;
                    font-size: 1.6rem;
                    height: auto;
                    span{
                        color: #fff;
                        height: auto;
                        line-height: 2.6rem;
                        &:before{
                            border: 0;
                        }
                    }
                }
            }
            .row {
                .col8{
                    .thumb_video{
                        .player_container{
                            position: relative;
                            .videoicons{
                                position: absolute !important;
                                top:0;
                            }
                        }
                    }
                    .con_social{
                        display: flex; 
                        width: 100%;
                        justify-content: flex-end;
                        position: relative;
                        .yContainer, .youtube-iframe{
                            margin-top: 15px;
                            margin-right: auto;
                        }
                        .wdt_social_share{
                            margin-top: 15px;
                            display: block;
                            span {
                                width: 34px;
                                height: 26px;
                                display: inline-block;
                                vertical-align: top;
                                margin: 0 0 0 5px;
                                cursor: pointer;
                                .iconsquare {
                                    width: 34px;
                                    height: 26px;
                                    svg {width: 18px; height: 18px;}
                                }
                            }
                        }
                        .wdt_timespoints{
                            width: 90px;
                            margin-top: 10px;
                            &:empty {width: auto;}
                            .tpwidget-two .tp-logo{
                                display: none;
                            }
                            .tpwidget-two .tpwidget-float-head{
                                line-height: 38px;
                            }
                        }
                    }
                    
    
                    .con_wrap{
                        margin: 15px 0 0;
                        .text_ellipsis{
                            font-size: 1.2rem;
                            color: #bbb;
                            a{
                                color: #ededed;
                            }
                            ul {
                                padding: 0 0 10px 20px;
                                li{
                                    list-style: disc;
                                }
                            }
                            ol {
                                padding: 0 0 10px 20px;
                                li{
                                    list-style: decimal;
                                }
                            }
                        }
                        .more_items{
                            display: block;
                            margin: 15px 0 0 0;
                            font-family: arial;
                            span{
                                display: inline-block;
                                vertical-align: top;
                                color: #868686;
                                font-size: 1.0rem;
                                &:after{
                                    content:'|';
                                    margin: 0 5px;
                                }
                                &:last-child{
                                    &:after{
                                        content:'';
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .related-links{
                margin: 15px 0 0;
                padding: 15px 0 0;
                border-top: 1px solid #484848;
                width: 100%;
                .keywords {
                    h3{
                        display: inline-block; 
                        vertical-align: top; 
                        margin-right: 10px;
                        margin-bottom: 5px;
                        font-size: 1.2rem;
                        line-height: 2.0rem;
                        color: #bbb;
                        font-weight: normal;
                    }
                    a{
                        font-size: 1.0rem;
                        line-height: 1.9rem;
                        color: #fff;
                        font-weight: bold;
                        display: inline;
                        vertical-align: top;
                        &:after{
                            content:'|';
                            margin: 0 3px;
                            font-size: 0.9rem;
                            vertical-align: top;
                        }
                        &:last-child{
                            &:after{
                                content: '';
                                margin: 0;
                            }
                        }
                    }
                    .scroll_content{
                        display: inline-block;
                        vertical-align: top;
                        width: auto;
                    }
                }
                .webtitle{
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: #fff;
                    margin: 15px 0 0 0;
                    a{
                        color:#1f81db;
                    }
                    b{
                        color: #bbb;
                    }
                }
            }
        }
        .nbt-list{
            display: flex;
            flex-wrap: wrap;
            li{
                background: transparent;
                width: 49%;
                margin: 0 2% 20px 0;
                padding: 0;
                display: inline-block;
                vertical-align: top;
                position: relative;
                box-sizing: border-box;
                &:nth-child(2n+2){
                    margin-right: 0;
                }
                .img_wrap{
                    width: auto;
                    display: block;
                    position: relative;
                    .video_icon{
                        width: 40px;
                        height: 40px;
                        @extend .videoicon; 
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .img_wrap[data-tag]{
                    &:after {
                        font-family: arial;
                        font-size: 1.1rem;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        padding: 2% 3%;
                        line-height: 1.2rem;
                        background:rgba(0, 0, 0, 0.6);
                        content: attr(data-tag);
                        text-align: center;
                        color: #fff;
                        z-index:10
                    }
                }
                .con_wrap{
                    margin: 10px 0 0 0;
                    padding: 0;
                    display: block;
                    .text_ellipsis{
                        font-size: 1.4rem;
                        line-height: 2.2rem;
                        max-height: 4.4rem;
                    }
                }
            }
        }
        .section_videos{
            position: relative;
            background: #efefef;
            padding:15px 15px 0;
            .nbt-list{
                position: relative;
                z-index: 1;
            }
            .more_icon{
                position: absolute;
                bottom:-36px;
                left: 0;
                right: 0;
                margin: auto;
                width: 78px;
                height: 78px;
                border-radius: 50%;
                background: #efefef;
                text-indent: -10000px;
                cursor: pointer;
                &:after {
                    content: '';
                    display: block;
                    height: 12px;
                    width: 12px;
                    margin: auto;
                    position: absolute;
                    right: 0px;
                    bottom: 18px;
                    left: 0;
                    -ms-transform: rotate(134deg);
                    transform: rotate(134deg);
                    border-top: 3px solid #000;
                    border-right: 3px solid #000;
                }
            }
        }
        .other_section_video{
            position: relative;
            background: #efefef;
            padding: 15px 20px 20px;
            margin-bottom: 50px;
            h2{
                font-size: 2.0rem;
                margin: 0 0 15px;
            }
            .slider{
                .con_wrap .text_ellipsis{
                    color: #000;
                }
                .btnPrev{top:70px}
                .btnNext{top:70px}
            }
        }
        .section_most_viewed{
            margin: 0 0 30px;
        }
        .ad-ctn{
            [data-plugin="ctn"]{
                margin: 0 !important;
                padding: 0;
                border: 0 !important;
                iframe{
                    background: transparent;
                }
            }
        }
        &.hypervideo{
            .top_wdt_video{
                padding:0;
                background: #fff;
                /*
                .default-outer-player{
                    background: #282e34;
                    padding: 20px;
                }
                */
                .section h1 span{
                    color:#000;
                }
                .row .col8 {
                    .con_wrap {
                        .text_ellipsis{
                            color: #333;
                            a{
                                color: #1f81db;
                            }
                        }
                        .more_items {
                            margin: 0;
                        }
                    }
                    .enable-read-more .second_col .readmore:after{
                        border-color: #000;
                        height: 8px;
                        width: 8px;
                        top: 8px;
                    }
                }
                .related-links{
                    border-top: 2px solid #dfdfdf;
                    .keywords {
                        h3{
                            color:#000;
                            font-weight: bold;
                        }
                        a{
                            color: #333;
                        }
                    }
                    .webtitle, .webtitle b{
                        color: #000;
                    }
                }
                .vid_embbed{
                color:#000;
                }
                .rhs-videolist{
                    .list-horizontal.video{
                        height: auto;
                        overflow-y: hidden;
                    }
                }
            }
            .ad1.btf{
                margin-bottom: 20px;
            }
            .keywords_wrap{
                margin-top: 0;
            }
        }
    }
    
}  

.desktop_body{
    .videoshow-container {
        .section_videos{
            margin-bottom: 50px;
        }
    }
}
.mobile_body{
    .videoshow-container{ 
        background: #fff; 
        overflow: hidden;
        .section{
            width: 100%;
            .top_section{
                margin: 0 0 4%;
            }
        }
        .top_wdt_video{
            padding:20px 0 0;
            .row {
                background: transparent;
                .col8{
                    flex: 0 0 100%;
                    max-width: 100%;
                    .thumb_video{
                        margin: auto;
                    }
                    .con_social{
                        margin: 0 3%;
                        display: block;
                        .youtube-iframe{
                            display: flex;
                            float: right;
                        }
                        .wdt_social_share{
                            background: transparent;
                            text-align: right;
                        }
                        .share_icon{
                            position: initial;
                            display: inline-block;
                            vertical-align: top;
                            background: #585858;
                            width: 35px;
                            height: 35px;
                            margin: 10px 0 0;
                            border-radius: 50%;
                            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
                            span{
                                padding: 8px;
                                svg{
                                    width: 15px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .con_wrap{
                        margin:10px 3%;
                        .more_items{
                            margin-top: 10px;
                        }
                    }
                }
            }
            .related-links{
                margin:10px 3% 0;
                padding: 0;
                border: 0;
                .webtitle{
                    margin: 10px 0;
                }
            }
        }
        .nbt-list{
            display: flex;
            flex-wrap: wrap;
            li{
                background: transparent;
                width:48%; 
                min-height: 100px;
                margin: 0 0 4% 0;
                padding: 0;
                display: inline-block;
                vertical-align: top;
                position: relative;
                box-sizing: border-box;
                &:nth-child(2n+2) {margin-left: 4%}
            }
        }
        .section_videos{
            padding: 4% 4% 0;
        }
        .section_most_viewed{
            margin: 0 4% 4%;
            width: 100%;
            overflow: hidden;
            overflow-x: auto;
            height: auto;
            ul{
                white-space: nowrap;
                display: block;
                li{
                    white-space: normal;
                    width: 225px;
                    margin-right: 4%;
                    &:nth-child(2n+2) {margin-left: 0; margin-right: 4%;}
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .other_section_video{
            overflow: hidden;
            padding: 15px 4%;
            margin-bottom: 0;
            .slider{
                ul{
                    li{
                        &:last-child{
                            .slide{
                                &:last-child{padding:0 !important}
                            }
                        }
                    }
                }
            }
        }
        .related-links{
            margin-bottom: 4%;
        }
    }
}

/*embed only for NBT start*/
.vid_embbed {
    color: #fff;
    font-size: 1.0rem;
    text-transform: uppercase;
    margin: 22px auto 0 0;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    &:before, &:after {
        content: '';
        height: 8px;
        width: 8px;
        top: 8px;
        border: solid #e03030;
        border-width: 0 2px 2px 0;
        position: absolute;
        top:2px;
    }
    &:after{
        transform: rotate(314deg);
        left:6px;
    }
    &:before{
        transform: rotate(134deg);
        left:0;
    }
}
 
.emmbedUrl {
    position: absolute;
    display: block;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 40%;
    background: #fff;
    z-index: 9999;
    height: 130px;
    #emebecodeval {
        word-wrap: break-word;
        padding: 20px;
        font-family: arial;
        font-size: 13px;
        height: 59px;
        overflow-y: scroll;
    }
    .emmbedhead {
        background: #403f3f;
        padding: 5px 10px;
        color: #fff;
        overflow: hidden;
        .txt {
            font-size: 15px;
            color: #fff;
            font-family: arial;
        }
        .close_icon {
            top: 8px;
            right: 8px;
        }
    }
}
/*embed only for NBT end*/
  
  